<p align="justify">
    The methods for declaring strings with single quotes and double quotes are covered in this section, and you will then learn how to declare the same in template literals.
</p>
<br>
<p align="justify">
    A string can be written in JavaScript using single quotes (<code>' '</code>)
</p>
<pre>
    <code class="javascript">
    const singleQuoted  = 'Houston, we have a problem. - Jim Lovell'  
    </code>
</pre>
<p align="justify">
    A string is also possible to be provided in double quotes (<code>" "</code>)
</p>
<pre>
    <code class="javascript">
    const doubleQuoted = "If you want something done right, do it yourself. - Charles-Guillaume Étienne"
    </code>
</pre>
<p align="justify">
    In contrast to other languages that may support interpolation in one type of string but not the other, there is no significant difference in JavaScript between single-quoted and double-quoted strings. 
    Interpolation in this sense refers to the assessment of a placeholder as a dynamic component of a string.
</p>
<br>
<p align="justify">
    While using single- or double-quoted strings largely depends on choice, each form of string only has to escape a specific kind of quote when used together:
</p>
<pre>
    <code class="javascript">
    // Escaping a single quote in a single-quoted string
    const singleQuoted = '"We don\'t need anything, we only need a thing; we must be more diligent." - Mustafa Kemal Atatürk'
    
    // Escaping a double quote in a double-quoted string
    const doubleQuoted = "\"We don't need anything, we only need a thing; we must be more diligent.\" - Mustafa Kemal Atatürk"
    
    console.log(singleQuoted);
    console.log(doubleQuoted);
    </code>
</pre>
<p align="justify">
    <strong>
        Output:
    </strong>
</p>
<pre>
    <code class="javascript">
    "We don't need anything, we only need a thing; we must be more diligent." - Mustafa Kemal Atatürk
    "We don't need anything, we only need a thing; we must be more diligent." - Mustafa Kemal Atatürk
    </code>
</pre>
<p align="justify">
    In contrast, template literals are written by enclosing the string in the grave accent (<code>`</code>)or backtick character.
</p>
<pre>
    <code class="javascript">
    const stringTemplates = `I think therefore I am. - Rene Descartes`
    </code>
</pre>
<p align="justify">
    <strong>
        Output:
    </strong>
</p>
<pre>
    <code class="javascript">
    I think therefore I am. - Rene Descartes
    </code>
</pre>
<p align="justify">
    They don’t necessarily need to escape single or double quotations.
</p>
<pre>
    <code class="javascript">
    const stringTemplates = `"We don't need anything, we only need a thing; we must be more diligent." - Mustafa Kemal Atatürk`
    </code>
</pre>
<p align="justify">
    <strong>
        Output:
    </strong>
</p>
<pre>
    <code class="javascript">
    "We don't need anything, we only need a thing; we must be more diligent." - Mustafa Kemal Atatürk
    </code>
</pre>
<p align="justify">
    They still have to escape backticks, though.
</p>
<pre>
    <code class="javascript">
    const stringTemplates = `Template literals use the \` character.`
    </code>
</pre>
<p align="justify">
    <strong>
        Output:
    </strong>
</p>
<pre>
    <code class="javascript">
    Template literals use the ` character.
    </code>
</pre>
