<p align="justify">
    Tagged templates are one of the more advanced form of <strong>template literals.</strong> Tagged template literals allow us to parse template literals with a function.
</p>
<br>
<p align="justify">
    The first argument of the tag function contains an array having string values, and the remaining arguments are related to the expression. The writing of tagged 
    literal is similar to the function definition, but the difference occurs when the tagged literals get called. There are no parentheses <strong>()</strong> required to call a literal.
</p>
<br>
<p align="justify">
    Let us see the illustration for the tagged templates.
</p>
<pre>
    <code class="javascript">
    function TaggedLiteral(str) {   
        console.log(str);   
    }   
    
    TaggedLiteral `Hello Team DefineX`; 
    </code>
</pre>
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    [ 'Hello Team DefineX' ]
    </code>
</pre>
<p align="justify">
    We can also pass the values in a tagged literal. The value can be the result of some expression or the value fetched from the variable. We can see the illustration for 
    the same in the following code:
</p>
<pre>
    <code class="javascript">
    function TaggedLiteral(str, val1, val2, val3, val4, val5) {
        console.log(str);
        console.log(val1 + " " + val2 + ", " + val3 + ", " + val4 + ", " + val5);
    }
    
    let text = 'Team DefineX core values are';   
    TaggedLiteral`dfxCoreValues ${text} ${"Driven By Impact"} ${"Best Enviroment for Best People"} ${"Future in Mind"} ${"Define Next"}`;  
    </code>
</pre>
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    ['dfxCoreValues ', ' ', ' ', ' ', ' ', ' ']
    Team DefineX core values are Driven By Impact, Best Enviroment for Best People, Future in Mind, Define Next
    </code>
</pre>
<p align="justify">
    An array of string values are passed as the first argument of a tag function. You could also pass the values and expressions as the remaining arguments. For example,
</p>
<pre>
    <code class="javascript">
    const name = 'Team DefineX';
    const age = 21;

    function tagExample(strings, nameValue) {
        let str0 = strings[0]; // Hello
        let str1 = strings[1]; // , You are not authorized to view this page
        let str2 = strings[2]; // , You are authorized to view this page

        if(age < 21) {
            return `${str0}${nameValue}${str1}`;
        } else {
            return `${str0}${nameValue}${str2}`;
        }
    }

    // creating tagged literal
    // passing argument name
    const result = tagExample`Hello ${name}, You are not authorized to view this page ${""}, You are authorized to view this page`;

    console.log(result);
    </code>
</pre>
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    Hello Team DefineX, You are authorized to view this page
    </code>
</pre>
<p align="justify">
    In this way, you can also pass multiple arguments in the tagged temaplate.
</p>