<p align="justify">
    The <code>+</code> operator was used prior to JavaScript ES6 to concatenate variables and expressions into a string. For instance,
</p>
<pre>
    <code class="javascript">
    const company = 'Team DefineX';
    const training = 'Javascript Training'
    console.log('Welcome to ' + company + ' ' + training);
    </code>
</pre>
<p align="justify">
    <strong>
        Output:
    </strong>
</p>
<pre>
    <code class="javascript">
    Welcome to Team DefineX Javascript Training.
    </code>
</pre>
<p align="justify">
    An expression can be embedded into a <strong>placeholder</strong> using template literals. A placeholder is denoted by the symbol <code>${}</code>, with anything inside the curly 
    brackets being interpreted as JavaScript and everything outside of them as a string:
</p>
<pre>
    <code class="javascript">
    const company = 'Team DefineX';
    const training = 'Javascript Training'
    const literalString = `Welcome to ${company} ${training}.`
    </code>
</pre>
<p align="justify">
    The following is displayed on the console when <code>literalString</code> is logged there:
</p>
<pre>
    <code class="javascript">
    Welcome to Team DefineX Javascript Training.
    </code>
</pre>
<p align="justify">
    The creation of dynamic URLs is a usual means of embedding values in a string. This can be difficult with concatenation. For instance, the function to generate an 
    <a href="https://tools.ietf.org/html/rfc6749">OAuth</a> access string is declared as follows:
</p>
<pre>
    <code class="javascript">
    function createOAuthString(host, clientId, scope) {
        return host + '/login/oauth/authorize?client_id=' + clientId + '&scope=' + scope
    }
  
    createOAuthString('https://github.com', 'abc123', 'repo,user')
    </code>
</pre>
<p align="justify">
    The following URL will appear in the console after this function is logged:
</p>
<pre>
    <code class="javascript">
    https://github.com/login/oauth/authorize?client_id=abc123&scope=repo,user
    </code>
</pre>
<p align="justify">
    String interpolation eliminates the need to remember where to place the concatenation operator and the opening and closing strings. The similar example with template literals 
    is shown here:
</p>
<pre>
    <code class="javascript">
    function createOAuthString(host, clientId, scope) {
        return `${host}/login/oauth/authorize?client_id=${clientId}&scope=${scope}`
    }

    createOAuthString('https://github.com', 'abc123', 'repo,user')
    </code>
</pre>
<p align="justify">
    This will produce the same results as the concatenation example:
</p>
<pre>
    <code class="javascript">
    https://github.com/login/oauth/authorize?client_id=abc123&scope=repo,user
    </code>
</pre>
<p align="justify">
    Not simply variables but also entire expressions, like the sum of these two values, can be interpolated:
</p>
<pre>
    <code class="javascript">
    const multiply = (x, y) => x * y
    const x = 10
    const y = 77
    const literalString = `The multiply of ${x} and ${y} is ${multiply(x, y)}.`

    console.log(literalString)
    </code>
</pre>
<p align="justify">
    The function <code>multiply</code> as well as the variables <code>x</code> and <code>y</code> are defined in this code, which then applies both to a string. The following 
    will be displayed in the log result:
</p>
<pre>
    <code class="javascript">
    The multiply of 10 and 77 is 770.
    </code>
</pre>
<p align="justify">
    This is especially helpful when using <strong>ternary operators</strong>, which permit conditionals inside of strings:
</p>
<pre>
    <code class="javascript">
    const age = 19
    const message = `You are ${age < 21 ? 'not' : ''} authorized to view this page`
    console.log(message)
    </code>
</pre>
<p align="justify">
    Depending on whether the value of <code>age</code> is over or under <code>21</code>, the logged message will change. In this case, it is <code>19</code>, so the output will be 
    logged as follows:
</p>
<pre>
    <code class="javascript">
    You are not authorized to view this page
    </code>
</pre>