<p align="justify">
    In this part, you'll go over how to declare strings with multiple lines before ES6, and then understand how template literals can make it easier.
</p>
<br>
<p align="justify">
    In the past, the concatenation operator was used in text editors to create strings that span multiple lines. But it wasn't always an easy procedure. The 
    following string concatenation appeared to span several lines:
</p>
<pre>
    <code class="javascript">
    const dfxCoreValues = 
        'Driven By Impact' + 
        'Best Enviroment for Best People' + 
        'Future in Mind' + 
        'Define Next'
    </code>
</pre>
<p align="justify">
    This might let you split the string into smaller lines and put it on multiple lines in the text editor, but it has minimal impact on how the string will be displayed. 
    In this case, newlines or spaces won't be used to divide the strings, which will all be on the same line. The following would appear in the console if you logged <strong>dfxCoreValues</strong>:
</p>
<pre>
    <code class="javascript">
    Driven By Impact Best Enviroment for Best People Future in Mind Define Next
    </code>
</pre>
<p align="justify">
    To continue the string over multiple lines, use the backslash character (<code>\</code>):
</p>
<pre>
    <code class="javascript">
    const dfxCoreValues =
        'Driven By Impact\
        Best Enviroment for Best People\
        Future in Mind\
        Define Next'
    </code>
</pre>
<p align="justify">
    In the output, the string will still be on one line, but any indentation will be retained as whitespace:
</p>
<pre>
    <code class="javascript">
    Driven By Impact        Best Enviroment for Best People        Future in Mind        Define Next
    </code>
</pre>
<p align="justify">
    A true multi-line string can be made by using the newline character (<code>\n</code>):
</p>
<pre>
    <code class="javascript">
    const dfxCoreValues = 
        'Driven By Impact\n' + 
        'Best Enviroment for Best People\n' + 
        'Future in Mind\n' + 
        'Define Next'
    </code>
</pre>
<p align="justify">
    The following will show up when logged to the console:
</p>
<pre>
    <code class="javascript">
    Driven By Impact
    Best Enviroment for Best People
    Future in Mind
    Define Next
    </code>
</pre>
<p align="justify">
    However, it can be irrational to use newline characters to designate multi-line strings. Using template literals, however, can often result in a multi-line string that is much simpler 
    to create. No concatenation, newline, or backslash characters are required. By default, just typing the string on multiple lines and pressing <code>enter</code> works:
</p>
<pre>
    <code class="javascript">
    const dfxCoreValues = `Driven By Impact
Best Enviroment for Best People
Future in Mind
Define Next`
    </code>
</pre>
<p align="justify">
    Input and output are identical when logging this to the console:
</p>
<pre>
    <code class="javascript">
    Driven By Impact
    Best Enviroment for Best People
    Future in Mind
    Define Next
    </code>
</pre>
<p align="justify">
    It's crucial to avoid indenting any additional lines in the string if that is not what is required because any indentation will be kept. Consider the following, for instance:
</p>
<pre>
    <code class="javascript">
    const dfxCoreValues = `Driven By Impact
                    Best Enviroment for Best People
                    Future in Mind
                    Define Next`
    </code>
</pre>
<p align="justify">
    Though this method of writing the line may make the code easier to comprehend by humans, the output won't be:
</p>
<pre>
    <code class="javascript">
    Driven By Impact
                    Best Enviroment for Best People
                    Future in Mind
                    Define Next
    </code>
</pre>