<p align="justify">
    Before JavaScript ES6, you would use the <code>+</code> operator to concatenate variables and expressions in a string. For example,
</p>
<pre>
    <code class="javascript">
    const name = 'Jack';
    console.log('Hello ' + name); // Hello Jack
    </code>
</pre>
<p align="justify">
    With template literals, an expression can be embedded in a <em>placeholder</em>. A placeholder is represented by <code>${}</code>, with anything 
    within the curly brackets treated as JavaScript and anything outside the brackets treated as a string:
</p>
<pre>
    <code class="javascript">
    const method = 'interpolation'
    const dynamicString = `This string is using ${method}.
    </code>
</pre>
<p align="justify">
    When <code>dynamicString</code> is logged to the console, the console will show the following:
</p>
<pre>
    <code class="javascript">
    Output
    This string is using interpolation.
    </code>
</pre>
<p align="justify">
    One common example of embedding values in a string might be for creating dynamic URLs. With concatenation, this can be cumbersome. For example, 
    the following declares a function to generate an <a href="https://tools.ietf.org/html/rfc6749">OAuth</a> access string:
</p>
<pre>
    <code class="javascript">
    function createOAuthString(host, clientId, scope) {
        return host + '/login/oauth/authorize?client_id=' + clientId + '&scope=' + scope
    }
  
    createOAuthString('https://github.com', 'abc123', 'repo,user')
    </code>
</pre>
<p align="justify">
    Logging this function will yield the following URL to the console:
</p>
<pre>
    <code class="javascript">
    Output
    https://github.com/login/oauth/authorize?client_id=abc123&scope=repo,user
    </code>
</pre>
<p align="justify">
    Using string interpolation, you no longer have to keep track of opening and closing strings and concatenation operator placement. Here is the same example with template literals:
</p>
<pre>
    <code class="javascript">
    function createOAuthString(host, clientId, scope) {
        return `${host}/login/oauth/authorize?client_id=${clientId}&scope=${scope}`
    }

    createOAuthString('https://github.com', 'abc123', 'repo,user')
    </code>
</pre>
<p align="justify">
    This will have the same output as the concatenation example:
</p>
<pre>
    <code class="javascript">
    Output
    https://github.com/login/oauth/authorize?client_id=abc123&scope=repo,user
    </code>
</pre>
<p align="justify">
    Entire expressions can be interpolated, not just variables, such as in this example of the sum of two numbers:
</p>
<pre>
    <code class="javascript">
    const sum = (x, y) => x + y
    const x = 5
    const y = 100
    const string = `The sum of ${x} and ${y} is ${sum(x, y)}.`

    console.log(string)
    </code>
</pre>
<p align="justify">
    This code defines the <code>sum</code> function and the variables <code>x</code> and <code>y</code>, then uses both the function and the variables in a string. The logged result will show the following:
</p>
<pre>
    <code class="javascript">
    Output
    The sum of 5 and 100 is 105.
    </code>
</pre>
<p align="justify">
    This can be particularly useful with <strong>ternary operators</strong>, which allow conditionals within a string:
</p>
<pre>
    <code class="javascript">
    const age = 19
    const message = `You can ${age < 21 ? 'not' : ''} view this page`
    console.log(message)
    </code>
</pre>
<p align="justify">
    The logged message here will change depnding on whether the value of <code>age</code> is over or under <code>21</code>. Since it is <code>19</code> in this example, the following output will be logged:
</p>
<pre>
    <code class="javascript">
    Output
    You can not view this page
    </code>
</pre>