<p align="justify">
    Template literals were added to the JavaScript language in the <a href="http://www.ecma-international.org/ecma-262/6.0/">2015 edition of the ECMAScript specification (ES6)</a>. Using placeholders to embed expressions in a 
    string and constructing multi-line strings more quickly are just two of the significant new features added by template literals, a new way to create strings in JavaScript.  In addition, you can operate on the expressions 
    included in a string thanks to a sophisticated feature called tagged template literals. Developers now have more options for manipulating strings because all of these features help you create dynamic strings that may be 
    utilized in functions that edit <a href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML components</a> or for <a href="https://developer.mozilla.org/en-US/docs/Learn/Common_questions/What_is_a_URL">URLs</a>.
</p>
<br>
<div style=" display: block; margin-left: auto; margin-right: auto; width: 100%;">
    <img src="/_includes/images/templateliterals.png" />
</div>