<p align="justify">
    This section will review how to declare strings with single quotes and double quotes, and will then show you how to do the same with template literals.
</p>
<br>
<p align="justify">
    In JavaScript, a string can be written with single quotes (<code>' '</code>)
</p>
<pre>
    <code class="javascript">
    const singleQuoted  = 'Houston, we have a problem. - Jim Lovell'  
    </code>
</pre>
<p align="justify">
    A string can also be written with double quotes (<code>" "</code>)
</p>
<pre>
    <code class="javascript">
    const doubleQuoted = "If you want something done right, do it yourself. - Charles-Guillaume Étienne"
    </code>
</pre>
<p align="justify">
    There is no major difference in JavaScript between single- or double-quoted strings, unlike other languages that might allow <em>interpolation</em> in one type of string but not the other. 
    In this context, interpolation refers to the evaluation of a placeholder as a dynamic part of a string.
</p>
<br>
<p align="justify">
    The use of single- or double-quoted strings mostly comes down to personal preference and convention, but used in conjunction, each type of string only needs to escape its own type of quote:
</p>
<pre>
    <code class="javascript">
    // Escaping a single quote in a single-quoted string
    const singleQuoted = '"We don\'t need anything, we only need a thing; we must be more diligent." - Mustafa Kemal Atatürk'
    
    // Escaping a double quote in a double-quoted string
    const doubleQuoted = "\"We don't need anything, we only need a thing; we must be more diligent.\" - Mustafa Kemal Atatürk"
    
    console.log(singleQuoted);
    console.log(doubleQuoted);
    </code>
</pre>
<p align="justify">
    <strong>
        Output:
    </strong>
</p>
<pre>
    <code class="javascript">
    "We don't need anything, we only need a thing; we must be more diligent." - Mustafa Kemal Atatürk
    "We don't need anything, we only need a thing; we must be more diligent." - Mustafa Kemal Atatürk
    </code>
</pre>
<p align="justify">
    Template literals, on the other hand, are written by surrounding the string with the backtick character, or grave accent (<code>`</code>)
</p>
<pre>
    <code class="javascript">
    const stringTemplates = `I think therefore I am. - Rene Descartes`
    </code>
</pre>
<p align="justify">
    <strong>
        Output:
    </strong>
</p>
<pre>
    <code class="javascript">
    I think therefore I am. - Rene Descartes
    </code>
</pre>
<p align="justify">
    They do not need to escape single or double quotes
</p>
<pre>
    <code class="javascript">
    const stringTemplates = `"We don't need anything, we only need a thing; we must be more diligent." - Mustafa Kemal Atatürk`
    </code>
</pre>
<p align="justify">
    <strong>
        Output:
    </strong>
</p>
<pre>
    <code class="javascript">
    "We don't need anything, we only need a thing; we must be more diligent." - Mustafa Kemal Atatürk
    </code>
</pre>
<p align="justify">
    However, they do still need to escape backticks
</p>
<pre>
    <code class="javascript">
    const stringTemplates = `Template literals use the \` character.`
    </code>
</pre>
<p align="justify">
    <strong>
        Output:
    </strong>
</p>
<pre>
    <code class="javascript">
    Template literals use the ` character.
    </code>
</pre>
