<p align="justify">
    Character sequences are called JavaScript strings. JavaScript strings automatically turn strings 
    into objects so that primitive strings can also be used with string methods and properties. It is 
    employed to represent and work with the character sequence.
</p>
<br>
<p align="justify">
    If you want to create a string in JavaScript, there are generally two methods. One way to do this 
    is to place the value in quotes and the other one is to use the new String() syntax.
</p>
<pre>
    <code class="javascript">
    let string1 = "Team DefineX";
    console.log(string1);

    let string2 = new String("Team DefineX");
    console.log(string2);
    </code>
</pre>
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    Team DefineX
    String {'Team DefineX'}
    </code>
</pre>
<br>
<h4>
    Property
</h4>
<br>
<p align="justify"> 
    <strong>length:</strong> The number of characters that are present in the string is returned by 
    this property. When an array is involved, this property will return the number of elements that 
    are currently existing in the array.
</p>
<pre>
    <code class="javascript">
    console.log("Team DefineX".length);
    </code>
</pre>
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    12
    </code>
</pre>
<br>
<h4>
    Methods
</h4>
<h5>
    slice(startIndex, endIndex)
</h5>
<p align="justify">
    This function takes in the "start" and "end" index arguments and returns a substring of the string. 
    It does NOT include the "end" index itself.
</p>
<br>
<p align="justify">
    "End" is not required; if not given, the slice displays all characters from "start" to the end of 
    the string.
</p>
<pre>
    <code class="javascript">
    let str = "Team DefineX";
    console.log(str.slice(0,4));
    console.log(str.slice(5,12));
    </code>
</pre>
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    Team
    DefineX
    </code>
</pre>
<br>
<h5>
    substring(startIndex, endIndex)
</h5>
<p align="justify">
    The characters in a string between the "from" and "to" indexes are returned; "to" is not included. 
    It is presumed that "To" extends to the end of the string if it is left out.
</p>
<pre>
    <code class="javascript">
    let str = "Team DefineX";
    console.log(str.substring(5, 12));
    </code>
</pre>
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    DefineX
    </code>
</pre>
<br>
<h5>
    substr(start, length)
</h5>
<p align="justify">
    This function returns the characters in a string starting at "start" and going through "length," 
    the specified number of characters that can be supplied. It is presumed that "length" extends to 
    the end of the string if it is left out.
</p>
<pre>
    <code class="javascript">
    let str = "Team DefineX";
    console.log(str.substr(5, 7));
    </code>
</pre>
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    DefineX
    </code>
</pre>
<br>
<h5>
    replace(replaceValue, replaceWithValue)
</h5>
<p align="justify">
    Replaces the part that matches the regular expression (or substring) with the text that was replaced. 
</p>
<pre>
    <code class="javascript">
    let str = "Team DefineX";
    console.log(str.replace("Team", "The Team"));
    </code>
</pre>
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    The Team DefineX
    </code>
</pre>
<br>
<h5>
    replaceAll(regexp | substr , newSubstr | function)
</h5>
<p align="justify">
    After replacing a given text or a regular expression for each match in the string, this method 
    returns a new string. Once this action is completed, the original string remains untouched.
</p>
<pre>
    <code class="javascript">
    let str = "Gökhan Ertaş, Gökhan Ertaş, Ozan Avcular,  İlkay İvrendi, Ediz Agarer";
    console.log(str.replaceAll("Gökhan Ertaş", "Emre Çakır"));
    </code>
</pre>
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    Emre Çakır, Emre Çakır, Ozan Avcular,  İlkay İvrendi, Ediz Agarer
    </code>
</pre>
<br>
<h5>
    toUpperCase(stringVariable)
</h5>
<p align="justify">
    There will be no lowercase characters in the string when this function returns it.
</p>
<pre>
    <code class="javascript">
    let str = "Team DefineX";         
    console.log(str.toUpperCase());
    </code>
</pre>
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    TEAM DEFINEX
    </code>
</pre>
<br>
<h5>
    toLowerCase(stringVariable)
</h5>
<p align="justify">
    This will return the string with every character changed to lowercase. 
</p>
<pre>
    <code class="javascript">
    let str = "Team DefineX";
    console.log(str.toLowerCase());
    </code>
</pre>
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    team definex
    </code>
</pre>
<br>
<h5>
    concat(objectOfString)
</h5>
<p align="justify">
    The text of two strings is combined using this method, which returns a new combined or joined string. 
    Use the concat() function on one string object and pass another string object as a parameter to 
    concatenate two strings.
</p>
<pre>
    <code class="javascript">
    let str1 = "Team ";
    let str2 = "DefineX";
    console.log(str1.concat(str2));
    </code>
</pre>
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    Team DefineX
    </code>
</pre>
<br>
<h5>
    trim()
</h5>
<p align="justify">
    By using this function, whitespace is eliminated from a string's two ends.
</p>
<pre>
    <code class="javascript">
    let str1 = " Team   DefineX   ";
    // String length
    console.log(str1.length);
    console.log(str1);
    // Trim String length
    console.log(str1.trim().length);
    console.log(str1.trim());
    </code>
</pre>
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    18
      Team   DefineX   
    14
    Team   DefineX
    </code>
</pre>
<br>
<h5>
    trimStart()
</h5>
<p align="justify">
    By using this technique, whitespace at the start of a string is eliminated. Nothing changes about 
    the string's value, not even the whitespace that comes after the string.
</p>
<pre>
    <code class="javascript">
    let str1 = "  Team DefineX";
    // String length
    console.log(str1.length);
    console.log(str1);
    // TrimStart String length
    console.log(str1.trimStart().length);
    console.log(str1.trimStart());
    </code>
</pre>
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    14
      Team DefineX
    12
    Team DefineX
    </code>
</pre>
<br>
<h5>
    trimEnd()
</h5>
<p align="justify">
    Using this technique, white space at the end of a string is eliminated. Nothing changes about the 
    string's value—not even the white space that comes before the string.
</p>
<pre>
    <code class="javascript">
    let str1 = "Team DefineX   ";
    // String length
    console.log(str1.length);
    console.log(str1);
    // Trim String length
    console.log(str1.trimEnd().length);
    console.log(str1.trimEnd());
    </code>
</pre>
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    15
    Team DefineX   
    12
    Team DefineX
    </code>
</pre>
<br>
<h5>
    padStart()
</h5>
<p align="justify">
    In order to get the desired length, this approach pads a string with another string. The left end 
    of the string is where the padding is applied.
</p>
<pre>
    <code class="javascript">
    let str = "Team DefineX";
    console.log(str.padStart(14,"*"));
    </code>
</pre>
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    **Team DefineX
    </code>
</pre>
<br>
<h5>
    padEnd()
</h5>
<p align="justify">
    In order to get the desired length, this approach pads a string with another string. The right end 
    of the string is where the padding is applied.
</p>
<pre>
    <code class="javascript">
    let str = "Team DefineX";
    console.log(str.padEnd(15,"*"));
    </code>
</pre>
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    Team DefineX***
    </code>
</pre>
<br>
<h5>
    charAt(indexOfCharacter)
</h5>
<p align="justify">
    This function will return the character at the x position within the string.
</p>
<pre>
    <code class="javascript">
    let str = "Team DefineX";
    console.log(str.charAt(1)); 
    console.log(str.charAt(11));
    </code>
</pre>
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    e
    X
    </code>
</pre>
<br>
<h5>
    charCodeAt(indexOfCharacter)
</h5>
<p align="justify">
    The character's unicode value at position 'x' in the string will be returned by this function.
</p>
<pre>
    <code class="javascript">
    let str = "Team DefineX";
    console.log(str.charCodeAt(1)); 
    console.log(str.charCodeAt(11));
    </code>
</pre>
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    101
    88
    </code>
</pre>
<br>
<h5>
    split(character)
</h5>
<p align="justify">
    The string is divided into an array of substrings using this approach. An array is returned by 
    this procedure. The character you wish to split the string on is the only parameter that this 
    function takes.
</p>
<pre>
    <code class="javascript">
    let str = "Team DefineX";
    console.log(str.split(" "));
    console.log(str.split(" ").length);
    </code>
</pre>
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    ['Team', 'DefineX']
    2
    </code>
</pre>