<p align="justify">
    Because the placeholder format <code>$expression</code> has a specific meaning in the template literals, you cannot use the character sequence <code>"$someCharacters"</code> 
    without escaping it.
</p>
<br>
<p align="justify">
    Let's create a string literal containing the sequence of characters <code>${abc}</code>:
</p>
<pre>
    <code class="javascript">
    const message = `Some weird characters: ${abc}`;
    </code>
</pre>
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    Uncaught ReferenceError: abc is not defined
    </code>
</pre>
<p align="justify">
    Because there is no defined variable named <code>abc</code>, JavaScript considers the value <code>$abc</code> as a placeholder and throws an error when it is immediately placed.
</p>
<br>
<p align="justify">
    The issue can be resolved by adding a backslash <code>\</code> before the placeholder-like string <code>\${abc}</code>:
</p>
<pre>
    <code class="javascript">
    const message = `Some weird characters: \${abc}`;
    console.log(message);
    </code>
</pre>
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    Some weird characters: ${abc}
    </code>
</pre>
<p align="justify">
    JavaScript sees <code>\${abc}</code> in the template string <code>`Some weird characters: \${abc}`</code> as a sequence of characters rather than a placeholder.
</p>
<br>
<p align="justify">
    The sequence of characters <code>${abc</code> and <code>${</code> must also be escaped with a backslash <code>\</code> in addition to <code>${abc}</code>:
</p>
<pre>
    <code class="javascript">
    const message = `Some weird characters: \${abc} \${abc \${`;

    console.log(message); // => 'Some weird characters: ${abc} ${abc ${'
    </code>
</pre>
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    Some weird characters: ${abc} ${abc ${
    </code>
</pre>