<p align="justify">
    The <a href="http://www.ecma-international.org/ecma-262/6.0/">2015 edition of the ECMAScript specification (ES6)</a> added <em>template literals</em> to the JavaScript language. Template literals are a new form of making 
    strings in JavaScript that add a lot of powerful new capabilities, such as creating multi-line strings more easily and using placeholders to embed expressions in a string. In addition, an advanced feature called <em>tagged 
    template literals</em> allows you to perform operations on the expressions within a string. All of these capabilities increase your options for string manipulation as a developer, letting you generate dynamic strings that 
    could be used for <a href="https://developer.mozilla.org/en-US/docs/Learn/Common_questions/What_is_a_URL">URLs</a> or functions that customize <a href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML elements</a>.
</p>
<br>
<div style=" display: block; margin-left: auto; margin-right: auto; width: 100%;">
    <img src="/_includes/images/templateliterals.png" />
</div>