<p align="justify">
    Tagged templates are among the most advanced types of <strong>template literals</strong>. Template literals can be parsed using a function thanks to tagged template literals.
</p>
<br>
<p align="justify">
    The array of string values in the first argument to the tag function is part of an array, and the other arguments are related to the expression. The writing of tagged literals is 
    similar to the definition of a function, but what differentiates them is in the calling of the tagged literals. Calling a literal doesn't need to be enclosed in parentheses <strong>()</strong>.
</p>
<br>
<p align="justify">
    Let's look at the example of the tagged templates.
</p>
<pre>
    <code class="javascript">
    function TaggedLiteral(str) {   
        console.log(str);   
    }   
    
    TaggedLiteral `Hello Team DefineX`; 
    </code>
</pre>
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    [ 'Hello Team DefineX' ]
    </code>
</pre>
<p align="justify">
    A tagged literal is another way we can pass the values. It is possible for the value to come from a variable or from an expression. The following code provides a visual representation 
    of the same:
</p>
<pre>
    <code class="javascript">
    function TaggedLiteral(str, val1, val2, val3, val4, val5) {
        console.log(str);
        console.log(val1 + " " + val2 + ", " + val3 + ", " + val4 + ", " + val5);
    }
    
    let text = 'Team DefineX core values are';   
    TaggedLiteral`dfxCoreValues ${text} ${"Driven By Impact"} ${"Best Enviroment for Best People"} ${"Future in Mind"} ${"Define Next"}`;  
    </code>
</pre>
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    ['dfxCoreValues ', ' ', ' ', ' ', ' ', ' ']
    Team DefineX core values are Driven By Impact, Best Enviroment for Best People, Future in Mind, Define Next
    </code>
</pre>
<p align="justify">
    A tag function's first argument is an array of string values. The remaining arguments could also include the values and expressions. For instance,
</p>
<pre>
    <code class="javascript">
    const name = 'Team DefineX';
    const age = 21;

    function tagExample(strings, nameValue) {
        let str0 = strings[0]; // Hello
        let str1 = strings[1]; // , You are not authorized to view this page
        let str2 = strings[2]; // , You are authorized to view this page

        if(age < 21) {
            return `${str0}${nameValue}${str1}`;
        } else {
            return `${str0}${nameValue}${str2}`;
        }
    }

    // creating tagged literal
    // passing argument name
    const result = tagExample`Hello ${name}, You are not authorized to view this page ${""}, You are authorized to view this page`;

    console.log(result);
    </code>
</pre>
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    This also enables you to pass multiple arguments in the tagged template.
    </code>
</pre>
<p align="justify">
    In this way, you can also pass multiple arguments in the tagged temaplate.
</p>