<div>
    <p>ES5 (ECMAScript 5) and ES6 (ECMAScript 2015) are different versions of JS. ES5 was released in 2009 and it
     has been the most widely used JS version ever since. ES6, on the other hand, was released in 2015 and is implemented in JS.
        added a number of new features. 
    </p>
    <p>
        
        <div class="centered-img">
            <img src="/_includes/images/JStoES6.PNG" alt="">
        </div>
        <h4>What's new in ECMAScript 5</h4>
        <div>
            <p><b>"use strict":</b>
                We can use strict mode in all our programs. It helps us to write cleaner code, like preventing us from using undeclared variables.
            </p>
            <pre>
                <code class="javascript">
                "use strict";
                x = 3.14;              // Error
                x = {p1:10, p2:20};    // Error

                let a = 2023;
                delete a;               // Error

                function x(p1, p2) {};
                delete x;               // Error

                function x(p1, p1) {};  // Error
                </code>
            </pre>
            <p>"use strict" scope</p>
            <pre>
                <code class="javascript">
                x = 3.14; 
                function1();

                function function1() {
                    "use strict";
                    y = 3.14;   // Error
                }
                </code>
            </pre>

            <p><b> Multiple Lines String   </b></p>
                <pre>
                    <code class="javascript">
                "Hello \
                DEFINEX!";

                "Hello " +
                "DEFINEX!";
                    </code>
                </pre>
            <p><b> Reserved Word   </b></p>
            <pre>
                <code class="javascript">
                var obj = {name: "John", new: "yes"}
                </code>
            </pre>
        </div>
        <p><b>  String trim():  </b>
            It will remove whitespace from both sides of a string.
        </p>
        <pre>
            <code class="javascript">
                var str = "       Hello World!        ";
                alert(str.trim());
            </code>
        </pre>

        <p><b> String isArray():   </b>It checks whether an object is an array.</p>
        <pre>
                <code class="javascript">
                var IsArr = Array.isArray(["D","e","f","i","n","e","x"])
                </code>
        </pre>

        <p><b>  ForEach:  </b>The forEach() method calls a function once for each array element.</p>
        <pre>
            <code class="javascript">
                const numbers1 = [45, 4, 9, 16, 25];
                numbers.forEach(myFunction);

                function myFunction(value, index, array) {
                    return value * 2;
                }
            </code>
        </pre>
       
        <div>
            <div class="accordion">
                    <div class="accordion-item">
                    <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsSnippet-One" aria-expanded="false"
                            aria-controls="panelsSnippet-One">
                            Snippet
                            </button>
                    </h2>
                    <div id="panelsSnippet-One" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <div >
                                    <p> Convert Anything to Boolean</p>
                                    In addition to true and false, JavaScript treats other types as truthy or falsy.
        
                                    0, "", null, undefined, NaN, and false are always falsy.
                                    Everything else is truthy.
                                    Because of this, in JavaScript, you can convert any values to true and false with the unary operator (!):
                                <pre>
                                    <code class="javascript">
                                        const bool1 = !0;        // true
                                        const bool2 = !100;      // false
                                        const bool3 = !"test";   // false
                                        const bool4 = !!"test";  // true
                                    </code>
                                </pre>
        
                                </div>
                            </div>
                    </div>
                    </div>
            </div>
        </div>
        <br>
        <p><b>  Map:  </b>
            It will create a new array based on the origin array.
        </p>
        <pre>
            <code class="javascript">
                var numbers1 = [45, 4, 9, 16, 25];
                var numbers2 = numbers1.map(myFunction);

                function myFunction(value, index, array) {
                    return value * 2;
                }
            </code>
        </pre>
        <p><b>  Filter:  </b>It will create a new array from condition with the origin array.</p>
        <pre>
            <code class="javascript">
                var numbers = [45, 4, 9, 16, 25];
                var over18 = numbers.filter(myFunction);

                function myFunction(value) {
                return value > 18;
                }
            </code>
        </pre>

        <p><b> Reduce:   </b>It runs a function on each array element to produce (reduce it to) a single value.

            It works from left-to-right in the array. And it does not reduce the original array.
        </p>
        <pre>
            <code class="javascript">
                // Wont update original array
                // Return single value
                const numbers = [45, 4, 9, 16, 25];
                let sum = numbers.reduce(myFunction);

                function myFunction(total, value, index, array) {
                    return total + value;
                }
            </code>
        </pre>

        <p><b> Every:   </b>
            It will check if all array elements satisfy a condition. The returned value is true or false.
        </p>
        <pre>
            <code class="javascript">
                const numbers = [45, 4, 9, 16, 25];
                let allOver18 = numbers.every(myFunction);

                function myFunction(value, index, array) {
                    return value > 18;
                }
            </code>
        </pre>

        

        <p> <b> Some   </b></p>
        <pre>
            <code class="javascript">
                var numbers = [45, 4, 9, 16, 25];
                var allOver18 = numbers.some(myFunction);

                function myFunction(value) {
                    return value > 18;
                }
            </code>
        </pre>

        <p><b>  indexOf, lastIndexOf  </b></p>
        <pre>
            <code class="javascript">
                // return number of element
                // lastIndexOf searches from the end of array
                var definex = ["D", "E", "F", "I", "N", "E", "X"];
                var a = definex.lastIndexOf("E");
                var b = definex.indexOf("E");
            </code>
        </pre>
        <p> <b> JSON stringify, parse   </b></p>
        <pre>
            <code class="javascript">
                var obj = JSON.parse('{"name":"John", "age":30, "city":"New York"}');
                var myJSON = JSON.stringify({name:"John", age:30, city:"New York"});
            </code>
        </pre>
        <p> <b> Property Getters and Setters   </b></p>
        <pre>
            <code class="javascript">
                var person = {
                    firstName: "John",
                    lastName : "Doe",
                    language : "NO",
                    get lang() {
                      return this.language;
                    },
                    set lang(value) {
                      this.language = value;
                    }
                  };
            </code>
        </pre>
        <p> <b> Freeze  </b></p>
        <pre>
            <code class="javascript">
                var desserts = ['chocolate', 'muffin', 'ice-cream']
                
                desserts.push('brownie')

                Object.freeze(desserts)

                desserts.push('popsicle')

                desserts.push('popsicle')
                        ^

                TypeError: Cannot add property 4, object is not extensible
            </code>
        </pre>
</p>

</div>
