<h5>Why we need a polly fills</h5>
<p>
  New language features may include not only syntax constructs and operators, but also built-in functions.
</p>
<h4>Switching from es6 to es5</h4>
<div class="centered-img">
    <img src="/_includes/images/babel.PNG" alt="">
</div>
    
<h6>1) Babel Load</h6> 
<div>
    First, you need to add Babel to your project. Babel, ES6 (and newer JavaScript
    versions) code to ES5. npm or yarn the following packages to install Babel
    You can add it to your project using
</div>

<pre>
    <code class="bash">
    npm install --save-dev @babel/core @babel/preset-env babel-loader
    </code>
</pre>

<h6>2) Webpack Configuration</h6>

<div>
    You will need to make some changes to your webpack config file.
</div>

<ul>
    <li>Adding Babel Loader: Add Babel Loader to your Webpack config file. Babel Loader with webpack
        used with Babel to convert JavaScript files in your project. </li>
    <li>Preset Settings: When using Babel Loader, you must use the @babel/preset-env preset. This,
        It will give instructions to convert Babel to ES5.</li>
</ul>
    
<pre>
        <code class="javascript">
        module: {
            rules: [
                {
                test: /\.js$/,
                exclude: /node_modules/,
                use: {
                    loader: 'babel-loader',
                    options: {
                    presets: ['@babel/preset-env']
                    }
                }
                }
            ]
            }
        </code>
</pre>
<h6>3) .babelrc </h6>

<div>
    To specify how Babel will behave, add the .babelrc file to your project's root directory. In this file the following
You can use the content:
</div>
    
<pre>
    <code class="json">
        {
            "presets": ["@babel/preset-env"]
        }
    </code>
</pre>

<p>In other hand, if we dont use this way we can add ES6 features manually. For example, Math.trunc(n) is a function that “cuts off” the decimal part of a number, e.g Math.trunc(1.23) returns 1.
</p>
<p>In some (very outdated) JavaScript engines, there’s no Math.trunc, so such code will fail.</p>

<p>As we’re talking about new functions, not syntax changes, there’s no need to transpile anything here. 
We just need to declare the missing function.</p>

<p>A script that updates/adds new functions is called “polyfill”. It “fills in” the gap and adds missing implementations.</p>

<p>For this particular case, the polyfill for Math.trunc is a script that implements it, like this:</p>

<p>
  <pre>
    <code class="javascript">
      if (!Math.trunc) { 
        Math.trunc = function(number) {
          return number < 0 ? Math.ceil(number) : Math.floor(number);
        };
      }
    </code>
  </pre>
</p>

<p>JavaScript is a highly dynamic language. Scripts may add/modify any function, even built-in ones.</p>

<p>You can use that <a href="https://polyfill.io/v3/url-builder">site</a>.
You can manage your custom polyfills in here.</p>

<div>
    <div class="accordion">
            <div class="accordion-item">
            <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsSnippet-2" aria-expanded="false"
                    aria-controls="panelsSnippet-2">
                    Snippet
                    </button>
            </h2>
            <div id="panelsSnippet-2" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div >
                            <p>Remove Duplicates From an Array</p>
                            <pre>
                                <code class="javascript">
                                    const numbers = [1, 1, 20, 3, 3, 3, 9, 9];
                                    const uniqueNumbers = [...new Set(numbers)];
                                </code>
                        </pre>
                            
                        </div>
                    </div>
            </div>
            </div>
    </div>
</div>