<p>
    The HTML DOM (Document Object Model)
</p>
<p>
    When a web page is loaded, the browser creates a Document Object Model of the page
</p>

<h5 class="mt-3">Function Declaration</h5>

<p>
    DOM stands for Document Object Model. It is a programming interface that represents the structural representation of a web page. It allows web browsers to understand and interactively manipulate the content of a web page. The DOM represents HTML or XML documents in a tree-like structure, enabling browsers or other programs to access and modify their content, style, and structure.
</p>
<p>
    The DOM represents every element on a web page (e.g., headings, paragraphs, images, buttons, etc.) as objects. These objects are associated with each other in a tree structure. The root of the tree represents the main document object, and through this object, other elements can be accessed.
</p>
<p>
    For web development, the DOM is an API provided by browsers and can be accessed using programming languages like JavaScript. The DOM API provides a set of methods and properties to access elements on web pages, add, remove, or modify elements, apply styles, listen for and handle events, and perform various other operations.
</p>
<p>
    In summary, the DOM is a programming interface that enables the programming and dynamic manipulation of web pages through web browsers.
</p>
<div class="centered-img">
    <img src="/_includes/images/dom-tree.jpg" alt="">
</div>
<pre>
    <code class="language-javascript">
    
    </code>
</pre>

<h5 class="mt-3">DOM node types</h5>

<p></p>

<ul>
    <li><code>Elements</code>: The name of the function.</li>
    <li><code>Text</code>: The number of named parameters the function expects.</li>
    <li><code>Attribute</code>: Returns the source code of the function as a string.</li>
</ul>


<h5 class="mt-3">Elements selection</h5>

<p>Functions can be invoked using the function call syntax or the function apply syntax. Here's an example:</p>

<p>
    
</p>

<h5 class="mt-3">Manipulation</h5>
<p>
   
</p>
<h5 class="mt-3">Actions keydown..</h5>
<p>
   
</p>
<h5 class="mt-3">CSS</h5>
<p>
   
</p>
<h5 class="mt-3">Traversing</h5>
<p>
   
</p>
<h5 class="mt-3">Animation</h5>
<p>
   
</p>
<h5 class="mt-3">Events </h5>
<p>
   
</p>
<h5 class="mt-3">Performance </h5>

