<div>
  <h5 class="my-3">Classes Inheritance</h5>

  #3 Creating an Instance of the Class:

  Now that we have defined the HeroProfile class, we can create an
  instance of it by using the new keyword and passing the necessary
  parameters to the constructor.
  <pre>
    <code class="javascript">
        // Creating an instance of the HeroProfile class.
        const ironMan = new HeroProfile('Iron Man', 40, 'Repulsor Rays');
        
        // Using the methods on the instance.
        ironMan.introduce(); // Output: "Hi, I'm Iron Man, and I'm a superhero!"
        ironMan.displayAge(); // Output: "Iron Man is 40 years old."
        ironMan.usePower(); // Output: "Iron Man uses Repulsor Rays!"
    </code>
    </pre>
  <p>
    In this step, we've created an instance of the HeroProfile class
    named ironMan with the provided parameters. We then used the
    methods introduce(), displayAge(), and usePower() on the ironMan
    object to introduce the hero, display their age, and use their
    power, respectively.
  </p>   
</div>
