<div>
  <strong>Class Instance:</strong>

  <p>A class instance, also known as an object, is a specific, individual entity created from a class. Each instance
    represents a unique occurrence of the class and has its own set of properties and methods. Instances are used to
    work with individual objects, and they encapsulate data specific to that object. In the context of the HeroProfile
    class which we created in previous step, instances represent individual superheroes, each with its own name, age, and superpower.</p></br>

  <strong>Creating Class Instances:</strong>

  <p>In JavaScript, you create class instances using the new keyword followed by the class constructor. Here's how you
    can create instances of the HeroProfile class:</p></br>
    
<pre>
<code class="javascript">
// Creating class instances (objects)
const ironMan = new HeroProfile('Iron Man', 40, 'Repulsor Rays');
const superman = new HeroProfile("Superman", 30, "Flight");
const batman = new HeroProfile("Batman", 35, "Intelligence");
</code>
</pre>

  <strong>Working with Class Instances</strong>

  <p>
    Once you have class instances, you can perform operations on them using the properties and methods defined in the
    class. For example, you can call instance methods to introduce the hero or display their age:
  </p></br>

<pre>
<code class="javascript">
// Using the methods on the instance.
ironMan.introduce(); // Output: "Hi, I'm Iron Man, and I'm a superhero!"
ironMan.displayAge(); // Output: "Iron Man is 40 years old."
ironMan.usePower(); // Output: "Iron Man uses Repulsor Rays!"

superman.introduce(); // Output: "Hi, I'm Superman, and I'm a superhero!"
superman.displayAge(); // Output: "Superman is 30 years old."
superman.usePower(); // Output: "Superman uses Flight!"

batman.introduce(); // Output: "Hi, I'm Batman, and I'm a superhero!"
batman.displayAge(); // Output: "Batman is 35 years old."
batman.usePower(); // Output: "Batman uses Intelligence!"
</code>
</pre>

  <strong>Why Use Class Instances:</strong>

  <strong>Specific Data:</strong>
  <p>Class instances allow you to work with objects that have specific, individual data. This is essential for
    representing and managing unique entities in your application.</p></br>

  <strong>Multiple Objects:</strong>
  <p>You can create multiple instances from the same class, each with its own data. This makes it easy to work with and
    manage a group of related objects.</p></br>

  <strong>Object-Oriented Programming:</strong>
  <p>Class instances are fundamental to object-oriented programming, which is a popular and organized approach to
    software development.</p></br>

  <p>In the next lesson, we'll explore class inheritance, which is another important concept in OOP.</p>

</div>