<div>
  <h5 class="my-3">Subclasses Extending</h5>

  #5 Creating an Instance of the Subclass Finally, let's create an instance of
  the SuperVillainProfile class and see how it inherits properties and methods
  from the parent class while having its own unique features.
<pre>
<code class="javascript">
  // Creating an instance of the SuperVillainProfile class.
  const joker = new SuperVillainProfile('Joker', 35, 'Chaos', 'create anarchy in Gotham City');
  
  // Using methods on the instance.
  joker.introduce(); // Output: "Hi, I'm Joker, and I'm a superhero!"
  joker.displayAge(); // Output: "Joker is 35 years old."
  joker.usePower(); // Output: "Joker uses Chaos to execute their evil plan: create anarchy in Gotham City"
  joker.revealEvilPlan(); // Output: "Joker's evil plan is to create anarchy in Gotham City"
</code>
</pre>

  <p>
    In this step, we've created an instance of the SuperVillainProfile class
    named joker. Despite being a subclass, it inherits the introduce() and
    displayAge() methods from the HeroProfile class. However, the usePower()
    method is overridden to include the evil plan. Additionally, joker has
    access to the revealEvilPlan() method, which is specific to the
    SuperVillainProfile class.
  </p>

  <p>
    With these steps, we've demonstrated how to create and use JavaScript
    classes, along with class inheritance to create subclasses with specialized
    properties and methods.
  </p>
</div>
