<div>
  <h5 class="my-3">Classes for JavaScript</h5>
  <p class="my-3">
    Classes are a fundamental part of the language introduced in ECMAScript 6
    (ES6) to provide a more structured and object-oriented approach to
    organizing and defining objects. They allow you to create reusable templates
    for objects with shared properties and methods. Here are three key details
    about JavaScript classes:
  </p>

  <div>
    <p class="my-3">
      Let's create a HeroProfile class step-by-step, explaining each part along
      the way. We'll build upon it to demonstrate class inheritance later.
    </p>

    #1 Class Declaration and Constructor:

    <p>
      First, we'll declare the HeroProfile class and define its constructor. The
      constructor is a special method that gets called automatically when we
      create a new instance of the class using the new keyword. It allows us to
      initialize the properties of the hero.
    </p>

<pre>
<code class="javascript">
  class HeroProfile {
    constructor(name, age, power) {
      this.name = name;
      this.age = age;
      this.power = power;
    }
  }
</code>
</pre>

    <p>
      In this step, we've defined the HeroProfile class with a constructor that
      takes three parameters: name, age, and power. The constructor sets these
      values as properties of the object being created.
    </p>
  </div>
</div>
