<div>
  <h5 class="my-3">Class Methods</h5>

  #2 Class Methods:
<p>
  Next, let's add some methods to the HeroProfile class to perform
  actions related to the hero.
</p>
<pre>
<code class="javascript">
  class HeroProfile {
    constructor(name, age, power) {
      this.name = name;
      this.age = age;
      this.power = power;
    }

    // Method to introduce the hero.
    introduce() {
      console.log(`Hi, I'm ${this.name}, and I'm a superhero!`);
    }

    // Method to display the hero's age.
    displayAge() {
      console.log(`${this.name} is ${this.age} years old.`);
    }

    // Method to use the hero's power.
    usePower() {
      console.log(`${this.name} uses ${this.power}!`);
    }
  }
</code>
</pre>

<p>
  In this step, we've added three methods to the HeroProfile class:
  introduce(), displayAge(), and usePower(). These methods allow us to
  introduce the hero, display their age, and use their power, respectively.
</p> 

</div>
