<p>
    <h5 class="mt-3">Next Sibling:</h5>
    <pre>
        <code class="javascript">
        &#60;ul id="myList">
            &#60;li>Elma &#60;/li>
            &#60;li>Armut &#60;/li>
            &#60;li>Portakal &#60;/li>
        &#60;/ul>
        &#60;script>
            const lastListItem = document.querySelector('li');  // Select first item
            const nextSibling = lastListItem.nextSibling;    // Get next item
            console.log(nextSibling.innerText); // Result: "Armut"
        &#60;/script>
        </code>
    </pre>

<h5 class="mt-3">Previous Sibling:</h5>
<pre>
    <code class="javascript">
        &#60;script>
            const lastListItem = document.querySelector('li:last-child');  // Select last item
            const previousSibling = lastListItem.previousSibling;    // get Previous item
            console.log(previousSibling.innerText); // Result: "Armut"
        &#60;/script>
    </code>
</pre>
<h5 class="mt-3">Children:</h5>
<pre>
    <code class="javascript">
        &#60;script>
            const myList = document.getElementById('myList');
            const children = myList.children;
            for (let i = 0; i < children.length; i++) {
              console.log(children[i].innerText);
            }
        &#60;/script>
    </code>
</pre>
<h5 class="mt-3">Parent:</h5>
<pre>
    <code class="javascript">
        &#60;p>
            &#60;span>Bu bir iç içe geçmiş örnek&#60;/span>
        &#60;/p>
        &#60;script>
            const innerSpan = document.querySelector('span');
            const parentElement = innerSpan.parentNode;
            console.log(parentElement.tagName); // Çıktı: "P"
        &#60;/script>
    </code>
</pre>

