JavaScript frameworks are tools created to help developers build web applications more quickly, efficiently and sustainably. Reasons for creating these frameworks
<br>
<b>Reduction of Code Repetition:</b> Web development process may require repeating certain tasks repeatedly. This can lead to a waste of time and error risk. Frameworks reduce this repetition and allow developers to achieve more by writing less code.
<br>
<b>Structure and Organization:</b> It is inevitable that large -scale web applications become complex. Frameworks standardizing project configuration and code organization, preventing the loss of control as it grows.
<br>
<b>Efficiency and Speed:</b> Frameworks accelerate the development process by providing predefined components and features. This helps to complete the application faster.
<br>
<b>Mobile Compliance:</b> Since mobile devices are increasingly used, it is important that web applications work properly on mobile devices. Some frameworks offer pre -optimized components to ensure mobile compliance.
<br>
<b>Community and Support:</b> Popular frameworks often have a large and active developer community. These communities provide a platform to solve problems, help and share the best practices.
<br>
<div class="centered-img">
    <img class="img-full" src="/_includes/images/fws.png" alt="">
</div>
As we see the popularity of Frameworks. Each rise means the beginning of new practices. Every application that starts, needs to be maintained, new feature additions occur. We can see that the most used package in the applications made so far is React.
<br>
<br>
Angular, Vue and React Web vitals reports:
<div class="centered-img">
    <img class="img-full" src="/_includes/images/angular.png" alt="">
</div>

<div class="centered-img">
    <img class="img-full" src="/_includes/images/vue.png" alt="">
</div>

<div class="centered-img">
    <img class="img-full" src="/_includes/images/react.png" alt="">
</div>