<br><b>React</b><br>
React, Facebook tarafından geliştirilmekte ve büyük bir topluluğa sahiptir. Ekosistemi, Redux gibi üçüncü taraf state yönetim kütüphaneleri, react-router gibi yönlendirme kütüphaneleri ve daha fazlasını içerir.
<br><b>Angular</b><br>
It is developed by Google and has a large community. Its ecosystem includes Reactive Extensions libraries like RxJS, ready-made component libraries like Angular Material, and more.
<br><b>Vue</b><br>

Vue.js is developed by an independent developer and has a rapidly growing community. Its ecosystem includes routing libraries like the Vue Router, state management libraries like Vuex, and more.
<br>
<div class="centered-img">
    <img class="img-full" src="/_includes/images/usages.png" alt="">
</div>

<br>
<h3>Mobile Side:</h3>


<h4>React Native:</h4>
React Native is a React-based mobile app framework and enables app development for both iOS and Android with the same codebase. Here are the mobile app development steps with React Native:

<ul>
    <li>Make sure you have Node.js and npm installed.
    </li>
    <li>Install React Native CLI: 
        <pre><code class="javascript">
            npm install -g react-native-cli
        </code></pre>
    </li>
    <li>Create a new React Native project: 
        <pre><code class="javascript">
            react-native init MyMobileApp
        </code></pre>
    </li>
    <li>Go to your project's directory with <code>cd MyMobileApp</code></li>
    <li>Start the app: <code>react-native run-android</code> (for Android) or <code>react-native run-ios</code> (for iOS).</li>
    <li>React Native allows you to build UI using React components and manage application logic using JavaScript.</li>
</ul>

<h4>Ionic</h4>
Ionic is an Angular-based mobile application development framework. It enables application development using HTML, CSS and TypeScript. Here are the mobile application development steps with Ionic:
<ul>
<li>Make sure you have Node.js and npm installed.</li>
<li>Install Ionic CLI: 
    <pre><code class="javascript">
        npm install -g @ionic/cli
    </code></pre></li>
<li>Create a new project: 
    <pre><code class="javascript">
        ionic start MyMobileApp
    </code></pre></li>
<li>Go to your project's directory with <code>cd MyMobileApp</code></li>
<li>Start the app: <code>react-native run-android</code> (for Android) or <code>react-native run-ios</code> (for iOS).</li></li>
<li></li>
</ul>
<br>
<h5>Cordova VS Capacitor:</h5>
Cordova and Capacitor are two popular frameworks used for mobile app development. Both allow you to create cross-platform mobile apps using web technologies. Here are the key differences between Cordova and Capacitor:
Cordova:
<ul>
    <li>Apache Cordova essentially wraps web apps that run in a WebView, converting them into mobile apps.</li>
    <li>Your app's code runs inside a WebView, which provides access to native device features</li>
    <li>Cordova enables app development using JavaScript, HTML, and CSS.</li>
    <li>To access mobile device features, you need to use Cordova plugins. These plugins add functionalities like camera, location, storage, etc., to your app.
    </li>
    <li>Cordova can have limitations in terms of performance and user experience due to its WebView-based nature.</li>
</ul>
<br>
Capacitor:
<ul>
    <li>Capacitor is an evolved version of Cordova and offers a more modern approach.</li>
    <li>Instead of being WebView-based, Capacitor acts as a bridge between the app and native APIs. This means most of your app runs as native code outside the WebView.</li>
    <li>Capacitor can be thought of as a "bridge" that contains both web code running in a WebView and native code.</li>
    <li>Capacitor uses Capacitor plugins instead of Cordova plugins. These plugins are written in JavaScript, Swift, Kotlin, or other languages and provide better control over native API access.</li>
    <li>Capacitor can offer better performance and is better suited for future developments due to its more modern architecture.</li>
</ul>
In summary, Cordova and Capacitor are two different approaches for mobile app development. Cordova is WebView-based and provides access to native features through plugins. Capacitor takes a more modern approach, acting as a bridge between the app and native APIs, offering performance and flexibility advantages.

<br><br>

<h4>Vue Native</h4>
Vue Native is a Vue.js based mobile application development framework. It offers a React Native-like approach and lets you build mobile apps using Vue components. However, it does not have as large a community or ecosystem as React Native.

<ul>
    <li>Globally installed node >= 6.0
        </li>
    <li>Globally installed npm >= 4.0</li>
    <li>npm install --global vue-native-cli</li>
    <li>npm install --global expo-cli</li>
    <li>vue-native init <--projectName--></li>
    <li>cd <--projectName--></li>
    <li>npm start</li>
    <li>npm run android  or
        npm run ios</li>
</ul>

<div class="centered-img">
    <img class="img-full" src="/_includes/images/mobileusages.png" alt="">
</div>
