JavaScript frameworks are tools created to help developers build web applications more quickly, efficiently and sustainably. Reasons for creating these frameworks
<br>
<b>Reduction of Code Repetition:</b> Web development process may require repeating certain tasks repeatedly. This can lead to a waste of time and error risk. Frameworks reduce this repetition and allow developers to achieve more by writing less code.
<br>
<b>Structure and Organization:</b> It is inevitable that large -scale web applications become complex. Frameworks standardizing project configuration and code organization, preventing the loss of control as it grows.
<br>
<b>Efficiency and Speed:</b> Frameworks accelerate the development process by providing predefined components and features. This helps to complete the application faster.
<br>
<b>Mobile Compliance:</b> Since mobile devices are increasingly used, it is important that web applications work properly on mobile devices. Some frameworks offer pre -optimized components to ensure mobile compliance.
<br>
<b>Community and Support:</b> Popular frameworks often have a large and active developer community. These communities provide a platform to solve problems, help and share the best practices.
<br>
<div class="centered-img">
    <img class="img-full" src="/_includes/images/fws.png" alt="">
</div>
As we see the popularity of Frameworks. Each rise means the beginning of new practices. Every application that starts, needs to be maintained, new feature additions occur. We can see that the most used package in the applications made so far is React.
<br>
<br>
Angular, Vue and React Web vitals reports:
<div class="centered-img">
    <img class="img-full" src="/_includes/images/angular.png" alt="">
</div>

<div class="centered-img">
    <img class="img-full" src="/_includes/images/vue.png" alt="">
</div>

<div class="centered-img">
    <img class="img-full" src="/_includes/images/react.png" alt="">
</div>
<br>
<br>
<h4>DOM Structures</h4> 
<b>Shadow DOM (Shadow Document Object Model)</b> is a technology for isolating the content and style of web components. This makes web components more manageable and reusable, while helping to avoid conflicting browser content and style conflicts. Shadow DOM is a concept that underlies many modern web frameworks.
<ul>
    <li>Element and Shadow DOM Creation</li>
    <li>Style Isolation</li>
    <li>Content Isolation</li>
</ul>
<div class="centered-img">
    <img class="img-full" src="/_includes/images/shadow-dom.png" alt="">
</div>
<br>
<br>
<b>Virtual DOM (Virtual Document Object Model)</b> is a concept used to improve performance in web applications. In particular, some JavaScript libraries and frameworks such as React aim to make interface updates more effective and faster using the Virtual DOM. Here is the working principle of Virtual DOM:

<ul>
    <li>Real DOM and Virtual DOM Relationship</li>
    <li>Interface Update</li>
    <li>Detection of Differences</li>
    <li>Minimized Real DOM Interaction</li>
    <li>Reconciliation</li>
</ul>
<div class="centered-img">
    <img class="img-full" src="/_includes/images/virtual-dom.png" alt="">
</div>