<p>
    Promise chaining is used to manage and process multiple asynchronous operations sequentially.
</p>

<p class="mt-3">
    Each .then() block initiates the next operation based on the result of the previous one
</p>

<h5 class="mt-3">
    Chaining Example:
</h5>

<p class="mt-3">
    Let's create a new Promise that represents an asynchronous operation that returns a text after 2 seconds:
</p>

<pre>
    <code>
    const myPromise = new Promise((resolve, reject) => {
        setTimeout(() => {
            resolve('Hello, World!');
        }, 2000);
    });
    </code>
</pre>

<p><b>Note that the setTimeout() function simulates an asynchronous operation.</b></p>

<p class="mt-3">
    we can call the .then() method using this Promise. The .then() method takes a callback function that will be
    executed
    when the Promise is resolved. In the example below, the callback is executed when the Promise is resolved, and it
    processes the result:
</p>

<pre>
    <code>
    myPromise.then((result) => {
        console.log(result);
        return result.toUpperCase();
    });
    </code>
</pre>

<p>
    This .then() method takes the result, prints it in uppercase, and returns the result in uppercase. Now, we can
    extend
    this Promise chaining example with the next step:
</p>

<pre>
    <code>
    myPromise
        .then((result) => {
            console.log(result);
            return result.toUpperCase();
        })
        .then((result) => {
            console.log(result);
            return result.split('').reverse().join('');
        })
            .then((result) => {
            console.log(result);
        });
    </code>
</pre>

<p>Output:</p>

<pre>
    <code>
    "Hello, World!"
    "HELLO, WORLD!"
    "!DLROW ,OLLEH"
    </code>
</pre>

<p class="mt-3">
    Let's say we want to create a user record and then send a welcome email to that user. These two operations are not
    directly related, but the result of one is important for the other.
</p>

<pre>
    <code class="language-javascript">
    let userId;
    
    // Creating a user record
    createUser(userData)
        .then((user) => {
        userId = user.id;
            console.log('User record created:', user);
            return sendWelcomeEmail(user.email);
        })
        .then(() => {
            console.log('Welcome email sent.');
        })
        .catch((error) => {
            console.error('An error occurred:', error);
        });
    </code>
</pre>

<p class="mt-3 mb-3">
    In this example, we first create a user record, and then we send a welcome email to the user. Both operations are
    independent, but it's important to send the welcome email when the user is successfully registered.
</p>

<div class="question">
    <div>
        <h5>#1</h5>
        <p align="justify">
            Create a Promise that simulates fetching user data, and another Promise that simulates fetching user posts.
            Chain these
            two Promises so that you fetch user data first and then user posts.
        </p>
    </div>
    <br>
    <button class="solution-btn">Solution</button>
    <div class="solution">
        <div class="solution-content">
            <iframe width="100%" height="500" src="//jsfiddle.net/TeamDFX/dv3b6hxc/embedded/js/dark/"
                allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
        </div>
    </div>
</div>

<div class="question">
    <div>
        <h5>#2</h5>
        <p align="justify">
            How can you handle errors in a Promise chain? Modify the previous example to handle errors, simulating an
            error in one
            of the Promises.
        </p>
    </div>
    <br>
    <button class="solution-btn">Solution</button>
    <div class="solution">
        <div class="solution-content">
            <iframe width="100%" height="500" src="//jsfiddle.net/TeamDFX/hb2dc780/1/embedded/js/dark/"
                allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
        </div>
    </div>
</div>