<p>
    The <code>bind()</code> method is a built-in function in JavaScript that allows you to create a new function with a
    bound context
    (i.e., a specific value for <b>this</b>). Unlike <code>call()</code> and <code>apply()</code>, which immediately
    invoke the
    function, <code>bind()</code> returns
    a
    new function with the specified <b>this</b> value and any predefined arguments.
</p>

<h5 class="mt-3">Syntax</h5>

<p>The syntax for using <code>bind()</code> is as follows:</p>

<pre>
    <code class="language-javascript">
    const newFunction = functionName.bind(thisArg, arg1, arg2, ...);
    </code>
</pre>

<ul>
    <li><code>functionName</code>: The name of the function to be bound.</li>
    <li><code>thisArg</code>: The value to be passed as the <code>this</code> value within the function.</li>
    <li><code>arg1</code>, <code>arg2</code> ...: Optional arguments to be preloaded into the new function.</li>
</ul>

<p>
    Unlike the call() and apply() methods, the bind() method doesn’t immediately execute the function. It just returns a
    new version of the function whose this sets to thisArg argument.
</p>

<h5 class="mt-3">Using JavaScript bind() for function binding</h5>

<p>
    The bind() method in JavaScript is used to create a new function that is bound to a specific context or object. It
    allows you to set the value of this explicitly within the function, regardless of how it is called. This can be
    useful when you want to create a new function with a specific context that you can invoke later.
</p>

<p class="mt-3">
    <b>Example:</b>
</p>

<pre>
    <code class="language-javascript">
    const person = {
        firstName: 'John',
        lastName: 'Doe',
        getFullName: function () {
            return this.firstName + ' ' + this.lastName;
        },
    };

    const logName = function () {
        console.log('Full Name:', this.getFullName());
    };

    const boundLogName = logName.bind(person);

    boundLogName(); // Output: Full Name: John Doe
    </code>
</pre>

<p>
    The <code>bind()</code> method is particularly useful when you want to create a new function with a fixed
    <b>this</b> value and preloaded arguments. It allows you to create function references that maintain a specific
    context, making them suitable for event listeners or callback functions
</p>

<p class="mt-3">
    Remember, when you use <code>bind()</code>, it doesn't immediately invoke the function. Instead, it creates a new
    function with the specified <b>this</b> value and predefined arguments. You can invoke the new function later when
    needed.
</p>

<h5 class="mt-3">Using bind() to borrow methods from a different object</h5>

<p class="mt-3">
    In JavaScript, the bind() method can also be used to borrow methods from one object and attach them to another
    object. This allows you to reuse existing methods on different objects without explicitly copying the method's code.
</p>

<p class="mt-3">
    <b>Example:</b>
</p>

<pre>
    <code class="language-javascript">
    const dog = {
        name: 'Buddy',
        bark: function() {
            console.log(`${this.name} says woof!`);
        }
    };
    
    const cat = {
        name: 'Whiskers'
    };
    
    const meow = dog.bark.bind(cat);
    
    meow(); // Output: Whiskers says woof!
    </code>
</pre>

<p>
    By borrowing the bark method using bind(), we can reuse the same behavior without duplicating the code or modifying
    the original objects. This technique provides flexibility in reusing methods across different objects in your
    JavaScript applications.
</p>

<h4 class="d-flex mt-3">
    <i class="bi bi-check-circle-fill" style="color: green"></i>
    <span class="px-2">Tasks</span>
</h4>

<div class="question">
    <div>
        <h5>#1</h5>
        <p>
            Create a multiply function that takes two numbers and returns their product. Use the bind() method to create
            an instance of this function and create a function that multiplies a number by 3 using this instance.
        </p>
        <p class="mt-3">Expected Output:</p>
        <pre>
            <code class="javascript">
    Calling multiplyBy3(4) should return 12.
            </code>
        </pre>
    </div>
    <button class="solution-btn mt-3">Solution</button>
    <div class="solution">
        <div class="solution-content">
            <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/rhm1yk5d/embedded/js,html,result/dark/"
                allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
        </div>
    </div>
</div>

<div class="question">
    <div>
        <h5>#2</h5>
        <p>
            Create a calculateTotal function that calculates the sum of numbers in an array and returns the total. Use
            the bind() method to create an instance of this function and calculate the total for different arrays.
        </p>
        <p class="mt-3">Expected Output:</p>
        <pre>
            <code class="javascript">
    Calling calculateTotal([1, 2, 3]) should return 6.
    Calling calculateTotal([4, 5, 6]) should return 15.
            </code>
        </pre>
    </div>
    <button class="solution-btn mt-3">Solution</button>
    <div class="solution">
        <div class="solution-content">
            <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/vnypguzm/embedded/js,result/dark/"
                allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
        </div>
    </div>
</div>