<p align="justify">
    Arrow functions are a clear and concise way to write regular <b>Javascript</b> functions in a more 
    precise and shorter manner. In version <b>ES6</b>, arrow functions were introduced. They improve 
    the structure and readability of our code.
</p>
<br>
<p align="justify">
    Arrow functions are anonymous functions, which lack a name and are not associated with an 
    identifier. Arrow functions do not return a value and can be declared without the keyword 
    function. They are also referred to as <b>Lambda</b> Functions.
</p>
<br>
<p align="justify">
    It appears as follows:
</p>
<pre>
    <code class="javascript">
    let func = (arg1, arg2, ..., argN) => expression;
    </code>
</pre>
<p align="justify">
    This creates a function named <code>func</code> that accepts the arguments <code>arg1..argN</code>, then 
    evaluates the expression on the right using those arguments and returns the result.
</p>
<br>
<p align="justify">
    In other terms, it is the shorter version of:
</p>
<pre>
    <code class="javascript">
    let func = function(arg1, arg2, ..., argN) {
        return expression;
    };
    </code>
</pre>
<p align="justify">
    Let’s see an example:
</p>
<pre>
    <code class="javascript">
    let multiply = (x, y) => x + y;
    /* This arrow function is a shorter form of:
    
    let multiply = function(x, y) {
      return x + y;
    };
    */
    
    alert(multiply(4, 5)); // 20
    </code>
</pre>
<p align="justify">
    As you can see, a function that takes the two inputs <code>x</code> and <code>y</code> is denoted 
    by <code>(x, y) => x * y</code>. It evaluates the expression <code>x * y</code> during execution 
    and returns the outcome.
</p>
<br>
<p align="justify">
    <strong>#1</strong> If there is only one argument, the parentheses surrounding parameters can 
    be omitted, making the code even shorter.
</p>
<br>
<p align="justify">
    For instance:
</p>
<pre>
    <code class="javascript">
    let divideIntoTwo = x => x / 2;
    // roughly the same as: let divideIntoTwo = function(x) { return x / 2 }
    
    alert(divideIntoTwo(10)); // 5
    </code>
</pre>
<p align="justify">
    <strong>#2</strong> If there are no arguments, the parentheses must be empty but present:
</p>
<pre>
    <code class="javascript">
    let welcomeMessage = () => alert("Welcome to Definex Javascript Training!");
    
    welcomeMessage(); // Welcome to Definex Javascript Training!
    </code>
</pre>
<p align="justify">
    Arrow functions can be applied similarly to Function Expressions.
</p>
<br>
<p align="justify">
    For example, to create a function dynamically:
</p>
<pre>
    <code class="javascript">
    let yourAge = 18;
    
    let accessControlPoint = (yourAge < 18) ?
      () => alert('Children Are Not Allowed!') :
      () => alert("Go Into!");
    
      accessControlPoint(); // Go Into!
    </code>
</pre>
<h4>
    Multiline arrow functions
</h4>
<p align="justify">
    The arrow functions we've seen until now have been basic. They evaluated the left-side arguments 
    and returned the right-side expression with them.
</p>
<br>
<p align="justify">
    From time to time, we require a complex function with multiple expressions and statements. 
    Then we can surround them in curly braces. Similar to regular functions, curly braces require a 
    return statement to return a value. 
</p>
<pre> 
    <code class="javascript">
    let pow = (x, y) => {  // the curly brace opens a multiline function
        let result = x ** y;
        return result; // if we use curly braces, then we need an explicit "return"
    };
      
    alert(pow(8, 2)); // 64
    </code>
</pre>
<h4>
    Advantages of Arrow functions:
</h4>
<ul>
    <li>
        Arrow functions decrease the amount of code.
    </li>
    <li>
        Single-line functions may omit the return statement and functional braces.
    </li>
    <li>
        It improves the code's readability.
    </li>
    <li>
        Arrow functions offer lexical this binding, which allows them to take the value of 
        <code>this</code> from the scope in which they are used. When working with event listeners 
        or callback functions, where the value of <code>this</code> can be unclear, this feature can 
        be helpful.
    </li>
</ul>
<h4>
    Disadvantage of Arrow functions:
</h4>
<ul>
    <li>
        There is no prototype property for arrow functions.
    </li>
    <li>
        Using the new keyword with arrow functions is not permitted.
    </li>
    <li>
        It is not possible to utilize arrow functions as constructors.
    </li>
    <li>
        These methods are anonymous, which makes it difficult to debug the code.
    </li>
</ul>