<h4>
    Why are Prototypes required?
</h4>
Let's imagine that we need a <code>car</code> object in our <b>Javascript</b> program:
<pre>
    <code class="javascript">
    let car = {}
    car.brand = 'Volkswagen'
    car.hasElectricModels = true
    car.headquartered = 'Wolfsburg'
    car.numberOfEmployee = 5400

    car.getheadquarteredInfo = function() {
        console.log(`${this.brand} headquartered is ${this.headquartered}`)
    }

    car.getNumberOfEmployeeInfo = function() {
        console.log(`${this.brand} has ${this.numberOfEmployee} employee`)
    }
    </code>
</pre> 
<p align="justify">
    This code can meet the requirements, but let's consider the scenario where we need multiple 
    <code>car</code> objects. We would probably write a function to perform this task.
</p>
<pre>
    <code class="javascript">
    function Car(brand, hasElectricModels, headquartered, numberOfEmployee) {
        let car = {}
        car.brand = brand
        car.hasElectricModels = hasElectricModels
        car.headquartered = headquartered
        car.numberOfEmployee = numberOfEmployee

        car.getheadquarteredInfo = function() {
            console.log(`${this.brand} headquartered is ${this.headquartered}`)
        }

        car.getNumberOfEmployeeInfo = function() {
            console.log(`${this.brand} has ${this.numberOfEmployee} employee`)
        }

        return car
    }

    var car = Car('Volkswagen', true, 'Wolfsburg', 5400)

    console.log(car)
    </code>
</pre> 
<p>
    <strong>Output</strong>
</p>
<pre>
    <code>
    {
        brand: "Volkswagen",
        getheadquarteredInfo: function() {
                  console.log(`${this.brand} headquartered is ${this.headquartered}`)
              },
        getNumberOfEmployeeInfo: function() {
                  console.log(`${this.brand} has ${this.numberOfEmployee} employee`)
              },
        hasElectricModels: true,
        headquartered: "Wolfsburg",
        numberOfEmployee: 5400
    }   
    </code>
</pre>
<p align="justify">
    That works, but is this really the best way to do it?
</p>
<br>
<p align="justify">
    If you need a million <code>car</code> objects, it's not a good idea to use this method because the 
    <code>getheadquarteredInfo</code> and <code>getNumberOfEmployeeInfo</code> functions will be stored 
    in memory for each object, which is not a good idea.
</p>
<br>
<p>
    Instead, if we only create the functions once in the <code>car</code> function and then refer to 
    them inside the function, the <code>getheadquarteredInfo</code> and <code>getNumberOfEmployeeInfo</code> 
    functions will only be created once in memory and won't need to be made again.
</p>
<pre>
    <code class="javascript">
    const CarMethods = {
        getheadquarteredInfo : function() {
            console.log(`${this.brand} headquartered is ${this.headquartered}`)
        },
        getNumberOfEmployeeInfo : function() {
            console.log(`${this.brand} has ${this.numberOfEmployee} employee`)
        }
    }

    function Car(brand, hasElectricModels, headquartered, numberOfEmployee) {
        let car = {}
        car.brand = brand
        car.hasElectricModels = hasElectricModels
        car.headquartered = headquartered
        car.numberOfEmployee = numberOfEmployee

        car.getheadquarteredInfo = CarMethods.getheadquarteredInfo
        car.getNumberOfEmployeeInfo = CarMethods.getNumberOfEmployeeInfo

        return car
    }

    var car = Car('Volkswagen', true, 'Wolfsburg', 5400)

    console.log(car)
    </code>
</pre> 
<p>
   <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    {
        brand: "Volkswagen",
        getheadquarteredInfo: function() {
                  console.log(`${this.brand} headquartered is ${this.headquartered}`)
              },
        getNumberOfEmployeeInfo: function() {
                  console.log(`${this.brand} has ${this.numberOfEmployee} employee`)
              },
        hasElectricModels: true,
        headquartered: "Wolfsburg",
        numberOfEmployee: 5400
    }
    </code>
</pre>
<p align="justify">
    However, there are several drawbacks to this strategy. Can you figure it out? 
</p>
<br>
<p align="justify">
    Assume that you need to add a function to the <code>Car</code> object later on. In this situation, 
    we would add our method to <code>CarMethods</code> first, then retrieve the reference from the 
    <code>Car</code> function again.
</p>
<br>
<pre>
    <code class="javascript">
    const CarMethods = {
        getheadquarteredInfo : function() {
            console.log(`${this.brand} headquartered is ${this.headquartered}`)
        },
        getNumberOfEmployeeInfo : function() {
            console.log(`${this.brand} has ${this.numberOfEmployee} employee`)
        },
        getCompanyInfo : function() {
            console.log(`${this.brand} headquartered is ${this.headquartered} and has ${this.numberOfEmployee} employee`)
        }
    }

    function Car(brand, hasElectricModels, headquartered, numberOfEmployee) {
        let car = {}
        car.brand = brand
        car.hasElectricModels = hasElectricModels
        car.headquartered = headquartered
        car.numberOfEmployee = numberOfEmployee

        car.getheadquarteredInfo = CarMethods.getheadquarteredInfo
        car.getNumberOfEmployeeInfo = CarMethods.getNumberOfEmployeeInfo
        car.getCompanyInfo = CarMethods.getCompanyInfo

        return car
    }

    var car = Car('Volkswagen', true, 'Wolfsburg', 5400)

    console.log(car)
    </code>
</pre> 
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    {
        brand: "Volkswagen",
        getCompanyInfo: function() {
                  console.log(`${this.brand} headquartered is ${this.headquartered} and has ${this.numberOfEmployee} employee`)
              },
        getheadquarteredInfo: function() {
                  console.log(`${this.brand} headquartered is ${this.headquartered}`)
              },
        getNumberOfEmployeeInfo: function() {
                  console.log(`${this.brand} has ${this.numberOfEmployee} employee`)
              },
        hasElectricModels: true,
        headquartered: "Wolfsburg",
        numberOfEmployee: 5400
    }
    </code>
</pre>
<p align="justify">
    Even if it's not a major concern, it would be useful to have a single place where we could 
    create these instances and have them reflected in all instances. <b>Javascript</b> prototypes are 
    useful in situations like these.
</p>
<br>
<h3>
    Prototype
</h3>
<p align="justify">
    In <b>Javascript</b>, a <b>prototype</b> is basically a property of a function. When a function is 
    created, the <b>Javascript</b> engine automatically assigns a <b>Prototype</b> property to the 
    function. This <b>prototype</b> property is an object, and this object has a property called 
    <code>constructor</code>. As shown in the image below, this constructor property refers to the 
    function that was created.
</p>
<div style="display: block; margin: auto; text-align: center">
    <object data="/_includes/images/objectprototype.png"> </object>
</div>
<p align="justify">
    The <b>prototype</b> property identifies the <b>prototype</b> object being discussed.
</p>
<br>
<p align="justify">
    We can access the function's <b>prototype</b> property with the syntax <code>functionName.prototype</code>. 
    And using <code>functionName.prototype.constructor</code>, we can access the function object from 
    the <b>Prototype</b> object of a function. If you are confused, let's write some code to clarify 
    the situation.
</p>
<br>
<h3>
    Creating Objects Using Constructor Functions
</h3>
<p align="justify">
    Now, let's print our <code>constructor</code> function that takes four parameters, 
    <code>brand</code>, <code>hasElectricModels</code>, <code>headquartered</code> and 
    <code>numberOfEmployee</code>, and the prototype object of this function to the console.
</p>
<pre>
    <code class="javascript">
    function Car(brand, hasElectricModels, headquartered, numberOfEmployee) {
        this.brand = brand
        this.hasElectricModels = brand
        this.headquartered = headquartered
        this.numberOfEmployee = numberOfEmployee
    }

    console.log(Car.prototype)
    </code>
</pre>
<p align="justify">
    You will see an output like the one below:
</p>
<br> 
<div style="display: block; margin: auto; text-align: center">
    <object data="/_includes/images/objectprototype2.png"> </object>
</div>
<p align="justify">
    You can see that <code>console.log(Car.prototype)</code> takes us to the <b>prototype</b> object 
    of our function, and as we said, this object has a constructor property. For now, you don't need 
    to worry about the <code>__proto__ property</code>. Now let's print <code>console.log(Car.prototype.constructor)</code> 
    to our console.
</p>
<br>
<div style="display: block; margin: auto; text-align: center">
    <object data="/_includes/images/objectprototype3.png"> </object>
</div>
<br>
<p align="justify">
    When we create a function, the <b>JavaScript</b> engine gives the function a value called 
    <b>prototype</b>. With this property, we can get to the function's <b>prototype</b> object, 
    which has another property called <code>constructor</code> in it. This feature points at a function. 
    Let's prove this now.
</p>
<pre>
    <code class="javascript">
    function Car(brand, hasElectricModels, headquartered, numberOfEmployee) {
        this.brand = brand
        this.hasElectricModels = brand
        this.headquartered = headquartered
        this.numberOfEmployee = numberOfEmployee
    }

    console.log(Car.prototype.constructor === Car)
    console.log(Car.prototype === Car.prototype.constructor.prototype)
    </code>
</pre>
<p align="justify">
    The result we should expect in our first log is that the constructor property in the 
    <b>prototype</b> object of our <code>Car</code> function brings us back to the <code>Car</code> 
    function. In the second log, the constructor property on the <b>prototype</b> object of the 
    <code>Car</code> function points back to our function. Then, the <b>prototype</b> of the 
    <code>constructor</code> is equal to <code>Car.prototype</code>.
</p>
<br>
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    true
    true
    </code>
</pre>
<p align="justify">
    Now let's use <b>Prototype</b> for the problem we mentioned earlier.
</p>
<pre>
    <code class="javascript">
    function Car(brand, hasElectricModels, headquartered, numberOfEmployee) {
        this.brand = brand
        this.hasElectricModels = brand
        this.headquartered = headquartered
        this.numberOfEmployee = numberOfEmployee
    }

    Car.prototype.getCompanyInfo = function() {
        console.log(`${this.brand} headquartered is ${this.headquartered} and has ${this.numberOfEmployee} employee`)
    }

    Car.prototype.getheadquarteredInfo = function() {
        console.log(`${this.brand} headquartered is ${this.headquartered}`)
    }

    Car.prototype.getNumberOfEmployeeInfo = function() {
        console.log(`${this.brand} has ${this.numberOfEmployee} employee`)
    }

    const car = new Car('Volkswagen', true, 'Wolfsburg', 5400)

    console.log(car)
    </code>
</pre> 
<p align="justify">
    Let's create a new <code>Car</code> object and print it to the console.
</p>
<br>
<div style="display: block; margin: auto; text-align: center">
    <object data="/_includes/images/objectprototype4.png"> </object>
</div>
<br>
<p align="justify">
    Where are our methods? They were added to the <b>prototype</b> object. However, it does not appear 
    in our <code>car</code> object. There is something else in there. Let's find out what it is.
</p>
<br>
<p align="justify">
    Our methods are here. It seems that the <code>__proto__</code> property points to the <b>prototype</b> 
    object. When we create an instance, <b>JavaScript</b> adds a property named <code>__proto__</code> 
    that points to the <b>prototype</b> object.
</p>
<br>
<div style="display: block; margin: auto; text-align: center">
    <object data="/_includes/images/objectprototype5.png"> </object>
</div>
<br>
<p align="justify">
    If what we have been explaining from the beginning is true, that is, if the <code>__proto__</code> 
    property points to the <b>prototype</b> object, we should be seeing the methods when we extend it.
</p>
<pre>
    <code class="javascript">
    function Car(brand, hasElectricModels, headquartered, numberOfEmployee) {
         this.brand = brand
         this.hasElectricModels = brand
         this.headquartered = headquartered
         this.numberOfEmployee = numberOfEmployee
     }
 
     Car.prototype.getCompanyInfo = function() {
         console.log(`${this.brand} headquartered is ${this.headquartered} and has ${this.numberOfEmployee} employee`)
     }
 
     Car.prototype.getheadquarteredInfo = function() {
         console.log(`${this.brand} headquartered is ${this.headquartered}`)
     }
 
     Car.prototype.getNumberOfEmployeeInfo = function() {
         console.log(`${this.brand} has ${this.numberOfEmployee} employee`)
     }
 
     const car = new Car('Volkswagen', true, 'Wolfsburg', 5400)
 
     console.log(Car.prototype === car.__proto__)
    </code>
</pre> 
<p>
    <strong>Output</strong>
</p>
<pre>
    <code class="javascript">
    true
    </code>
</pre> 
<p align="justify">
    When we create a function, the <b>JavaScript</b> engine automatically creates a <b>Prototype</b> 
    object for that function and adds a <b>prototype</b> property to the function that can be used to 
    access that object. It also adds a property called <code>constructor</code> inside the 
    <b>prototype</b> object, which points to the function.
</p>
<br>
<p align="justify">
    When we create an instance from the <code>constructor</code> function, a property named 
    <code>__proto__</code> is added to this instance, and this property points to the <b>prototype</b> 
    object of the function.
</p>