<p align="justify">
    Bracket notation is the second method of gaining access to a key's value <code>[]</code>.
</p>
<br>
<p align="justify">
    Indexing an array is possible using bracket notation:
</p>
<pre>
    <code class="javascript">
    ['Driven By Impact', 'Best Enviroment for Best People', 'Future in Mind', 'Define Next'][0]; // Returns 'Driven By Impact'
    </code>
</pre>
<p>
    The property name (key) is passed in as a string in order to access an object's property using bracket notation.
</p>
<br>
<div style=" display: block; margin-left: auto; margin-right: auto; width: 50%;">
    <img src="/_includes/images/objectbracketnotation.png" />
</div>
<p>
    When using keys that contain numbers, spaces, or other special characters, we must write them 
    in bracket notation. In these cases, our code would throw an error if bracket notation wasn’t 
    used.
</p>
<pre>
    <code class="javascript">
    let car = {
        'Car Brand': 'Volkswagen',
        hasElectricModels: true,
        headquartered: 'Wolfsburg',
        numberOfEmployee: 5400
      };

      car['Car Brand'];           // Returns 'Volkswagen'
      car['hasElectricModels'];   // Returns true
      car[headquartered];         // Returns  'Wolfsburg'
      car['numberOfEmployee'];    // Returns 5400
      car['COE'];                 // Returns undefined
    </code>
</pre>
 
<br>
<h4 class="d-flex">
    <i class="bi bi-check-circle-fill" style="color: green"></i>
    <span class="px-2">Tasks</span>
</h4>

<pre>
    <code class="javascript">
    let company = {
        'Company Name': 'Team DefineX',
        numberOfEmployee: 5400,
        headquartered: 'İstanbul',
        'Has Global Customer': true,
        employees: ['Gökhan Ertaş', 'Emre Çakır', 'Ozan Avcular', 'İlkay İvrendi']
    };
  
    // Write your code below
    </code>
</pre>

<div class="question">
    <div>
        <h5>#1</h5>
        <p align="justify">
            Use bracket notation to access all values of the <code>company</code> object, and then create 
            variables to assign the values of the <code>company</code> object. Lastly, print the values of 
            the created properties with console.log.
        </p>
    </div>
    <br>
    <button class="solution-btn">Solution</button>
    <div class="solution">
        <div class="solution-content">
            <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/8ky4oqxc/1/embedded/js,result/dark/"
                allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
        </div>
    </div>
</div>