<p>
    There are 3 ways to create objects:
</p>
<br>
<ol>
    <li>By object literal</li>
    <li>By creating instance of Object directly (using new keyword)</li>
    <li>By using an object constructor (using new keyword)</li>
</ol>
<br>
<h5>
    1) JavaScript Object by object literal
</h5>
<p>
    Objects can be put in variables just like any other type in JavaScript. Curly braces <code>{}</code>
    are used to mark an object literal:
</p>
<pre>
    <code class="javascript">
    let company = {}; // company is an empty object
    </code>
</pre>
<p>
    We fill an object with unordered data. This data is organized into <em>key-value pairs</em>. A key is like a
    variable name that points to a location in memory that holds a value.
</p>
<br>
<div style="display: block; margin: auto; text-align: center">
    <object data="/_includes/images/key_value.svg"> </object>
</div>
<br>
<p align="justify">
    We insert unordered data into an object. Key-value pairs are used to organize this data. 
    A key is similar to a variable name that points to a place in memory where a value is stored.
</p>
<br>
<p align="justify">
    The value of a key can be any language-supported data type, including functions and other objects.
</p>
<br>
<p align="justify">
    The name of the key, or identifier, is followed by a colon and then the value. In an object 
    literal, each key-value pair is separated by a comma <code>(,)</code>. Keys are strings, but 
    JavaScript permits us to omit the quotation marks when a key contains no special characters.
</p>
<br>
<pre>
    <code class="javascript">
    // An object literal with two key-value pairs
    let car = {
        'Car Brand': 'Volkswagen',
        numberOfEmployee: 5400,
        headquartered: 'Wolfsburg' 
    };   
    </code>
</pre>
<p align="justify">
    There are three properties on the <code>car</code> object: <code>'numberOfEmployee'</code>, 
    <code>'Car Brand'</code>, and <code>'headquartered'</code>. Because <code>'Car Brand'</code> 
    contains a space character, it is enclosed in quotation marks.
</p>
<br>
<br>
<h5>
    2) By creating instance of Object
</h5>
<p>
    The following is the syntax for generating an object directly:
</p>
<pre>
    <code class="javascript">
    var car = new Object();    
    </code>
</pre>
<p>
    Here, <b>new keyword</b> is used to create the object.
</p>
<pre>
    <code class="javascript">
    var car = new Object();  
    car.carBrand = 'Volkswagen';
    car.numberOfEmployee = 5400;
    car.headquartered = 'Wolfsburg';

    console.log(car);  
    </code>
</pre>
<br>
<h5>
    3) By using an Object constructor
</h5>
<p align="justify">
    In this case, you need to develop a function with arguments. Using this keyword, you can 
    attribute each argument's value to the current object.
</p>
<br>
<p>
    <b>This</b> keyword refers to the current object.
</p>
<br>
<p>
    The following is an example of creating an object using an object constructor:
</p>
<pre>
    <code class="javascript">
    function car(carBrand, numberOfEmployee, headquartered){  
        this.carBrand = carBrand;  
        this.numberOfEmployee = numberOfEmployee;  
        this.headquartered = headquartered;  
    }

    let car1 = new car('Volkswagen', 5400, 'Wolfsburg');  
      
    console.log(car1);   
    </code>
</pre>

<br>
<h4 class="d-flex">
    <i class="bi bi-check-circle-fill" style="color: green"></i>
    <span class="px-2">Tasks</span>
</h4>

<div class="question">
    <div>
        <h5>#1</h5>
        <p align="justify">
            In three ways, make new <code>Company</code> objects named company with the same 
            <code>'Company Name'</code> equal to <code>'Team DefineX'</code>, <code>numberOfEmployee</code> 
            equal to <code>500</code> and <code>headquartered</code> equal to <code>'İstanbul'</code>.
        </p>
    </div>
    <br>
    <button class="solution-btn">Solution</button>
    <div class="solution">
        <div class="solution-content">
            <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/o3m417y9/5/embedded/js,result/dark/"
                allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
        </div>
    </div>
</div>

<div class="question">
    <div>
        <h5>#2</h5>
        <p align="justify">
            Print to company objects with console.log.
        </p>
    </div>
    <br>
    <button class="solution-btn">Solution</button>
    <div class="solution">
        <div class="solution-content">
            <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/ywqudj06/3/embedded/js,result/dark/"
                allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
        </div>
    </div> 
</div>