<p align="justify">
    There are only seven fundamental data types in JavaScript, and seven of those are the primitive data types: 
    string, number, boolean, null, undefined, BigInt and symbol. With the eighth type, objects, we open our code 
    to more complex possibilities. We can use JavaScript objects to model real-world things, like a basketball, 
    or we can use objects to build the data structures that make the web possible.
</p>
<br>
<p align="justify">
    A javaScript object is an entity having state and behavior (properties and method). For example: car, pen, bike,
    chair, glass, keyboard, monitor etc.
</p>
<br>
<p align="justify">
    JavaScript is an object-based language. Everything is an object in JavaScript.
</p> 