<p align="justify">
    It’s time to learn more about the basic structure that permeates nearly every aspect of JavaScript programming: objects.
</p>
<br>
<p align="justify">
    You’re probably already more comfortable with objects than you think, because JavaScript loves objects! Many components of the language are actually objects under the hood, 
    and even the parts that aren’t— like strings or numbers— can still act like objects in some instances. 
</p>
<br>
<p align="justify">
    There are only seven fundamental data types in JavaScript, and seven of those are the primitive data types: string, number, boolean, null, undefined, BigInt and symbol. With the eighth type, 
    objects, we open our code to more complex possibilities. We can use JavaScript objects to model real-world things, like a basketball, or we can use objects to build the data structures that make the web possible. 
</p>
<br>
<p align="justify">
    A javaScript object is an entity having state and behavior (properties and method). For example: car, pen, bike, chair, glass, keyboard, monitor etc.
</p>
<br>
<p align="justify">
    JavaScript is an object-based language. Everything is an object in JavaScript.
</p>
<br>
<p align="justify">
    JavaScript is template based not class based. Here, we don't create class to get the object. But, we direct create objects.
</p>

