<p align="justify">
    An object is a collection of key/value pairs or properties. When the value is a function, the property becomes a
    method. Typically, you use methods to describe the object behaviors.
</p>
<br>
<p align="justify">
    For example, the following adds the <code>firstMethod</code> method to the <code>car</code> object:
</p>
<pre>
    <code class="javascript">
    let car = {
        'Car Brand': 'Volkswagen',
        hasElectricModels: true,
        headquartered: 'Wolfsburg',
        numberOfEmployee: 5400
    }
    
    function firstMethod() {
        console.log('This is our first method')
    }
    
    car.firstMethod = firstMethod
    
    car.firstMethod() // This is our first method
    </code>
</pre>
<p align="justify">
    In this example:
</p>
<br>
<p align="justify">
<ul>
    <li>
        First, use a function expression to define a function and assign it to the <code>firstMethod</code> property of the
        <code>car</code> object.
    </li>
    <li>
        Then, call the method <code>firstMethod()</code> method.
    </li>
</ul>
</p>
<p align="justify">
    Besides using a function expression, you can define a function and assign it to an object like this:
</p>
<pre>
    <code class="javascript">
    let car = {
        'Car Brand': 'Volkswagen',
        hasElectricModels: true,
        headquartered: 'Wolfsburg',
        numberOfEmployee: 5400
    }
    
    function firstMethod() {
        console.log('This is our first method')
    }
    
    car.firstMethod = firstMethod
    
    car.firstMethod()
    </code>
</pre>
<p align="justify">
    In this example:
</p>
<br>
<p align="justify">
<ul>
    <li>
        First, define the <code>firstMethod()</code> function as a regular function.
    </li>
    <li>
        Second, assign the function name to the the <code>firstMethod</code> property of the <code>car</code> object.
    </li>
    <li>
        Third, call the <code>firstMethod()</code> method.
    </li>
</ul>
</p>
<h4>
    Object method shorthand
</h4>
<p align="justify">
    JavaScript allows you to define methods of an object using the object literal syntax as shown in the following
    example:
</p>
<pre>
    <code class="javascript">
    let car = {
        'Car Brand': 'Volkswagen',
        hasElectricModels: true,
        headquartered: 'Wolfsburg',
        numberOfEmployee: 5400,
        firstMethod() {
            console.log('This is our first method')
        }
    }
    </code>
</pre>
<p align="justify">
    ES6 provides you with the concise method syntax that allows you to define a method for an object:
</p>
<pre>
    <code class="javascript">
    let car = {
        'Car Brand': 'Volkswagen',
        hasElectricModels: true,
        headquartered: 'Wolfsburg',
        numberOfEmployee: 5400,
        firstMethod() {
            console.log('This is our first method')
        }
    }
    
    car.firstMethod()
    </code>
</pre>
<h4>
    The this value
</h4>
<p align="justify">
    Typically, methods need to access other properties of the object.
</p>
<br>
<p align="justify">
    For example, you may want to define a method that returns the headquartered and numberOfEmployee values of the car object.
</p>
<br>
<p align="justify">
    Inside a method, the <code>this</code> value references the object that invokes the method. Therefore, you can
    access a property using the <code>this</code> value as follows:
</p>
<pre>
    <code class="javascript">
    this.propertyName
    </code>
</pre>
<p align="justify">
    The following example uses the <code>this</code> value in the <code>companyInfo()</code> method:
</p>
<pre>
    <code class="javascript">
    let car = {
        'Car Brand': 'Volkswagen',
        hasElectricModels: true,
        headquartered: 'Wolfsburg',
        numberOfEmployee: 5400,
        firstMethod() {
            console.log('This is our first method')
        },
        companyInfo() {
            return `${this['Car Brand']} headquartered is ${this.headquartered}`
        }
    }
    
    console.log(car.companyInfo()) // "Volkswagen headquartered is Wolfsburg"
    </code>
</pre>

<br>
<h4 class="d-flex">
    <i class="bi bi-check-circle-fill" style="color: green"></i>
    <span class="px-2">Tasks</span>
</h4>

<pre>
    <code class="javascript">
    let company = {
        'Company Name': 'Team DefineX',
        numberOfEmployee: 5400,
        headquartered: 'İstanbul',
        'Has Global Customer': true,
        employees: ['Gökhan Ertaş', 'Emre Çakır', 'Ozan Avcular', 'İlkay İvrendi'],
        companyInfo() { 
            // Write your code here
        }
    }
    </code>
</pre>

<div class="question">
    <div>
        <h5>#1</h5>
        <p align="justify">
            Yukarıda bulunan <code>company</code> objesine <code>companyInfo()</code> adlı bir method ekleyiniz. Bu methodun içine aşağıdaki mesajı <code>console.log</code> komutu ile yazdırınız. 
            Daha sonra <code>company</code> objesindeki <code>companyInfo()</code> methodunu çağırınız.
        </p>
    </div>
    <br>
    <button class="solution-btn">Solution</button>
    <div class="solution">
        <div class="solution-content">
            <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/obpyn2eq/1/embedded/js,result/dark/" 
            allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
        </div>
    </div>
</div>