<p align="justify">
    This lesson will cover the <code>JavaScript</code> keyword <code>this</code> and how its value is 
    assigned in different scenarios.
</p>
<br>
<p align="justify">
    In <b>JavaScript</b>, objects serve as the fundamental building elements. <code>this</code> object is the only 
    special object accessible in <b>JavaScript</b>. The value of this variable is displayed at each 
    line of <b>JavaScript</b> execution. The value of this depends on how the code is being run.
</p>
<br>
<h4>
    “this” Refers to a Global Object
</h4>
<p align="justify">
    The execution context for an execution is, by default, global. Therefore, if code is being 
    run as part of a simple function call, this refers to a global object.
</p>
<br>
<p align="justify">
    For the browser, the global object is the window object. So, the value of this will be a special 
    object called global in a <b>NodeJS</b> environment.
</p>
<br>
<p align="justify">
    For example:
</p>
<pre>
    <code class="javascript">
    function myFunc () {
        console.log(this === window); 
    }
    
    myFunc();	// true
    console.log(this === window) // true
    </code>
</pre>
<h4>
    Immediately Invoked Function Expression (IIFE)
</h4>
<pre>
    <code class="javascript">
    (function(){
        console.log("Anonymous function invocation");
        console.log(this === window); // true
    })();
    </code>
</pre>
<p align="justify">
    If <b>strict</b> mode is enabled for any function, the value of this will be marked as 
    <code>undefined</code>. Instead of the <b>windows</b> object, the global object refers to 
    <code>undefined</code>.
</p>
<br>
<pre>
    <code class="javascript">
    function myFunc () {
        'use strict';
        console.log(this === window); 
    }
    
    myFunc();	//prints false on console as in “strict mode” value of “this” in global execution context is undefined.
    </code>
</pre>
<p align="justify">
    <code>myFunc</code> prints <code>false</code> into the console since, in <b>strict mode</b>, the 
    value of <code>this</code> in a global-execution context is <code>undefined</code>.
</p>
<br>
<h4>
    “this” Refers to a New Instance
</h4>
<p align="justify">
    A function is referred to as a constructor function and returns a new instance when it is called 
    with the new keyword. The value of <code>this</code> in such circumstances corresponds to a newly formed 
    instance.
</p>
<br>
<pre>
    <code class="javascript">
    function Car(brand, headquartered) {
        this.brand = brand;
        this.headquartered = headquartered;
    
        this.companyInfo = function() {
            console.log(`${this.brand} headquartered is ${this.headquartered}`);
        }
    }
    
    let car = new Car("Volkswagen", "Wolfsburg");
    car.companyInfo();  // Volkswagen headquartered is Wolfsburg
    let car2 = new Car("Mercedes", "Stuttgart");
    car2.companyInfo();  // "Mercedes headquartered is Stuttgart"
    </code>
</pre>
<p align="justify">
    In the case of <code>car.companyInfo</code>, <code>this</code> refers to a new instance of 
    <code>car</code>, whereas <code>car2.companyInfo()</code> refers to <code>car2</code> 
    (a different instance from <code>car</code>).
</p>
<br>
<h4>
    “this” Refers to an Invoker Object (Parent Object)
</h4>
<p align="justify">
    A method or simple value can serve as an object's property in <b>JavaScript</b>. <code>this</code> 
    refers to the object that holds the method that is being called when an object's method is called.
</p>
<br>
<p align="justify">
    The method <code>myFunc</code> from the first example will be used in this one.
</p>
<pre>
    <code class="javascript">
    function companyInfo () {
        console.log(this === window); 
    }
    
    let car = {
        numberOfEmployee: 5400,
        companyInfo: companyInfo,
        companyInfo1: function() {
            console.log(this === window);
        }
    }
    
    car.companyInfo()  // Prints false because now “this” refers to user object instead of global object.
    let companyInfo1 = car.companyInfo1;
    companyInfo1() // Prints true as this method is invoked as a simple function.
    car.companyInfo1()  // Prints false on console as companyInfo1 is invoked as a object’s method
    </code>
</pre>
<p align="justify">
    Since the reference of this is now to the <code>car</code> object rather than the global object, 
    the call to <code>car.companyInfo</code> returns <code>false</code>.
</p>
<br>
<p>
    <code>companyInfo1</code> has the the same function description, but when it is called using a basic 
    function call, a global object is referenced. Furthermore, this relates to the parent object when 
    the same definition is used in an object's method. Thus, how a method is called determines the 
    value of <code>this</code>.
</p>
<br>
<h4>
    “this” With the Call and Apply Methods
</h4>
<p align="justify">
    In JavaScript, a function is a particular kind of object. There are <code>call</code>, <code>bind</code>, 
    and <code>apply</code> methods in every function. In the context of the function's execution, this 
    can be given a specific value using these techniques.
</p>
<br>
<p align="justify">
    We'll use the second example outlined above to clarify how to use <code>call</code>:
</p>
<pre>
    <code class="javascript">
    function Car(brand, headquartered) {
        this.brand = brand;
        this.headquartered = headquartered;
    
        this.companyInfo = function() {
            console.log(`${this.brand} headquartered is ${this.headquartered}`);
        }
    }
    
    let car = new Car("Volkswagen", "Wolfsburg");
    car.companyInfo();  // Volkswagen headquartered is Wolfsburg
    let car2 = new Car("Mercedes", "Stuttgart");
    car2.companyInfo();  // "Mercedes headquartered is Stuttgart"
    
    car.companyInfo.call(car2); // Here we are setting value of this to be car2 object
    // Prints "Mercedes headquartered is Stuttgart"
    </code>
</pre>
<p>
    The method by which an argument is given is the only distinction between the <code>call</code> and 
    <code>apply</code> methods. The second argument for the <code>apply</code> method is an array of 
    arguments, whereas the arguments are supplied separately for the <code>call</code> function.
</p>
<br>
<h4>
    “this” With the Bind Method
</h4>
<p align="justify">
    The <code>bind</code> method returns a new method with this referencing the first given argument. 
    We will use the preceding example to show the <code>bind</code> method.
</p>
<pre>
    <code class="javascript">
    function Car(brand, headquartered) {
        this.brand = brand;
        this.headquartered = headquartered;
    
        this.companyInfo = function() {
            console.log(`${this.brand} headquartered is ${this.headquartered}`);
        }
    }
    
    let car = new Car("Volkswagen", "Wolfsburg");
    car.companyInfo();  // Volkswagen headquartered is Wolfsburg
    let car2 = new Car("Mercedes", "Stuttgart");
    car2.companyInfo();  // "Mercedes headquartered is Stuttgart"

    let car2Display = car.companyInfo.bind(car2);  // Creates new function with value of “this” equals to car2 object
    car2Display(); // "Mercedes headquartered is Stuttgart"
    </code>
</pre>
<br>
<h4>
    “this” With the Arrow Function
</h4>
<p align="justify"> 
    A new concept called arrow function was introduced by <b>ES6</b>. <b>JavaScript</b> sets <code>this</code> 
    lexically in arrow functions.
</p>
<br>
<p align="justify">
    This indicates that the arrow function inherits the execution context from the outer function 
    where it is defined rather than creating its own. See the example below:
</p>
<pre>
    <code class="javascript">
    let getThis = () => this;
    console.log(getThis() === window); // true
    </code>
</pre>
<p align="justify">
    This example sets the global object, or window in the web browser, as the value for <code>this</code>.
</p>
<br>
<p align="justify">
    Using an arrow function while constructing a method will result in a problem because it lacks 
    the ability to create its own execution context. For instance:
</p>
<pre>
    <code class="javascript">
    function Car() {
        this.brand = 'Volkswagen';    
    }

    Car.prototype.getheadquartered = () => {
      return this.headquartered;
    };
      
    var car = new Car();
    console.log(car.getheadquartered()); // undefined
    </code>
</pre>
<p align="justify">
    The value of <code>this</code> within the <code>getheadquartered</code> method refers to the 
    global object, not the <code>Car</code> object, but the global object has no <code>headquartered</code> 
    property. Therefore, <code>this.headquartered</code> returns <code>undefined</code> in the 
    <code>getheadquartered</code> method.
</p>