<p align="justify">
    Data and accessor properties are the two kinds of properties that are used for objects.
</p>
<br>
<h4>
    1) Data properties
</h4>
<br>
<p align="justify"> 
    A data property has a single location where a data value can be found. There are four attributes 
    to a data property:
</p>
<br>
<ul>
    <li>&nbsp;<code>Configurarable</code> – determines if the <code>delete</code> operator can be used to remove or redefine a property.</li>
    <li>&nbsp;<code>Enumerable</code> – it lets you know whether a property may be brought back in a <code>for...in</code> loop.</li>
    <li>&nbsp;<code>Writable</code> – states that a property's value may be changed.</li>
    <li>&nbsp;<code>Value</code> – includes a property's true value.</li>
</ul>
<p align="justify">
    All properties created directly on an object have their <code>Configurable</code>, <code>Enumerable</code>, 
    and <code>Writeable</code> attributes set to <code>true</code> by default. The <code>Value</code> 
    attribute has an <code>undefined</code> default value. 
</p>
<br>
<p align="justify">
    In the next example, a <code>car</code> object is made with three properties: <code>'Car Brand'</code>, 
    <code>headquartered</code> and <code>numberOfEmployees</code>. The <code>configurable</code>, 
    <code>enumerable</code>, and <code>writable</code> traits are all set to true. And their values 
    are <code>'Volkswagen'</code>, <code>'Wolfsburg'</code> and <code>5400</code>:
</p>
<pre>
    <code class="javascript">
    let car = {
        'Car Brand': 'Volkswagen',
        headquartered: 'Wolfsburg',
        numberOfEmployee: 5400
    }
    </code>
</pre>
<p align="justify">
    Use the <code>Object.defineProperty()</code> function to modify any property's attribute.
</p>
<br>
<p align="justify">
    Three arguments are accepted by the <code>Object.defineProperty()</code> method:
</p>
<br>
<ul>
    <li>
        An object.
    </li>
    <li>
        A property name of the object.
    </li>
    <li>
        A property descriptor object that has four properties: <code>configurable</code>, <code>enumerable</code>, 
        <code>writable</code>, and <code>value</code>.
    </li>
</ul>
<p align="justify">
    If you define an object's property using the <code>Object.defineProperty()</code> function, 
    <code>Configurable</code>, <code>Enumerable</code>, and <code>Writable</code> are set to 
    <code>false</code> by default unless you specify otherwise.
</p>
<br>
<p align="justify"> 
    The car object in the example below has the <code>'Car Brand'</code> property set:
</p>
<pre>
    <code class="javascript">
    let car = {};
    car['Car Brand'] = 'Volkswagen';
    </code>
</pre>
<p align="justify"> 
    Because the <code>Configurable</code> attribute's default value is set to <code>true</code>, you 
    can <code>delete</code> it as follows:
</p>
<pre>
    <code class="javascript">
    delete car['Car Brand'];
    
    console.log(car['Car Brand']); // undefined
    </code>
</pre>
<p align="justify">
    Using the <code>Object.defineProperty()</code> function, the following example builds a <code>car</code> 
    object and adds the <code>numberOfEmployee</code> property to it:
</p>
<pre>
    <code class="javascript">
    'use strict';
    
    let car = {};
    
    Object.defineProperty(car, 'numberOfEmployee', {
        configurable: false,
        value: 5400
    });
    
    delete car.numberOfEmployee; // TypeError: Cannot delete property 'numberOfEmployee' of #&lt;Object&gt;
    </code>
</pre>
<p align="justify">
    In this instance, the <code>Configurable</code> attribute is <code>false</code>. Errors result 
    from deleting the <code>numberOfEmployees</code> property.
</p>
<br>
<p align="justify">
    In addition, you cannot change a non-configurable property to a <code>Configurable</code> one.
</p>
<br>
<p align="justify">
    If you attempt to use the <code>Object.defineProperty()</code> method to modify any attribute 
    other than the writable one, you will receive an error. or:
</p>
<pre>
    <code class="javascript">
    'use strict';
    
    let car = {};
    
    Object.defineProperty(car, 'numberOfEmployee', {
        configurable: false,
        value: 5400
    });
    
    
    Object.defineProperty(car, 'numberOfEmployee', { // TypeError: Cannot redefine property: numberOfEmployee
        configurable: true
    });
    </code>
</pre>
<p align="justify">
    All the features of an object have the <code>Enumerable</code> attribute set to <code>true</code> 
    by default. It suggests that you can use the <code>for...in</code> loop like this to go through 
    all of an object's properties:
</p>
<pre>
    <code class="javascript">
    let car = {}

    car.headquartered = 'Wolfsburg'
    car.numberOfEmployee = 5400
    
    for (let property in car) { // "headquartered" "numberOfEmployee"
        console.log(property)
    }
    </code>
</pre>
<p align="justify">
    The <code>Enumerable</code> attribute is set to <code>false</code> in the following to make the 
    <code>headquartered</code> property non-enumerable:
</p>
<pre>
    <code class="javascript">
    let car = {}

    car.headquartered = 'Wolfsburg'
    car.numberOfEmployee = 5400
    
    Object.defineProperty(car, 'headquartered', {
        enumerable: false
    })
    
    for (let property in car) { // "numberOfEmployee"
        console.log(property);
    }
    </code>
</pre>
<h4>
    2) Accessor properties
</h4>
<br>
<p align="justify">
    Accessor properties contain <code>Configurable</code> and <code>Enumerable</code> qualities, just like 
    data properties.
</p>
<br>
<p align="justify">
    Instead of <code>Value</code> and <code>Writable</code>, the accessor properties have the 
    <code>Get</code> and <code>Set</code> properties.
</p>
<br>
<p align="justify">
    <code>Get</code> is automatically called to return a value when data is read from an accessor property. 
    The <code>Get</code> function has an <code>undefined</code> default return value.
</p>
<br>
<p align="justify">
    The <code>Set</code> function is automatically called if an accessor property is provided with a value.
</p>
<br>
<p align="justify">
    Use the <code>Object.defineProperty()</code> method for defining an accessor property or as in:
</p>
<pre>
    <code class="javascript">
     let car = {
        'Car Brand': 'Volkswagen',
        headquartered: 'Wolfsburg',
        numberOfEmployee: 5400
    }
    
    Object.defineProperty(car, 'companyInfo', {
        get: function () {
            return this['Car Brand'] + ' headquartered is ' + this.headquartered + 'and has ' + this.numberOfEmployee + ' employee'
        },
        set: function (value) {
            let parts = value.split(' ');
            if (parts.length == 3) {
                this['Car Brand'] = parts[0]
                this.headquartered = parts[1]
                this.numberOfEmployee = parts[2]
            } else {
                throw 'Invalid name format';
            }
        }
    })
    
    console.log(car.companyInfo) // "Volkswagen headquartered is Wolfsburgand has 5400 employee"

    car.companyInfo = "Mercedes Stuttgart 6000"
		
    console.log(car.companyInfo) // "Mercedes headquartered is Stuttgart has 6000 employee"
    </code>
</pre>
<h5>
    Define multiple properties: <code>Object.defineProperties()</code>
</h5>
<br> 
<p align="justify">
    Using the <code>Object.defineProperties()</code> method in ES5, you can define several properties 
    in a single sentence, or you can:
</p>
<pre>
    <code class="javascript">
    var car = {}
    
    Object.defineProperties(car, {
        'Car Brand': {
            value: 'Volkswagen'
        },
        headquartered: {
            value: 'Wolfsburg'
        },
        numberOfEmployee: {
            value: 5400
        },
        companyInfo: {
            get: function () {
                return `${this['Car Brand']} headquartered is ${this.headquartered} has ${this.numberOfEmployee} employee`
            }
        }
    })
    
    console.log(car.companyInfo); // "Volkswagen headquartered is Wolfsburg has 5400 employee"
    </code>
</pre>
<p align="justify">
    In this example, the car object has three data properties: <code>'Car Brand'</code>, 
    <code>headquartered</code> and <code>numberOfEmployee</code> as well as one accessor property 
    called <code>companyInfo</code>.
</p>
<br>
<h4 class="wp-block-heading">
    JavaScript object property descriptor
</h4>
<br>
<p align="justify">
    You can get the descriptor object for a property using the <code>Object.getOwnPropertyDescriptor()</code> 
    function. This method requires two arguments:
</p>
<br>
<ul>
    <li>
        An object
    </li>
    <li>
        A property of the object
    </li>
</ul>
<p align="justify"> 
    It returns an object descriptor that describes a property. <code>Configurable</code>, <code>Enumerable</code>, 
    <code>Writable</code>, and <code>Value</code> are the four properties of the descriptor object.
</p>
<br>
<p align="justify">
    Next example gathers the descriptor object of the <code>car</code> object's <code>'Car Brand'</code> 
    property from the previous example.
</p>
<pre>
    <code class="javascript">
    let car = {
        'Car Brand': 'Volkswagen',
    };
    
    let descriptor = Object.getOwnPropertyDescriptor(car, 'Car Brand');
    
    console.log(descriptor);
    </code>
</pre>
<p>
    Output:
</p>
<pre>
    <code class="javascript">
    {
        configurable: true,
        enumerable: true,
        value: "Volkswagen",
        writable: true
    }
    </code>
</pre>

<br>
<h4 class="d-flex">
    <i class="bi bi-check-circle-fill" style="color: green"></i>
    <span class="px-2">Tasks</span>
</h4>

<pre>
    <code class="javascript">
    let company = {
        'Company Name': 'Team DefineX',
        numberOfEmployee: 5400,
        headquartered: 'İstanbul',
        'Has Global Customer': true,
        employees: ['Gökhan Ertaş', 'Emre Çakır', 'Ozan Avcular', 'İlkay İvrendi'],
        companyInfo() { 
            // Write your code here
        }
    }
    </code>
</pre>

<div class="question">
    <div>
        <h5>#1</h5>
        <p align="justify">
            Set the properties of the company object seen above and print them to the console using 
            the <code>for...in</code> loop.
        </p>
    </div>
    <br>
    <button class="solution-btn">Solution</button>
    <div class="solution">
        <div class="solution-content">
            <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/0t7zo4xk/4/embedded/js,result/dark/" 
            allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
            <br>
            <strong>Output</strong>
            <br>
            <pre>
            <code class="javascript">
            "Company Name"
            "numberOfEmployee"
            "headquartered"
            "Has Global Customer"
            "employees"
            </code>
            </pre>
        </div>
    </div>
</div>

<div class="question">
    <div>
        <h5>#2</h5>
        <p align="justify">
            Using the <code>delete</code> operator, delete the <b>Has Global Customer</b> property in the 
            <code>company</code> object, then print the object's properties to the console using the 
            <code>for...in</code> loop.
        </p>
    </div>
    <br>
    <button class="solution-btn">Solution</button>
    <div class="solution">
        <div class="solution-content">
            <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/fgnhecLu/3/embedded/js,result/dark/" 
            allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
            <br>
            <strong>Output</strong>
            <br>
            <pre>
            <code class="javascript">
            "Company Name"
            "numberOfEmployee"
            "headquartered"
            "employees"
            </code>
            </pre>
        </div>
    </div>
</div>

<div class="question">
    <div>
        <h5>#3</h5>
        <p align="justify">
            Add a property named <code>coreValues</code> with a <code>Configurable</code> property of 
            <code>false</code> to the <code>company</code> object using the <code>defineProperty</code> 
            method. Try to <code>delete</code> this property using the delete operator and see the result.
        </p>
    </div>
    <br>
    <button class="solution-btn">Solution</button>
    <div class="solution">
        <div class="solution-content">
            <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/atx2o9ye/8/embedded/js,result/dark/" 
            allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
        </div>
    </div>
</div>