<p align="justify">
    The second way to access a key’s value is by using bracket notation, <code>[ ]</code>.
</p>
<br>
<p align="justify">
    You’ve used bracket notation when indexing an array:
</p>
<pre>
    <code class="javascript">
    ['Driven By Impact', 'Best Enviroment for Best People', 'Future in Mind', 'Define Next'][0]; // Returns 'Driven By Impact'
    </code>
</pre>
<p>
    To use bracket notation to access an object’s property, we pass in the property name (key) as a string.
</p>
<br>
<div style=" display: block; margin-left: auto; margin-right: auto; width: 50%;">
    <img src="/_includes/images/objectbracketnotation.png" />
</div>
<p>
    We <strong>must</strong> use bracket notation when accessing keys that have numbers, spaces, or special characters in them. Without bracket notation in these situations, our code would throw an error.
</p>
<pre>
    <code class="javascript">
    let car = {
        'Car Brand': 'Volkswagen',
        hasElectricModels: true,
        headquartered: 'Wolfsburg',
        numberOfEmployee: 5400
      };

      car['Car Brand'];           // Returns 'Volkswagen'
      car['hasElectricModels'];   // Returns true
      car[headquartered];         // Returns  'Wolfsburg'
      car['numberOfEmployee'];    // Returns 5400
      car['COE'];                 // Returns undefined
    </code>
</pre>

<br>
<h4 class="d-flex">
    <i class="bi bi-check-circle-fill" style="color: green"></i>
    <span class="px-2">Tasks</span>
</h4>

<pre>
    <code class="javascript">
    let company = {
        'Company Name': 'Team DefineX',
        numberOfEmployee: 5400,
        headquartered: 'İstanbul',
        'Has Global Customer': true,
        employees: ['Gökhan Ertaş', 'Emre Çakır', 'Ozan Avcular', 'İlkay İvrendi']
    };
  
    // Write your code below
    </code>
</pre>

<div class="question">
    <div>
        <h5>#1</h5>
        <p align="justify">
            Use bracket notation to access the all values of the <code>company</code> object and then create variables to assign the values of the <code>company</code> object.
            Lastly, print values of created properties with console.log
        </p>
    </div>
    <br>
    <button class="solution-btn">Solution</button>
    <div class="solution">
        <div class="solution-content">
            <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/8ky4oqxc/1/embedded/js,result/dark/" 
            allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
        </div>
    </div>
</div>