<p align="justify">
    In application code, objects are frequently nested; an object may have a property that is an 
    array of further objects, which in turn may have a property that is another object!
</p>
<br>
<p align="justify">
    We want an <code>employees</code> object in our <code>car</code> object. All <code>employees</code> 
    who work for the <code>company</code> will be included in it as objects. They have properties like 
    <code>name</code>, <code>surname</code> and <code>level</code>, and each has a special method based 
    on their information. We can also nest other items in the <code>car</code>, like an object from 
    the <code>Administration Department</code>.
</p>
<br>
<pre>
    <code class="javascript">
     let car = {
        'Car Brand': 'Volkswagen',
        hasElectricModels: true,
        headquartered: 'Wolfsburg',
        numberOfEmployee: 5400,
        employees : {
            employee1 : {
                name : "Gökhan",
                surname : "Ertaş",
                level : "Team Leader",
                employeeInfo() {
                    console.log(`${this.name} ${this.surname} as a ${this.level}, manages the teams`)
                }
            },
            employee2 : {
                name : "Emre",
                surname : "Çakır",
                level : "Architect",
                employeeInfo() {
                    console.log(`${this.name} ${this.surname}, as an ${this.level}, establishes the architecture of the projects.`)
                }
            },
            employee3 : {
                name : "Ozan",
                surname : "Avcular",
                level : "Architect",
                employeeInfo() {
                    console.log(`${this.name} ${this.surname}, as an ${this.level}, establishes the architecture of the projects.`)
                }
            },
            employee4 : {
                name : "İlkay",
                surname : "İvrendi",
                level : "Architect",
                employeeInfo() {
                    console.log(`${this.name} ${this.surname}, as an ${this.level}, establishes the architecture of the projects.`)
                }
            },
        },
        'Administration Department' : {
            'Chairman of the Board of Management' : {
                name : 'Oliver',
                surname : 'Blume',
                birthDate : '06.05.1968'
            },
            'Finance and Operations' : {
                name : 'Arno',
                surname : 'Antlitz',
                birthDate: '30.05.1970'
            },
            'Integrity and Legal Affairs' : {
                name : 'Manfred',
                surname : 'Döss',
                birthDate: '01.01.1958'
            },
            'Human Resources and Truck & Bus' : {
                name : 'Gunnar',
                surname : 'Kilian',
                birthDate: '31.01.1975'
            }
        }
    }
    </code>
</pre>
<p align="justify">
    Accessing nested properties is possible by chaining operators. Choosing the appropriate operator 
    for each layer will require careful consideration.
</p>
<pre>
    <code class="javascript">
    car.employees.employee1.employeeInfo() // Returns 'Gökhan Ertaş as a Team Leader, manages the teams'
    </code>
</pre>
<p>
    In the code prior to this one;
</p>
<br>
<ul>
    <li>
        Firstly, the <code>company</code> the object <code>car.employees</code>, which produces the 
        objects <code>employee1</code>, <code>employee2</code>, <code>employee3</code>, and <code>employee4</code>.
    </li>
    <li>
        By adding <code>employeeInfo</code>, we were able to access the <code>employee1</code> object.
    </li>
    <li>
        <code>Name</code>, <code>surname</code>, and <code>level</code> were returned by the 
        <code>employeeInfo</code> function, which later returned the value that had been saved there:
    </li>
</ul>

<br>
<h4 class="d-flex">
    <i class="bi bi-check-circle-fill" style="color: green"></i>
    <span class="px-2">Tasks</span>
</h4>

<pre>
    <code class="javascript">
    let company = {
        'Company Name': 'Team DefineX',
        numberOfEmployee: 5400,
        headquartered: 'İstanbul',
        'Has Global Customer': true,
        employees: ['Gökhan Ertaş', 'Emre Çakır', 'Ozan Avcular', 'İlkay İvrendi']
    }
    </code> 
</pre>

<div class="question">
    <div>
        <h5>#1</h5>
        <p align="justify">
            Create a property named <code>administrativeLevel</code> for the <code>company</code> object 
            mentioned above. Add two objects named <code>CEO</code> and <code>COO</code> inside this property. 
            Let these objects have two properties named <code>name</code> and <code>surname</code>. 
            After filling in these properties, print the object to the console.
        </p>
    </div>
    <br>
    <button class="solution-btn">Solution</button>
    <div class="solution">
        <div class="solution-content">
            <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/d17hmo3x/3/embedded/js,result/dark/" 
            allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
        </div>
    </div>
</div>

<div class="question">
    <div>
        <h5>#2</h5>
        <p align="justify">
            Let's concat the <code>name</code> and <code>s</code>urname information in the 
            <code>CEO</code> object under the <code>administrativeLevel</code> name and assign it 
            to the <code>CEO</code> variable we will create. After this, let's print the 
            <code>CEO</code> variable to the console.
        </p>
    </div>
    <br>
    <button class="solution-btn">Solution</button>
    <div class="solution">
        <div class="solution-content">
            <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/3Lg07qfp/2/embedded/js,result/dark/" 
            allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
        </div>
    </div>
</div>