<p align="justify">
    Arrow functions are a clear and concise method of writing normal/regular Javascript functions in a more accurate and shorter way. Arrow functions were introduced in the ES6 version. 
    They make our code more structured and readable.
</p>
<br>
<p align="justify">
    Arrow functions are anonymous functions i.e. they are functions without a name and are not bound by an identifier. Arrow functions do not return any value and can be declared without 
    the function keyword. They are also called Lambda Functions.
</p>
<br>
<p align="justify">
    It looks like this:
</p>
<pre>
    <code class="javascript">
    let func = (arg1, arg2, ..., argN) => expression;
    </code>
</pre>
<p align="justify">
    This creates a function <code>func</code> that accepts arguments <code>arg1..argN</code>, then evaluates the expression on the right side with their use and returns its result.
</p>
<br>
<p align="justify">
    In other words, it’s the shorter version of:
</p>
<pre>
    <code class="javascript">
    let func = function(arg1, arg2, ..., argN) {
        return expression;
    };
    </code>
</pre>
<p align="justify">
    Let’s see a concrete example:
</p>
<pre>
    <code class="javascript">
    let multiply = (x, y) => x + y;
    /* This arrow function is a shorter form of:
    
    let multiply = function(x, y) {
      return x + y;
    };
    */
    
    alert(multiply(4, 5)); // 20
    </code>
</pre>
<p align="justify">
    As you can see, <code>(x, y) => x * y</code> means a function that accepts two arguments named <code>x</code> and <code>y</code>. Upon the execution, it evaluates the expression <code>x * y</code> and returns the result.
</p>
<br>
<p align="justify">
    <strong>#1</strong> If we have only one argument, then parentheses around parameters can be omitted, making that even shorter.
</p>
<br>
<p align="justify">
    For example:
</p>
<pre>
    <code class="javascript">
    let divideIntoTwo = x => x / 2;
    // roughly the same as: let divideIntoTwo = function(x) { return x / 2 }
    
    alert(divideIntoTwo(10)); // 5
    </code>
</pre>
<p align="justify">
    <strong>#2</strong> If there are no arguments, parentheses are empty, but they must be present:
</p>
<pre>
    <code class="javascript">
    let welcomeMessage = () => alert("Welcome to Definex Javascript Training!");
    
    welcomeMessage(); // Welcome to Definex Javascript Training!
    </code>
</pre>
<p align="justify">
    Arrow functions can be used in the same way as Function Expressions.
</p>
<br>
<p align="justify">
    For instance, to dynamically create a function:
</p>
<pre>
    <code class="javascript">
    let yourAge = 18;
    
    let accessControlPoint = (yourAge < 18) ?
      () => alert('Children Are Not Allowed!') :
      () => alert("Go Into!");
    
      accessControlPoint(); // Go Into!
    </code>
</pre>
<h4>
    Multiline arrow functions
</h4>
<p align="justify">
    The arrow functions that we’ve seen so far were very simple. They took arguments from the left of =>, evaluated and returned the right-side expression with them.
</p>
<br>
<p align="justify">
    Sometimes we need a more complex function, with multiple expressions and statements. In that case, we can enclose them in curly braces. The major difference is that 
    curly braces require a return within them to return a value (just like a regular function does).
</p>
<pre> 
    <code class="javascript">
    let pow = (x, y) => {  // the curly brace opens a multiline function
        let result = x ** y;
        return result; // if we use curly braces, then we need an explicit "return"
    };
      
    alert(pow(8, 2)); // 64
    </code>
</pre>
<h4>
    Advantages of Arrow functions:
</h4>
<ul>
    <li>
        Arrow functions reduce the size of the code
    </li>
    <li>
        The return statement and functional braces are optional for single-line functions
    </li>
    <li>
        It increases the readability of the code
    </li>
    <li>
        Arrow functions provide a lexical this binding, which means that they inherit the value of “this” from the enclosing scope. This feature can be advantageous when dealing with event listeners or 
        callback functions where the value of “this” can be uncertain
    </li>
</ul>
<h4>
    Disadvantage of Arrow functions:
</h4>
<ul>
    <li>
        Arrow functions do not have the prototype property
    </li>
    <li>
        Arrow functions cannot be used with the new keyword
    </li>
    <li>
        Arrow functions cannot be used as constructors
    </li>
    <li>
        These functions are anonymous and it is hard to debug the code
    </li>
</ul>