<p align="justify">
    JSON is a format for storing and transporting data.
</p>
<br>
<p align="justify">
    JSON is often used when data is sent from a server to a web page. 
</p>
<br>
<h3>
    What is JSON?
</h3>
<ul>
    <li>JSON stands for <b>J</b>ava<b>S</b>cript <b>O</b>bject <b>N</b>otation</li>
    <li>JSON is a lightweight data interchange format</li>
    <li>JSON is language independent <b>*</b></li>
    <li>JSON is "self-describing" and easy to understand</li>
</ul>
<p align="justify">
    For example:
</p>
    <pre>
    <code class="javascript">
    {
        "name": "Gökhan Ertaş",
        "birthYear": 1988,
        "maritalStatus": "married"
        "gender": "male",
    }
    </code>
    </pre>
<p align="justify">
    In JSON, the data are in <strong>key/value</strong> pairs separated by a comma <code>,</code>.
</p>
<br>
<p align="justify">
    JSON was derived from JavaScript. So, the JSON syntax resembles JavaScript object literal syntax. However, the JSON format can be accessed and be created by other programming languages too.
</p>
<br>
<h3>
    JSON Data
</h3>
<p align="justify">
    JSON data consists of <strong>key/value</strong> pairs similar to JavaScript object properties. The key and values are written in double quotes separated by a colon <code>:</code>.
</p>
<br>
<p align="justify">
    For example:
</p>
    <pre>
    <code class="javascript">
    "name": "Gökhan Ertaş"
    </code>
    </pre>
<h3>
    JSON Object
</h3>
<p align="justify">
    The JSON object is written inside curly braces <code>{ }</code>. JSON objects can contain multiple <strong>key/value</strong> pairs. 
</p>
<br>
<p align="justify">
    For example:
</p>
    <pre>
    <code class="javascript">
    { "name": "Gökhan Ertaş", "birthYear": 1988 }
    </code>
    </pre>
<h3>
    JSON Array
</h3>
<p align="justify">
    JSON array is written inside square brackets <code>[ ]</code>. 
</p>
<br>
<p align="justify">
    For example:
</p>
    <pre>
    <code class="javascript">
    ["Driven by Impact", "Best Environment for Best People", "Future in Mind", "Define Next"]
    
    [
        {"name": "Gökhan Ertaş", "maritalStatus": "married"},
        {"name": "İlkay İvrendi", "maritalStatus": "single"},
        {"name": "Ozan Avcular", "maritalStatus": "married"},
        {"name": "Ediz Agarer", "maritalStatus": "single"}
    ]
    </code>
    </pre>
<p align="justify">
    JSON data can contain objects and arrays. However, unlike JavaScript objects, JSON data cannot contain functions as values.
</p>
<br>
<h3>
    Accessing JSON Data
</h3>
<p align="justify">
    You can access JSON data using the dot notation.
</p>
<br>
<p align="justify">
    For example:
</p>
    <pre>
    <code class="javascript">
    const data = {
        "name": "Gökhan Ertaş",
        "birthYear": 1988,
        "maritalStatus": "married",
        "company": {
	        "name" : "Team DefineX",
	        "numberOfEmployee" : 350,
	        "coreValues" : ["Driven by Impact", "Best Environment for Best People", "Future in Mind", "Define Next"]
        },
        "skills" : ["JavaScript", "HTML", "CSS", "Java", "C#", "Pega BPM", ".Net MVC", "Team Management", "Web Methods ArGE"]
    }

    console.log(data.name); // Gökhan Ertaş
    console.log(data.company); // { name: "Team DefineX", numberOfEmployee: 350, coreValues: Array(4) ["Driven by Impact", "Best Environment for Best People", "Future in Mind", "Define Next"] }
    console.log(data.company.name); // Team DefineX
    console.log(data.skills[1]); // HTML
    </code>
    </pre>
<p align="justify">
    We use the <code>.</code> notation to access JSON data. Its syntax is: <code>variableName.key</code>
</p>
    <pre>
    <code class="javascript">
    const person = {
        "name": "Gökhan Ertaş",
        "birthYear": 1988
    }

    console.log(person["name"]); // Gökhan Ertaş
    </code>
    </pre>
<h3>
    Differents are JavaScript Objects and JSON
</h3>
<p align="justify">
    Though the syntax of JSON is similar to the JavaScript object, JSON is different from JavaScript objects.
</p>
<br>
<img src="../../_includes/images/jsondifferents.png" class="img-fluid" alt="JSON"> 
<br>
<h3>
    Converting JSON to JavaScript Object
</h3>
<p align="justify">
    You can convert JSON data to a JavaScript object using the built-in <code>JSON.parse()</code> function. 
</p>
<br>
<p align="justify">
    For example:
</p>
    <pre>
    <code class="javascript">
    const data = '{ "name": "Gökhan Ertaş", "birthYear": 1988 }';

    // converting to JavaScript object
    const obj = JSON.parse(data);

    console.log(obj.name); // Gökhan Ertaş
    </code>
    </pre>
<h3>
    Converting JavaScript Object to JSON
</h3>
<p align="justify">
    You can also convert JavaScript objects to JSON format using the JavaScript built-in <code>JSON.stringify()</code> function. 
</p>
<br>
<p align="justify">
    For example:
</p>
    <pre>
    <code class="javascript">
    const data = { "name": "Gökhan Ertaş", "birthYear": 1988 };

    // converting to JSON
    const obj = JSON.stringify(data);

    console.log(obj); // "{"name":"Gökhan Ertaş","age":1988}"
    </code>
    </pre>
