<p align="justify">
    Seven of the eight basic data types in JavaScript—string, integer, boolean, null, undefined, 
    BigInt, and symbol—are the primitive data types. We give our programs access to more complicated 
    possibilities with the eighth type, objects. JavaScript objects can be used to simulate things 
    that exist in the real world, like a basketball, or they can be used to create the data 
    structures that allow the web to function.
</p>
<br>
<p align="justify">
    JavaScript is an object-based language. An object in JavaScript is a stateful entity with 
    behavior (properties and methods). Everything in JavaScript is a form of object. For instance, 
    car, pen, bike, chair, glass, keyboard, and monitor can be considered as an object. 
</p>