<p align="justify">
    <strong>JavaScript can be added to your HTML file in three ways:</strong>
</p>
<br>
<p>
    <ul>
        <li>Inline JavaScript</li>
        <li>Internal JavaScript</li>
        <li>External JavaScript</li>
    </ul>
</p>
<p align="justify">
    <strong>Inline JavaScript:</strong>
    Here, you will find JavaScript code enclosed in HTML tags with JS-specific attributes.
    <br>
    HTML tags, for instance, contain event attributes that enable you to execute some codes inline when an event is triggered.
</p>
<pre>
    <code class="html">
    &lt;html&gt;
    &lt;!DOCTYPE html&gt;
    &lt;body&gt;
        &lt;button onclick="alert('Welcome to Definex Javascript Training')"&gt;Click me!&lt;/button&gt;
    &lt;/body&gt;
    &lt;/html&gt;
    </code>
</pre>
<p align="justify">
    <strong>Internal JavaScript:</strong>
    By writing the code between the &lt;script&gt; and &lt;/script&gt; tags, we can add JS directly to an HTML file. The &lt;script&gt; 
    tag can be placed either within the &lt;head&gt; or &lt;body&gt; tags, depending on what's needed.
</p>
<pre>
    <code class="html">
    &lt;!DOCTYPE html&gt;
    &lt;html&gt;
    &lt;head&gt;
      &lt;meta charset="UTF-8"&gt;
      &lt;title&gt;Definex Javascript Training&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
    &lt;!-- JavaScript Code --&gt;
      &lt;script&gt;
        console.log("Welcome to Definex Javascript Training");
      &lt;/script&gt;
    &lt;/body&gt;
    &lt;/html&gt;
  </code>
</pre>
<p align="justify">
    <strong>External JavaScript:</strong>
    The JS code can be pasted into a file that has a .js extension. After generating the file, add it in the &lt;script src=”file name.js”&gt; 
    tag so that it may be imported inside the HTML file's <strong>&lt;head&gt;</strong> or <strong>&lt;body&gt;</strong> tag.
</p>
<pre>
    <code class="html">
    &lt;!DOCTYPE html&gt;
    &lt;html&gt;
    &lt;head&gt;
        &lt;meta charset="UTF-8"&gt;
        &lt;title&gt;Definex Javascript Training&lt;/title&gt;
        &lt;script src="main.js"&gt;&lt;/script&gt;
    &lt;/head&gt;
    &lt;body&gt;
    &lt;/body&gt;
    &lt;/html&gt;
    </code>
</pre>
<pre>
    <code class="javascript">
    /* JavaScript code can be embedded inside head section or body section */
    console.log("Welcome to Definex Javascript Training");
    // JavaScript file name: main.js
    </code>
</pre>
<h3>External References</h3>
There are three possible ways to reference an external script:
<ul>
    <li>With a full URL (a full web address)</li>
    <li>With a file path (like /js/)</li>
    <li>Without any path</li>
</ul>
<pre>
    <code class="html">
    &lt;script src="https://www.w3schools.com/js/myScript.js"&gt;&lt;/script&gt;
    &lt;script src="/js/myScript.js"&gt;&lt;/script&gt;
    &lt;script src="myScript.js"&gt;&lt;/script&gt;
    </code>
</pre>