<p align="justify">
  The console is a panel that shows error messages and other crucial information for developers. By default, the majority of the work 
  the computer performs with our code is not apparent to us. If we want to see something on our screen, we can print it or log directly to our console.
</p>
<br>
<p align="justify">
  The console keyword in JavaScript stands for an object, an array of data, and steps that can be utilized in our code. Keywords are 
  words that are incorporated into the JavaScript programming language, allowing the computer to identify and approach them uniquely.
</p>
<br>
<p align="justify">
  The.log() method is an action or procedure that is built into the console object. When console.log() is executed, the contents of the 
  parentheses are printed to the console.
</p>
<br>
<p align="justify">
  It will be very beneficial for us to print values to the console so we can monitor our progress.
</p>
<pre>
    <code class="javascript">
    console.log("Welcome to Definex Javascript Training");
    </code>
</pre>
<p align="justify">
  The semicolon marks the end of a sentence or a command Even though your JavaScript code will proceed correctly without a semicolon,
  you should form the habit of ending each command with a semicolon so that you never forget to include one on the occasions where it is required.
</p>

<br>
<h4 class="d-flex">
  <i class="bi bi-check-circle-fill" style="color: green"></i>
  <span class="px-2">Tasks</span>
</h4>

<div class="question">
  <div>
    <h5>#1</h5>
    <p align="justify">
      Use the console.log code in the editor to log your age to the console.
    </p>
  </div>
  <br>
  <button class="solution-btn">Solution</button>
  <div class="solution">
    <div class="solution-content">
      <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/3ztr24g6/2/embedded/js,result/dark/"
      allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
    </div>
  </div>
</div>

<div class="question">
  <div>
    <h5>#2</h5>
    <p align="justify">
      On the next line, write another console.log to print out a different number representing the number of weeks
      you’ve been programming.
    </p>
  </div>
  <br>
  <button class="solution-btn">Solution</button>
  <div class="solution">
    <div class="solution-content">
      <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/6rfa7bpe/6/embedded/js,result/dark/" 
      allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
    </div>
  </div>
</div>