<p align="justify">
  Programming frequently involves extensive teamwork. Sometimes when we go back to our own code, even just an hour later, it might get 
  challenging for us to comprehend! For these reasons, it's beneficial to add notes to our code for future reference or for other programmers.
</p>
<br>
<p align="justify">
  JavaScript allows us to add comments to our code that the computer will disregard as our program runs. Just human readers are intended for these comments. 
</p>
<br>
<p align="justify">
  Comments can provide context for the code, directions for other developers working with the code, and other helpful comments.
</p>
<br>
<p align="justify">
  There are two types of code comments in JavaScript:
</p>
<br>            
<p align="justify">
    &nbsp; &nbsp; &nbsp; &nbsp; <strong>1.</strong> A single line comment is used to comment out a single line and can be recognized by the two forward slashes // that come before it:                                        
    <pre>
    <code class="javascript">
      // 5
      console.log(5);
    </code>
    </pre>
</p>
<p align="justify">
    A single line comment can also be used to comment on a line of code:
    <pre>
    <code class="javascript">
    console.log(5);  // 5
    </code>
    </pre>
</p>
<p align="justify">
    This syntax can also be used to comment out something in the middle of a line of code:    
    <pre>
    <code class="javascript">
    console.log(/*IGNORED!*/ 5);  // 5
    </code>
    </pre>
</p>
<p align="justify">
    &nbsp; &nbsp; &nbsp; &nbsp; <strong>2.</strong> A multi-line comment will comment out numerous lines and is indicated with /* to start the comment and */ to end the comment.
    <pre>
    <code class="javascript">
    /*
    This is all commented 
    console.log(10);
    None of this is going to run!
    console.log(99);
     */
    </code>
    </pre>
</p>

<br>
<h4 class="d-flex">
  <i class="bi bi-check-circle-fill" style="color: green"></i>
  <span class="px-2">Tasks</span>
</h4>

<div class="question">
  <div>
    <h5>#1</h5>
    <p align="justify">
      The key principles of DefineX are listed below. Write an "Opening line" as a single-line comment on line 1.
    </p>
  </div>
  <br>
  <button class="solution-btn">Solution</button>
  <div class="solution">
    <div class="solution-content">
      <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/t3a9kz04/5/embedded/js,result/dark/" 
      allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
    </div>
  </div>
</div>

<div class="question">
  <div>
    <h5>#2</h5>
    <p align="justify">
      Single-line comments are excellent for providing context to your code. Multi-line comments are frequently the best way to prevent a block of code from running. 
      Both forms of comments, however, can be used for either purpose. Use a multi-line comment to comment out the bottom three console.log() statements.
    </p>
  </div>
  <br>
  <button class="solution-btn">Solution</button>
  <div class="solution">
    <div class="solution-content">
      <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/t3a9kz04/5/embedded/js,result/dark/" 
      allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
    </div>
  </div>
</div>