<strong>JavaScript can be added to your HTML file in three ways:</strong>
<p>
    <ul>
        <li>Inline JavaScript</li>
        <li>Internal JavaScript</li>
        <li>External JavaScript</li>
    </ul>
</p>
<p align="justify">
    <strong>Inline JavaScript:</strong>
    Here, you have the JavaScript code in HTML tags in some special JS-based attributes.
    <br>
    For example, HTML tags have event attributes that allow you to execute some code inline when an event is triggered.
</p>
<pre>
    <code class="html">
        &lt;html&gt;
        &lt;!DOCTYPE html&gt;
        &lt;body&gt;
            &lt;button onclick="alert('Welcome to Definex Javascript Training')"&gt;Click me!&lt;/button&gt;
        &lt;/body&gt;
        &lt;/html&gt;
    </code>
</pre>
<p align="justify">
    <strong>Internal JavaScript:</strong>
    We can add JS code directly to our HTML file by writing the code inside the &lt;script&gt; &amp; &lt;/script&gt;.
    The &lt;script&gt; tag can either be placed inside the &lt;head&gt; or the &lt;body&gt; tag according to the
    requirement.
</p>
<pre>
    <code class="html">
    &lt;!DOCTYPE html&gt;
    &lt;html&gt;
    &lt;head&gt;
      &lt;meta charset="UTF-8"&gt;
      &lt;title&gt;Definex Javascript Training&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
    &lt;!-- JavaScript Code --&gt;
      &lt;script&gt;
        console.log("Welcome to Definex Javascript Training");
      &lt;/script&gt;
    &lt;/body&gt;
    &lt;/html&gt;
  </code>
</pre>
<p align="justify">
    <strong>External JavaScript:</strong>
    We can create the file with a .js extension and paste the JS code inside of it. After creating the file, add this
    file in &lt;script src=”file_name.js”&gt; tag, and this <strong>&lt;script&gt;</strong> can import inside
    <strong>&lt;head&gt;</strong> or <strong>&lt;body&gt;</strong> tag of the HTML file.
</p>
<pre>
    <code class="html">
    &lt;!DOCTYPE html&gt;
    &lt;html&gt;
    &lt;head&gt;
        &lt;meta charset="UTF-8"&gt;
        &lt;title&gt;Definex Javascript Training&lt;/title&gt;
        &lt;script src="main.js"&gt;&lt;/script&gt;
    &lt;/head&gt;
    &lt;body&gt;
    &lt;/body&gt;
    &lt;/html&gt;
    </code>
</pre>
<pre>
    <code class="javascript">
    /* JavaScript code can be embedded inside head section or body section */
    console.log("Welcome to Definex Javascript Training");
    // JavaScript file name: main.js
    </code>
</pre>
<h3>External References</h3>
An external script can be referenced in 3 different ways:
<ul>
    <li>With a full URL (a full web address)</li>
    <li>With a file path (like /js/)</li>
    <li>Without any path</li>
</ul>
<pre>
    <code class="html">
    &lt;script src="https://www.w3schools.com/js/myScript.js"&gt;&lt;/script&gt;
    &lt;script src="/js/myScript.js"&gt;&lt;/script&gt;
    &lt;script src="myScript.js"&gt;&lt;/script&gt;
    </code>
</pre>