    <p align="just">
      Using <strong>template literals</strong>, variables can be inserted or interpolated into strings in the <strong>ES6</strong> version of <strong>JavaScript</strong>. Check out the following instance where a template literal is used to combine strings:
    </p>
    <pre>
    <code class="javascript">
    const myCompany = 'Team DefineX';
    console.log(`My company is ${myCompany}.`);
    // Output: My company is Team DefineX.
    </code>
    </pre>
    <p>
        Notice that:
    </p>
    <br>
    <ul>
        <li>
            A template literal is enclosed by backticks <code>`</code> (this key is normally positioned at the top of your keyboard, to the left of the key <kbd>1</kbd>).
        </li>
        <li>
          	There is a placeholder, <code>${myCompany}</code>, inside the template literal. <strong>myCompany</strong>'s value is placed into the template literal.
        </li>
        <li>
            The output we print when we interpolate <strong>`My company is <code>${myCompany}</code>.`</strong> is the string, <strong>"My company is Team DefineX."</strong>
        </li>
    </ul>
    <br>
    <p align="just">
      The readability of the code is one of the greatest advantages of using template literals. Using template literals, it is easier to determine the new string's value. Additionally, 
      you need not stress about escaping double or single quotes.
    </p>
<br>
<h4 class="d-flex">
  <i class="bi bi-check-circle-fill" style="color: green"></i>
  <span class="px-2">Tasks</span>
</h4>

<div class="question">
    <div>
      <h5>#1</h5>
      <p align="justify">
        Create a variable called <strong>myName</strong> and assign your name to it.
      </p>
    </div>
    <br>
    <button class="solution-btn">Solution</button>
    <div class="solution">
      <div class="solution-content">
        <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/up1ht76j/embedded/js,result/dark/" 
        allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
      </div>
    </div>
</div>

<div class="question">
    <div>
      <h5>#2</h5>
      <p align="justify">
        Create a variable called <strong>myBirthPlace</strong> and assign your birth place to it.
      </p>
    </div>
    <br>
    <button class="solution-btn">Solution</button>
    <div class="solution">
      <div class="solution-content">
        <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/L12x0q6g/2/embedded/js,result/dark/" 
        allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
      </div>
    </div>
</div>

<div class="question">
    <div>
      <h5>#3</h5>
      <p align="justify">
        Apply a single literal template to insert your variables into the following sentence. Use console.log() to print your sentence to the console applying the format shown below:
<pre>
    <code class="javascript">
    // My name is NAME. My birth place is BIRTHPLACE.
    </code>
</pre>
        By interpolating the values stored to <strong>myName</strong> and <strong>mybirthplace</strong>, replace <strong>NAME</strong> and <strong>BIRTHPLACE</strong> in the previous string.
      </p>
    </div>
    <br>
    <button class="solution-btn">Solution</button>
    <div class="solution">
      <div class="solution-content">
        <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/p4L089cz/4/embedded/js,result/dark/" 
        allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
      </div>
    </div>
</div>

