<p align="justify">
    JavaScript <b>let statement</b> to declare a variable that are scoped to the nearest enclosing block. Another word we can say block scope variable.
</p>
<p align="justify">
    let statement added in JavaScript 1.7 version and give a stable functionality in JavaScript.
</p>
<p align="justify">
    If you don't assign variables value at declaration time, JavaScript automatically assigns the undefined value.
</p>
<p align="justify">
    You can't use variable before the declaration otherwise gives an error.
</p>
    <pre>
    <code class="javascript">
    let variable_name = value;
    </code>
    </pre>
<h5>Parameter</h5>
<ul>
    <li>
        <strong>let:</strong> JavaScript reserved keyword.
    </li>
    <li>
        <strong>constant_name:</strong> Name of the variable.
    </li>
    <li>
        <strong>value:</strong> Optional, Initial value assign at the time of declaration.
    </li>
</ul>
<p>
    Shorthand style, you can declare a one or more variables in single statement separated by comma.
</p>
    <pre>
    <code class="javascript">
    let var1 = val1, var2 = val2, ..., varN = valN;
    </code>
    </pre>
<p align="justify">
    You need to define a script type and JavaScript version:
</p>
<p align="justify">
    <strong>let in functional scope:</strong> The following let statement example, variable scope within function.
</p>
    <pre>
    <code class="javascript">
    function callme() {
        let printText = "Team DefineX";
        console.log("inside: "+ printText); // inside: Team DefineX
    }

    callme();
    console.log("outside: "+ printText); // Uncaught ReferenceError: printText is not defined"
    </code>
    </pre>
<p align="justify">
    <strong>let in loops:</strong> let variable visible in the <code>for()</code> loop block.
</p>
    <pre>
    <code class="javascript">
    function callme() {
        for( let i = 1; i < 5; i++ ) {
            console.log(i);                    // 1, 2, 3, 4
        };
        
        console.log("Outside for block:", i);  // i not defined   
    }

    callme();
    </code>
    </pre>
<p align="justify">
    let variable visible in the <code>if</code> condition block.
</p>
    <pre>
    <code class="javascript">
    if (true) {
        let i;
        for( i = 1; i < 5; i++ ) {
            console.log(i);  // 1, 2, 3, 4
        };
    }

    console.log(i);          // Uncaught ReferenceError: i is not defined"
    </code>
    </pre>
<p align="justify">
    <strong>let in global scope:</strong> Using let keyword to define variable globally. Once you define globally, you can access inside anywhere.
</p>
    <pre>
    <code class="javascript">
    let i = 1;
    console.log("start----", i);                    // start---- 1
    
    function callme() {
        for( i = 1; i < 5; i++ ) {
            console.log("looping time----",i);      // looping time---- 1, 2, 3, 4, 5 
        };
        console.log("function end----", i);         // function end---- 5
    }  
 
    callme();
    console.log("end----", i);                    // end---- 5
    </code>
    </pre>