<p align="justify"><strong>Data types</strong> are the classifications we give to the different kinds of data that we use in programming.  In JavaScript, there are seven fundamental data types:</p>

<ul >
    <li>
        <strong><em>Number</em>:</strong> Any number, including numbers with decimals: <code>4</code>, <code >8</code>, <code>1516</code>, <code>23.42</code>.
    </li>
    <pre>
    <code class="javascript">
    // With decimals:
    let x = 56.00;
        
    // Without decimals:
    let y = 56;
    </code>
    </pre>
    <h4>Exponential Notation</h4>
    <p align="justify">
        Extra large or extra small numbers can be written with scientific (exponential) notation:
    </p>
    <pre>
    <code class="javascript">
    let z = 123e5;    // 12300000
    
    let w = 123e-5;   // 0.00123
    </code>
    </pre>
    <li>
    <strong><em>String</em>:</strong> Any grouping of characters on your keyboard (letters, numbers, spaces, symbols, etc.) surrounded by single quotes: <code>' ... '</code> or double quotes <code>" ... "</code>, though we prefer single quotes. 
        Some people like to think of string as a fancy word for text.
    </li>
    <pre>
    <code class="javascript">
    // Using double quotes:
    let string1 = "Team DefineX";
    
    // Using single quotes:
    let string2 = 'Team DefineX';
    </code>
    </pre>
    <li>
        <strong><em>Boolean</em>:</strong> This data type only has two possible values— either <code>true</code> or <code>false</code> (without quotes). It’s helpful to think of booleans as on and off switches or as the answers to a “yes” or “no” question.
    </li>
    <pre>
    <code class="javascript">
    Boolean b = new Boolean(value);  
    
    document.write(10<20); //true  
    document.write(10<5); //false  

    let x = 5;
    let y = 5;
    let z = 6;
    (x == y)       // true
    (x == z)       // false
    </code>
    </pre>
    <li>
        <strong><em>BigInt</em>:</strong> All JavaScript numbers are stored in a a 64-bit floating-point format. JavaScript BigInt is a new datatype (ES2020) that can be used to store integer values that are too big to be represented by a normal JavaScript Number.
    </li>
    <pre>
    <code class="javascript">
    let x = BigInt("123456789012345678901234567890");
    </code>
    </pre>
    <li>
        <strong><em>Null</em>:</strong> This data type represents the intentional absence of a value, and is represented by the keyword <code>null</code> (without quotes).
    </li>
    <pre>
    <code class="javascript">
    let num = null;
    console.log(num); // null
    console.log(typeof num); // "object"
    </code>
    </pre>
    <li>
        <strong><em>Undefined</em>:</strong> This data type is denoted by the keyword <code>undefined</code> (without quotes).  It also represents the absence of a value though it has a different use than <code>null</code>. <code>undefined</code> means that a given value does not exist.
    </li>
    <pre>
    <code class="javascript">
    let num;    // Value is undefined, type is undefined
    </code>
    </pre>
    Any variable can be emptied, by setting the value to undefined. The type will also be undefined.
    <pre>
    <code class="javascript">
    num = undefined;    // Value is undefined, type is undefined
    </code>
    </pre>
    <li>
        <strong><em>Symbol</em>:</strong> A newer feature to the language, symbols are unique identifiers, useful in more complex coding. No need to worry about these for now.
    </li>
    <pre>
    <code class="javascript">
    const mySymbol = Symbol();

    const mySymbol = Symbol("my description");

    const sym1 = Symbol("foo");
    const sym2 = Symbol("foo");

    // false
    console.log(sym1 === sym2);
    </code>
    </pre>
    <li>
        <strong><em>Object</em>:</strong> JavaScript objects are written with curly braces <code>{}</code>. Object properties are written as name:value pairs, separated by commas.
    </li>
    <pre>
    <code class="javascript">
    const person = {firstName:"Gökhan", lastName:"Ertaş", age:34, eyeColor:"brown"};
    </code>
    </pre>
    <li>
        <strong><em>Array</em>:</strong> JavaScript arrays are written with square brackets <code>[]</code>. Array items are separated by commas.
    </li>
    <pre>
    <code class="javascript">
    const dfxCoreValues = ["Driven By Impact", "Best Enviroment for Best People", "Future in Mind", "Define Next"];
    </code>
    </pre>
    <li>
        <strong><em>Date</em>:</strong> The JavaScript date object can be used to get year, month and day. You can display a timer on the webpage by the help of JavaScript date object.
        You can use different Date constructors to create date object. It provides methods to get and set day, month, year, hour, minute and seconds.
        <br>
        <br>
        <p>
            <strong>Constructor</strong>
        </p>
        <p>
            You can use 4 variant of Date constructor to create date object.
        </p>
        <ol>
            <li>Date()</li>
            <li>Date(milliseconds)</li>
            <li>Date(dateString)</li>
            <li>Date(year, month, day, hours, minutes, seconds, milliseconds)</li>
        </ol>
    </li>
    <pre>
    <code class="javascript">
    var today=new Date();  
    document.getElementById('txt').innerHTML=today; // Wed May 17 2023 09:55:58 GMT+0300 (GMT+03:00)

    var date=new Date();  
    var day=date.getDate();  
    var month=date.getMonth()+1;  
    var year=date.getFullYear();  
    document.write(day+"/"+month+"/"+year);  // 17/5/2023

    var today=new Date();  
    var h=today.getHours();  
    var m=today.getMinutes();  
    var s=today.getSeconds();  
    document.getElementById('txt').innerHTML=h+":"+m+":"+s;  // 9:55:58

    const date = new Date("2022-03-25");
    ocument.write(date);  // Fri Mar 25 2022 03:00:00 GMT+0300 (GMT+03:00)
    </code>
    </pre>
</ul>