<p align="justify">
    Programming is often highly collaborative. In addition, our own code can quickly become difficult to understand when we return to it— sometimes only an hour later! For these reasons, 
    it’s often useful to leave notes in our code for other developers or ourselves.
</p>
<br>
<p align="justify">
    As we write JavaScript, we can write comments in our code that the computer will ignore as our program runs. These comments exist just for human readers.
</p>
<br>
<p align="justify">
    Comments can explain what the code is doing, leave instructions for developers using the code, or add any other useful annotations.
</p>
<br>
<p align="justify">
    There are two types of code comments in JavaScript:
</p>
<br>
<p align="justify">
    &nbsp; &nbsp; &nbsp; &nbsp; <strong>1.</strong> A single line comment will comment out a single line and is denoted with two forward slashes // preceding it.
    <pre>
    <code class="javascript">
      // 5
      console.log(5);
    </code>
    </pre>
</p>
<p align="justify">
    You can also use a single line comment to comment after a line of code:
    <pre>
    <code class="javascript">
    console.log(5);  // 5
    </code>
    </pre>
</p>
<p align="justify">
    You can also use this syntax to comment something out in the middle of a line of code:
    <pre>
    <code class="javascript">
    console.log(/*IGNORED!*/ 5);  // 5
    </code>
    </pre>
</p>
<p align="justify">
    &nbsp; &nbsp; &nbsp; &nbsp; <strong>2.</strong> A multi-line comment will comment out multiple lines and is denoted with /* to begin the comment, and */ to end the comment.
    <pre>
    <code class="javascript">
    /*
    This is all commented 
    console.log(10);
    None of this is going to run!
    console.log(99);
     */
    </code>
    </pre>
</p>

<br>
<h4 class="d-flex">
  <i class="bi bi-check-circle-fill" style="color: green"></i>
  <span class="px-2">Tasks</span>
</h4>

<div class="question">
  <div>
    <h5>#1</h5>
    <p align="justify">
      At the below, you will see the core values of defineX. On line 1, write a single line comment that says 
      Opening line.
    </p>
  </div>
  <br>
  <button class="solution-btn">Solution</button>
  <div class="solution">
    <div class="solution-content">
      <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/t3a9kz04/5/embedded/js,result/dark/" 
      allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
    </div>
  </div>
</div>


<div class="question">
  <div>
    <h5>#2</h5>
    <p align="justify">
      Single line comments are great for adding context to your code. Multi-line comments are often best 
      suited to prevent a block of code from running. However, both types of comments can be used for either
      purpose. Use a multi-line comment so that the bottom 3 console.log() statements are all commented out.
    </p>
  </div>
  <br>
  <button class="solution-btn">Solution</button>
  <div class="solution">
    <div class="solution-content">
      <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/t3a9kz04/5/embedded/js,result/dark/" 
      allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
    </div>
  </div>
</div>