<br>
<h4>What is JavaScript?</h4>
<p align="justify">
    <strong>JavaScript (JS)</strong> is the most popular lightweight, interpreted compiled programming language. It can
    be used for both Client-side as well as Server-side developments.
    <strong>JavaScript</strong> also known as a scripting language for web pages. JavaScript can update and change both
    HTML and CSS. <strong>burayi bağla</strong> JavaScript can calculate, manipulate and validate data.
</p>
<p align="justify">
    The language is used heavily in web pages, but now various JavaScript platforms allow you to execute JavaScript on a
    server without a browser. It is also used to create mobile apps for <strong>Android</strong> and
    <strong>iOS</strong> platforms.
</p>
<p>
    <strong><a rel="nofollow" href="https://survey.stackoverflow.co/2022/#technology" target="_blank"><u>Stack Overflow
                anketine</u></a></strong>
    göre JavaScript geçtigimiz 10 yil gibi 2022 yilinda da&nbsp;<strong>HTML</strong>,&nbsp;<strong>CSS</strong>
    ve&nbsp;<strong>Python</strong> gibi yazilim dillerini geçerek en yaygin kullanilan programlama dili oldu.
</p>
<br>
<h4>Why to Learn Javascript?</h4>
<p>
    JavaScript is one of the <strong>3 languages</strong> all web developers <strong>must</strong> learn:
</p>
<p>
    &nbsp;&nbsp; 1. <a href="#"><strong>HTML</strong></a> to define the content of web pages
</p>
<p>
    &nbsp;&nbsp; 2. <a href="#"><strong>CSS</strong></a> to specify the layout of web pages
</p>
<p>
    &nbsp;&nbsp; 3. <strong>JavaScript</strong> to program the behavior of web pages
</p>
<br>
<h3>What are the features of Javascript?</h3>
<p align="justify">
    There are following features of JavaScript:
    <ul>
        <li>All popular web browsers support JavaScript as they provide built-in execution environments</li>
        <li>JavaScript follows the syntax and structure of the C programming language. Thus, it is a structured
            programming language</li>
        <li>JavaScript is a weakly typed language, where certain types are implicitly cast (depending on the operation)
        </li>
        <li>JavaScript is an object-oriented programming language that uses prototypes rather than using classes for
            inheritance</li>
        <li>It is a light-weighted and interpreted language</li>
        <li>It is a case-sensitive language</li>
        <li>Unlike other languages, its dynamic typing allows for variable declarations that are not explicitly stated –
            making it a unique and highly versatile language.</li>
        <li><strong>Control statements:</strong> Javascript has control clauses like loops, switch cases, and if-else
            statements. These control statements enable users to create intricate code.</li>
        <li>JavaScript is supportable in several operating systems including, Windows, macOS, etc</li>
        <li>It provides good control to the users over the web browsers</li>
        <li>JavaScript leverages Promises and Async functions to enable asynchronous behavior, helping improve the
            performance of web pages</li>
    </ul>
</p>
<br>
<h3>What Makes JavaScript Great?</h3>
<p align="justify">
    There are following advantages of JavaScript:
    <br>
    <ul>
        <li><strong>Simple −</strong> JavaScript is simple to comprehend and pick up. Both users and developers will
            find the structure to be straightforward. Additionally, it is very doable to implement, saving web
            developers a tonne of money when creating dynamic content.</li>
        <li><strong>Speed −</strong> JavaScript is a "interpreted" language, it cuts down on the time needed for
            compilation in other programming languages like Java. Another client-side script is JavaScript, which
            accelerates programme execution by eliminating the wait time for server connections.</li>
        <li><strong>Versatility −</strong> Because JavaScript seamlessly integrates with other programming languages,
            many developers favour using it to create a variety of applications. Any webpage or the script of another
            programming language can contain it.</li>
        <li><strong>Reduces Load on the Server −</strong> The language runs on the client side rather than the server.
            Thus, the server doesn’t have to deal with the stress of executing JavaScript. Once this burden is reduced,
            the server will function more quickly and concentrate on other tasks like data management.</li>
        <li><strong>Popularity ‒</strong> plenty of resources and forums are available to help beginners with limited
            technical skills and knowledge of JavaScript.</li>
        <li><strong>Updates ‒</strong> JavaScript development team and ECMA International continuously update and create
            new frameworks and libraries, ensuring its relevance within the industry.</li>
        <li><strong>Independent Platform - </strong> Most browsers support JavaScript, making it simple for any browser
            to comprehend and recognise JavaScript code. You don’t need to go through any installation or setup
            procedures because it is an easily available technology. Simply use your browser to create several webpage
            editing zones.</li>
    </ul>
</p>
<br>
<h3>What Are JavaScript’s Weaknesses?</h3>
<p align="justify">
    Like any other programming language, JavaScript has several limits you need to consider. The following are some of
    the disadvantages of using JavaScript:
    <br>
    <ul>
        <li><strong>Browser compatibility ‒</strong> different web browsers interpret JavaScript code differently,
            causing inconsistency. Therefore, you should test your JavaScript script in all popular web browsers,
            including their older versions, to avoid harming the user experience.</li>
        <li><strong>Security ‒</strong> JavaScript code that runs on the client-side is vulnerable to exploitation by
            irresponsible users.</li>
        <li><strong>Debugging ‒</strong> while some HTML editors support debugging, they’re less efficient than other
            editors. Since browsers don’t show any warning for errors, finding the issue may be challenging.</li>
        <li><strong>Rendering Stopped - </strong> A single code error can stop the rendering of the entire JavaScript
            code on the website. To the user, it looks as if JavaScript was not present. However, the browsers are
            extremely tolerant of these errors.</li>
        <li><strong>Single Inheritance - </strong> JavaScript only supports single inheritance and not multiple
            inheritance. Some programs may require this object-oriented language characteristic.</li>
        <li><strong>Rendering is slower than HTML - </strong> Although the situation is improving, the DOM (Document
            Object Model) JavaScript uses is slow. Despite all current and future improvements, it may never reach the
            rendering speed of HTML.</li>
    </ul>
</p>
<br>
<h3>Limitations of JavaScript</h3>
<p align="justify">
    We cannot treat JavaScript as a full-fledged programming language. It lacks the following important features −
    <ul>
        <li>Client-side JavaScript does not allow the reading or writing of files. This has been kept for security
            reason.</li>
        <li>JavaScript cannot be used for networking applications because there is no such support available.</li>
        <li>JavaScript doesn't have any multi-threading or multiprocessor capabilities.</li>
    </ul>
</p>
<br>
<h3>Are Java and JavaScript similar?</h3>
<p align="justify">
    Java ve JavaScript, hem teknik özellikleri hem de diger özellikleri açisinda iki farkli programlama dilidir. Java,
    mobil uygulama gelistirmede kullanilan genel amaçli bir programlama dilidir. JavaScript ise web sitelerini
    etkilesimli hale getiren bir betik dilidir. Basitlik konusunda ikisi de kolaylikla ögrenilebilir. Ancak, her iki dil
    de birbirinden farkli durumlarda kullanilir. Peki, Java ve JavaScript arasindaki farklar nelerdir?
    <ul>
        <li>Java nesne yönelimli programlama dilidir. JavaScript ise OOP scripting dilidir.</li>
        <li>JavaScript sadece tarayiciyla kullanilir ve web sitelerini etkilesimli hale getirmek için kullanilir. Java
            ise sunucu tarafi uygulamalar olusturmak için kullanilir.</li>
        <li>JavaScript’in kodu metin olarak yazilir. Dinamik içerik olusturmak için web sayfalarinda HTML ve CSS ile
            birlikte çalisir. Java’nin kodu derlenmelidir ve Java bagimsiz bir dildir. </li>
        <li>Java sinif tabanlidir. JavaScript ise dinamiktir.</li>
    </ul>
</p>
<br>
<strong>JavaScript can be added to your HTML file in two ways:</strong>
<p>
    <ul>
        <li>Inline JavaScript</li>
        <li>Internal JavaScript</li>
        <li>External JavaScript</li>
    </ul>
</p>
<p align="justify">
    <strong>Inline JavaScript:</strong>
    Here, you have the JavaScript code in HTML tags in some special JS-based attributes.
    <br>
    For example, HTML tags have event attributes that allow you to execute some code inline when an event is triggered.
</p>
<pre>
    <code class="html">
        &lt;html&gt;
        &lt;!DOCTYPE html&gt;
        &lt;body&gt;
            &lt;button onclick="alert('Welcome to Definex Javascript Training')"&gt;Click me!&lt;/button&gt;
        &lt;/body&gt;
        &lt;/html&gt;
    </code>
</pre>
<p align="justify">
    <strong>Internal JavaScript:</strong>
    We can add JS code directly to our HTML file by writing the code inside the &lt;script&gt; &amp; &lt;/script&gt;.
    The &lt;script&gt; tag can either be placed inside the &lt;head&gt; or the &lt;body&gt; tag according to the
    requirement.
</p>
<pre>
    <code class="html">
    &lt;!DOCTYPE html&gt;
    &lt;html&gt;
    &lt;head&gt;
      &lt;meta charset="UTF-8"&gt;
      &lt;title&gt;Definex Javascript Training&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
    &lt;!-- JavaScript Code --&gt;
      &lt;script&gt;
        console.log("Welcome to Definex Javascript Training");
      &lt;/script&gt;
    &lt;/body&gt;
    &lt;/html&gt;
  </code>
</pre>
<p align="justify">
    <strong>External JavaScript:</strong>
    We can create the file with a .js extension and paste the JS code inside of it. After creating the file, add this
    file in &lt;script src=”file_name.js”&gt; tag, and this <strong>&lt;script&gt;</strong> can import inside
    <strong>&lt;head&gt;</strong> or <strong>&lt;body&gt;</strong> tag of the HTML file.
</p>
<pre>
    <code class="html">
    &lt;!DOCTYPE html&gt;
    &lt;html&gt;
    &lt;head&gt;
        &lt;meta charset="UTF-8"&gt;
        &lt;title&gt;Definex Javascript Training&lt;/title&gt;
        &lt;script src="main.js"&gt;&lt;/script&gt;
    &lt;/head&gt;
    &lt;body&gt;
    &lt;/body&gt;
    &lt;/html&gt;
    </code>
</pre>
<pre>
    <code class="javascript">
    /* JavaScript code can be embedded inside head section or body section */
    console.log("Welcome to Definex Javascript Training");
    // JavaScript file name: main.js
    </code>
</pre>
<h3>External References</h3>
An external script can be referenced in 3 different ways:
<ul>
    <li>With a full URL (a full web address)</li>
    <li>With a file path (like /js/)</li>
    <li>Without any path</li>
</ul>
<pre>
    <code class="html">
    &lt;script src="https://www.w3schools.com/js/myScript.js"&gt;&lt;/script&gt;
    &lt;script src="/js/myScript.js"&gt;&lt;/script&gt;
    &lt;script src="myScript.js"&gt;&lt;/script&gt;
    </code>
</pre>
<h4>JavaScript Versions</h4>
<p align="justify">
    <strong>JavaScript </strong>
    is a modern scripting language that is popular worldwide among developers. It is a lightweight, interpreted compiled
    language that can be used on both client-side as well as the server side. It was invented in the year 1995 by
    Brendan Eich. Over the years the language has improved a lot and a lot of new features have been added which make
    the coding process even easier. This language became an ECMA standard in the year 1997.
</p>
<br>
<img src="../../_includes/images/JavaScript-Versions.png" class="img-fluid" alt="Js Versions">
<br>
<p>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">ES1</h5>
                <small>1997</small>
            </div>
            <p class="mb-1">Initial Release</p>
            <small>ECMA Script 1</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">ES2</h5>
                <small class="text-muted">1998</small>
            </div>
            <p class="mb-1">Minor Editorial Changes</p>
            <small class="text-muted">ECMA Script 2</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">ES3</h5>
                <small class="text-muted">1999</small>
            </div>
            <p class="mb-1">
                <strong>Added:</strong>
                <ul>
                    <li>Regular Expression</li>
                    <li>try/catch</li>
                    <li>Exception Handling</li>
                    <li>switch case and do-while</li>
                </ul>
            </p>
            <small class="text-muted">ECMA Script 3</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">ES4</h5>
                <small class="text-muted">-</small>
            </div>
            <p class="mb-1">
                Abandoned due to conflicts - Never released
            </p>
            <small class="text-muted">ECMA Script 4</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">ES5</h5>
                <small class="text-muted">2009</small>
            </div>
            <p class="mb-1">
                <strong>Added:</strong>
                <ul>
                    <li>JavaScript “strict mode”</li>
                    <li>JSON support</li>
                    <li>JS getters and setters</li>
                    <li>String.trim()</li>
                    <li>Array.isArray()</li>
                    <li>Array iteration methods</li>
                </ul>
            </p>
            <small class="text-muted">ECMA Script 5</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">ES6</h5>
                <small class="text-muted">2015</small>
            </div>
            <p class="mb-1">
                <strong>Added:</strong>
                <ul>
                    <li>let and const</li>
                    <li>Class declaration</li>
                    <li>import and export</li>
                    <li>for..of loop</li>
                    <li>Arrow functions</li>
                </ul>
            </p>
            <small class="text-muted">ECMA Script 2015</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Yearly Additions</h5>
                <small class="text-muted">2016</small>
            </div>
            <p class="mb-1">
                <strong>Added:</strong>
                <ul>
                    <li>Block scope for variable</li>
                    <li>async/await</li>
                    <li>Array.includes function</li>
                    <li>Exponentiation Operator</li>
                </ul>
            </p>
            <small class="text-muted">ECMA Script 2016</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Yearly Additions</h5>
                <small class="text-muted">2017</small>
            </div>
            <p class="mb-1">
                <strong>Added:</strong>
                <ul>
                    <li>Object.values</li>
                    <li>Object.entries</li>
                    <li>Object.getOwnPropertiesDescriptors</li>
                    <li>async functions</li>
                    <li>string padding</li>
                </ul>
            </p>
            <small class="text-muted">ECMA Script 2017</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Yearly Additions</h5>
                <small class="text-muted">2018</small>
            </div>
            <p class="mb-1">
                <strong>Added:</strong>
                <ul>
                    <li>spread operator</li>
                    <li>rest parameters</li>
                    <li>asynchronous iteration</li>
                    <li>Promise.finally()</li>
                    <li>Additions to RegExp</li>
                </ul>
            </p>
            <small class="text-muted">ECMA Script 2018</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Yearly Additions</h5>
                <small class="text-muted">2019</small>
            </div>
            <p class="mb-1">
                <strong>Added:</strong>
                <ul>
                    <li>Array.flat()</li>
                    <li>Array.flatMap()</li>
                    <li>Array.sort is now stable</li>
                    <li>String.trimStart()</li>
                    <li>String.trimEnd()</li>
                </ul>
            </p>
            <small class="text-muted">ECMA Script 2019</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Yearly Additions</h5>
                <small class="text-muted">2020</small>
            </div>
            <p class="mb-1">
                <strong>Added:</strong>
                <ul>
                    <li>BigInt primitive type</li>
                    <li>nullish coalescing operator</li>
                </ul>
            </p>
            <small class="text-muted">ECMA Script 2020</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Yearly Additions</h5>
                <small class="text-muted">2021</small>
            </div>
            <p class="mb-1">
                <strong>Added:</strong>
                <ul>
                    <li>String.replaceAll() Method</li>
                    <li>Promise.any() Methodr</li>
                </ul>
            </p>
            <small class="text-muted">ECMA Script 2021</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Yearly Additions</h5>
                <small class="text-muted">2022</small>
            </div>
            <p class="mb-1">
                <strong>Added:</strong>
                <ul>
                    <li>Top-level await</li>
                    <li>New class elements</li>
                    <li>Static block inside classes</li>
                </ul>
            </p>
            <small class="text-muted">ECMA Script 2022</small>
        </a>
    </div>
</p>
<p>
    <strong>Older </strong> versions of browsers do not support ES6.
</p>
<br>