<p align="justify">
    This section discusses how to declare variables in JavaScript. The var statement in JavaScript is used to declare variables that are scoped to the closest function block.
</p>
<br>
<p align="justify">
    JavaScript will automatically assign an undefined value to a variable if its value is not set at the time of declaration.
</p>
<br>
<p align="justify">
    Variables cannot be used prior to the declaration; otherwise, an error will occur.
</p>
<br>
<p align="justify">
   <strong>A few general guidelines for naming variables include:</strong> 
</p>
<ul>
    <li>
        The names of variables can never begin with a number.
    </li>
    <li>
        <code>MyName</code> and <code>myname</code> are two separate variables because of the case sensitivity of variable names. Using two variables with the same name but different case is not recommended.
    </li>
    <li>
        The names of variables and keywords can't be the same. Check out the 
        <a target="_blank" rel="noopener" class="e14vpv2g1 gamut-xro1w8-ResetElement-Anchor-AnchorBase e1bhhzie0" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Lexical_grammar#Keywords">MDN’s keyword documentation</a> for a detailed list of keywords.
    </li>
</ul>
    <pre>
    <code class="javascript">
    var variable_name = value;
    </code>
    </pre>
<h5>Parameter</h5>
<ul>
    <li>
        <strong>var:</strong> JavaScript reserved keyword.
    </li>
    <li>
        <strong>var_name:</strong> Name of the variable.
    </li>
    <li>
        <strong>value:</strong> Optional, Initial value assign at the time of declaration.
    </li>
</ul>
<p align="justify">
    You can declare one or more variables in a single statement separated by a comma.
</p>
    <pre>
    <code class="javascript">
    var var1 = val1, var2 = val2, ..., varN = valN;
    </code>
    </pre>
<p align="justify">
    Without the var keyword, a variable cannot be declared or initialized in ''Strict Mode JavaScript'' because the system generates an error known as ''a reference error''.
</p>
    <pre>
    <code class="javascript">
    "use strict";   // strict mode specification 
    var a = "A";
    b = "B";        // give an ReferenceError 
    </code>
    </pre>
<p align="justify">
    One or more variables are defined and set to their values.
</p>
    <pre>
    <code class="javascript">
    var a = 0, b = 0;
    </code>
    </pre>
<p align="justify">
    <strong>Variable override:</strong> The variable's value can be reassigned.
</p>
    <pre>
    <code class="javascript">
    var a = "Team";
    if (a){
        console.log("variable a: " + a);
    }

    var a ="DefineX";
    console.log("reinitializing a: " + a);
    </code>
    </pre>
<p align="justify">
    <strong>var in functional scope:</strong> In the following var statement example, the scope of the quote variable can be accessed within the scope of the callme() function. The variable cannot be accessed outside of the function:
</p>
    <pre>
    <code class="javascript">
    function callme() {
        var age = 35;
        console.log("your age : " + age); // "your age : 35"
    }

    callme();
    console.log("your age : " + age);    // Uncaught ReferenceError: age is not defined"
    </code>
    </pre>
<p align="justify">
    <strong>var in global scope:</strong> Since the variable is declared outside of the function, it can be accessed both within and without the function's scope:
</p>
    <pre>
    <code class="javascript">
    var age = 35;
    function callme() {
        console.log("your age : " + age); // "your age : 35"
    }

    callme();
    console.log("your age : " + age);    // "your age : 35"
    </code>
    </pre>

<br>
<h4 class="d-flex">
  <i class="bi bi-check-circle-fill" style="color: green"></i>
  <span class="px-2">Tasks</span>
</h4>

<div class="question">
  <div>
    <h5>#1</h5>
    <p align="justify">
        Declare a variable called <strong>yourCompanyName</strong> using the var keyword and assign the string <strong>"Team DefineX"</strong> to it.
    </p>
  </div>
  <br>
  <button class="solution-btn">Solution</button>
  <div class="solution">
    <div class="solution-content">
        <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/ebxpz6q4/1/embedded/js,result/dark/" 
        allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
    </div>
  </div>
</div>

<div class="question">
  <div>
    <h5>#2</h5>
    <p align="justify">
        Declare a variable with the name <strong>yourAge</strong> using the var keyword and attribute your age to it.
    </p>
  </div>
  <br>
  <button class="solution-btn">Solution</button>
  <div class="solution">
    <div class="solution-content">
        <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/ert4ubnv/embedded/js,result/dark/" 
        allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
    </div>
  </div>
</div>

<div class="question">
    <div>
      <h5>#3</h5>
      <p align="justify">
        To print the value stored to <strong>yourCompanyName</strong>, use console.log(). On the next line, use console.log() to print the value saved to <strong>yourAge</strong>.
      </p>
    </div>
    <br>
    <button class="solution-btn">Solution</button>
    <div class="solution">
      <div class="solution-content">
        <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/x8tsnpq2/1/embedded/js,result/dark/" 
        allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
      </div>
    </div>
  </div>