<p align="justify">
    This section mentions how to declare JavaScript constants. 
    <br>
    A constant variable with a value is declared using the const statement in JavaScript. By the way, the keyword const, which stands for constant, was introduced in ES6.
</p>
<br>
<p align="justify">
    If you're not sure whether to use the let or const keyword, think about whether you'll need to change the value of the variable later. If you need to change the variable's value, use let. If not, use const.    
</p>
    <pre>
    <code class="javascript">
    const constant_name = value;
    </code>
    </pre>
<h5>Parameter</h5>
<ul>
    <li>
        <strong>const:</strong> JavaScript reserved keyword.
    </li>
    <li>
        <strong>constant_name:</strong> Name of the constant variable.
    </li>
    <li>
        <strong>value:</strong> Required, Initializing constant value.
    </li>
</ul>
<p align="justify">
    You can declare one or more constants in single statement separated by a comma.
</p>
    <pre>
    <code class="javascript">
    const con1 = val1, con2 = val2, ..., conN = valN;
    </code>
    </pre>
<p align="justify">
    Constant variables must be assigned a value when declared. If you try to declare a <code>const</code> variable without a value, you’ll get a <code>SyntaxError</code>.
    <br>
    Constant variables must be initialized with a value. You will receive a SyntaxError if you attempt to declare a constant variable without a value.
</p>
    <pre>
    <code class="javascript">
    const a = 10;
    console.log("Constant a: ", a);     // Constant a: 10
    </code>
    </pre>

    <pre>
    <code class="javascript">
    const b;                            // weird, const can define without initial value
                                        // Error: Uncaught SyntaxError: Missing initializer in const declaration"
    console.log("Constant b: ", b);     // automatic assign 'undefined'
    </code>
    </pre>

<p>
    Const variables cannot be reassigned because they are constant. Attempting to reassign a const variable will result in a <code>TypeError</code>.
</p>
    
    <pre>
    <code class="javascript">
    const a = 10;
    a = 20;     // TypeError: Assignment to constant variable.
    </code>
    </pre>
    
    <pre>
    <code class="javascript">
    const a = 10;
    var a = 20;     // Error: Identifier 'a' has already been declared"
    </code>
    </pre>
<h5>Example</h5>
    <pre>
    <code class="javascript">
    const c = 20;                    // Define and initializing 'c' constant variable
    const d = c;                     // Define 'd' constant variable, initialize constant 'c'
    console.log("Constant c: ", c);  // Constant c: 20
    console.log("Constant d: ", d);  // Constant d: 20
    </code>
    </pre>
<h5>Example</h5>
    <pre>
    <code class="javascript">
    const obj = {"a": "A", "b": "B"};       // Define and initializing constant object
    console.log("Constant Object:", obj);   // { a: "A", b: "B" }
    console.log("Constant obj.a:", obj.a);  // Constant obj.a: "A"
    </code>
    </pre>
<h5>Example</h5>
    <pre>
    <code class="javascript">
    const obj = {"a": "A", "b": "B"};       // Define and initializing constant object
    obj.a = "AA";                           // 'a' key, try to reassign
    console.log("Constant obj.a:", obj.a);  // Constant obj.a: "AA"
    </code>
    </pre>

<br>
<h4 class="d-flex">
  <i class="bi bi-check-circle-fill" style="color: green"></i>
  <span class="px-2">Tasks</span>
</h4>

<div class="question">
  <div>
    <h5>#1</h5>
    <p align="justify">
        Create a <code>constant</code> variable called <strong>pi</strong> and assign its value to the string <strong>3.14159</strong>.
    </p>
  </div>
  <br>
  <button class="solution-btn">Solution</button>
  <div class="solution">
    <div class="solution-content">
        <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/43zbhoas/1/embedded/js,result/dark/" 
        allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
    </div>
  </div>
</div>

<div class="question">
  <div>
    <h5>#2</h5>
    <p align="justify">
        Print the value of entree to the console to ensure that the value <strong>3.14159</strong> has been saved to <strong>pi</strong>.
    </p>
  </div>
  <br>
  <button class="solution-btn">Solution</button>
  <div class="solution">
    <div class="solution-content">
        <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/yht86ru0/1/embedded/js,result/dark/" 
        allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
    </div>
  </div>
</div>

<div class="question">
    <div>
      <h5>#3</h5>
      <p align="justify">
        Let's try reassigning a new value to a constant variable called <strong>pi</strong> and see what happens.
      </p>
    </div>
    <br>
    <button class="solution-btn">Solution</button>
    <div class="solution">
      <div class="solution-content">
        <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/u1m7nghL/3/embedded/js,result/dark/" 
        allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
      </div>
    </div>
  </div>