<h3>What is JavaScript?</h3>
<p align="justify">
    <strong>JavaScript (JS)</strong> is a lightweight scripting and programming language that is widely used and interpreted. While it is heavily used in web pages, 
    a variety of JavaScript platforms now supports JavaScript on a server without a browser. In addition to this feature, it also enables us to create mobile 
    apps for Android and iOS platforms. 
</p>
<br>
<p align="justify">
    By using <strong>JavaScript</strong>, <strong>HTML</strong> and <strong>CSS</strong>, two of the core technologies for building Web pages, can be updated and changed. The language also allows the user to 
    calculate, manipulate and validate the data.
</p>
<br>
<p align="justify">
    JavaScript can also work in accordance with Client-side and Server-side developments. 
</p>
<p align="justify">
    According to the <strong><a rel="nofollow" href="https://survey.stackoverflow.co/2022/#technology" target="_blank"><u></u>Stack Overflow survey,</u></a></strong> 
    JavaScript has become the most widely used programming language in 2022, overtaking software languages such as 
    HTML, CSS and Python for the past 10 years.
</p>
<br>
<h3>Why to Learn Javascript?</h3>
<p>
    JavaScript is one of the <strong>3 languages</strong> that need to be learned:
</p>
<p>
    &nbsp;&nbsp; 1. <strong>HTML</strong> (used to define the content of web pages)
</p>
<p>
    &nbsp;&nbsp; 2. <strong>CSS</strong> (used to specify the layout of web pages)
</p>
<p>
    &nbsp;&nbsp; 3. <strong>JavaScript</strong> (used to program the behavior of web pages)
</p>
<br>
<h3>What are the features of Javascript?</h3>
<p align="justify">
    Features of JavaScript include:
    <ul>
        <li>Providing a built-in execution environment for the popular web browser</li>
        <li>Following the syntax and structure of the C programming language as a structured programming language</li>
        <li>Being a weakly typed and case-sensitive language</li>
        <li>Using prototypes rather than classes for inheritance</li>
        <li>Having a dynamic typing which enables a variety of declarations unlike other languages</li>
        <li>Having control clauses like loops, switch cases, and if-else statements allowing users to create intricate code</li>
        <li>Being supported in several operating systems including, Windows, macOS, etc</li>
        <li>Providing a good sense of control to the users over the web browsers</li>
        <li>Reinforcing and improving the performance of web pages with ‘Promises and Async functions</li>
    </ul>
</p>
<br>
<h3>What Makes JavaScript Great?</h3>
<p align="justify">
    There are following advantages of JavaScript:
    <br>
    <ul>
        <li>
            <strong>Simplicity − </strong> JavaScript appeals to both users and developers. It is easy to understand, 
            learn and put into practice, which will save the developers a great amount of money when producing dynamic content. 
        </li>
        <li>
            <strong>Speed − </strong> Because JavaScript is a "interpreted" language without compilation, it works faster than 
            other programming languages like Java. JavaScript speeds up program execution by cutting down on server connection wait times.
        </li>
        <li>
            <strong>Versatility − </strong> JavaScript is frequently used by programmers to create a variety of apps because it integrates 
            nicely with many programming languages. It can be found in any script written in any computer language or on any website.
        </li>
        <li>
            <strong>Reduction in Server Load − </strong> The language is used, not on the server, but on the client. Therefore, running JavaScript 
            does not place any strain on the server. The server can run more quickly and concentrate on other tasks, including data administration, 
            when the load is reduced.
        </li>
        <li>
            <strong>Popularity ‒ </strong> For those new to JavaScript or with low technical expertise, there are numerous resources and forums available.
        </li>
        <li>
            <strong>Updates ‒</strong> In order to maintain JavaScript's relevance within the industry, the development team and ECMA International 
            regularly update and build new frameworks and libraries.
        </li>
        <li>
            <strong>Independent Platform - </strong> The majority of browsers support JavaScript, making it simple for any browser to comprehend and 
            interpret JavaScript code. There is no need for installation or configuration because the technology is readily available. Just use the 
            browser to establish multiple editing zones on a webpage.
        </li>
    </ul>
</p>
<br>
<h3>What Are JavaScript’s Weaknesses?</h3>
<p align="justify">
    Similar to other programming languages, JavaScript has limitations that must be considered. Listed below are some drawbacks of utilizing JavaScript:
    <br>
    <ul>
        <li>
            <strong>Browser compatibility ‒ </strong> JavaScript code can be inconsistent due to the varying ways that different web browsers 
            perceive it. In order to avoid degrading the user experience, you should test your JavaScript script in every major web browser, 
            including older versions.
        </li>
        <li>
            <strong>Security ‒</strong> JavaScript code that is executed on the client side is open to abuse by careless users.
        </li>
        <li>
            <strong>Debugging ‒</strong> Whereas some HTML editors allow for debugging, their effectiveness isn't as high as that of other editors. 
            Finding the problem may be difficult because browsers don't display any warnings for issues.
        </li>
        <li>
            <strong>Rendering Issue - </strong> The website's entire JavaScript code can stop rendering due to a single error in the code. 
            The user perceives this as the absence of JavaScript. These faults are, nevertheless, quite well tolerated by browsers. 
        </li>
        <li>
            <strong>Single Inheritance - </strong> JavaScript does not support multiple inheritance; it only supports single inheritance. 
            This object-oriented language feature might be necessary for some programs.
        </li>
        <li>
            <strong>Rendering is slower than HTML - </strong> Although there have been some improvements, DOM, (Document Object Model) that JavaScript 
            uses, is still slow. It might never achieve HTML's rendering speed, despite all recent and upcoming advances.
        </li>
    </ul>
</p>
<br>
<h3>Limitations of JavaScript</h3>
<p align="justify">
    JavaScript cannot be seen as a full-fledged programming language. The following crucial elements are absent:
    <ul>
        <li>
            The reading and writing of files are not supported by Client-side JavaScript. This has been preserved for security purposes.
        </li>
        <li>
            Due to a lack of available support, JavaScript cannot be utilized for networking applications.
        </li>
        <li>
            JavaScript lacks the ability to use multiple processors or threads.
        </li>
    </ul>
</p>
<br>
<h3>Are Java and JavaScript similar?</h3>
<p align="justify">
    Java and JavaScript are two different programming languages, both in terms of their technical features and other features. Java is a 
    general-purpose programming language used in mobile application development. JavaScript is a scripting language that makes websites interactive. 
    Both can be easily learned when it comes to simplicity. However, both languages are used in different situations. So, what are the differences 
    between Java and JavaScript?
    <ul>
        <li>
            Java is an object-oriented programming language. JavaScript is the OOP scripting language.
        </li>
        <li>
            While JavaScript is only used with the browser to make websites interactive, Java is used to build server-side applications.
        </li>
        <li>
            JavaScript's code is written as text and works with HTML and CSS in web pages to create dynamic content. Java's code is compiled and 
            created, and Java is a standalone language.
        </li>
        <li>
            While Java is a class-based language, JavaScript is a dynamic one.
        </li>
    </ul>
</p>
<br>
<h4>JavaScript Versions</h4>
<p align="justify">
    Modern scripting languages like <strong>JavaScript</strong> are widely used by developers all across the world. It is a compact, interpreted, and compiled 
    language that can be used on both the client and server sides of an application. Brendan Eich created it in 1995. The language has evolved 
    significantly over time, and numerous new features have been added that have simplified the coding process even further. In 1997, this language 
    was adopted as an ECMA standard.
</p>
<br>
<img src="../../_includes/images/javascriptversions.png" class="img-fluid" alt="Js Versions"> 
<br>
<p>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">ES1</h5>
                <small>1997</small>
            </div>
            <p class="mb-1">Initial Release</p>
            <small>ECMA Script 1</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">ES2</h5>
                <small class="text-muted">1998</small>
            </div>
            <p class="mb-1">Minor Editorial Changes</p>
            <small class="text-muted">ECMA Script 2</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">ES3</h5>
                <small class="text-muted">1999</small>
            </div>
            <p class="mb-1">
                <strong>Added:</strong>
                <ul>
                    <li>Regular Expression</li>
                    <li>try/catch</li>
                    <li>Exception Handling</li>
                    <li>switch case and do-while</li>
                </ul>
            </p>
            <small class="text-muted">ECMA Script 3</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">ES4</h5>
                <small class="text-muted">-</small>
            </div>
            <p class="mb-1">
                Abandoned due to conflicts - Never released
            </p>
            <small class="text-muted">ECMA Script 4</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">ES5</h5>
                <small class="text-muted">2009</small>
            </div>
            <p class="mb-1">
                <strong>Added:</strong>
                <ul>
                    <li>JavaScript “strict mode”</li>
                    <li>JSON support</li>
                    <li>JS getters and setters</li>
                    <li>String.trim()</li>
                    <li>Array.isArray()</li>
                    <li>Array iteration methods</li>
                </ul>
            </p>
            <small class="text-muted">ECMA Script 5</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">ES6</h5>
                <small class="text-muted">2015</small>
            </div>
            <p class="mb-1">
                <strong>Added:</strong>
                <ul>
                    <li>let and const</li>
                    <li>Class declaration</li>
                    <li>import and export</li>
                    <li>for..of loop</li>
                    <li>Arrow functions</li>
                </ul>
            </p>
            <small class="text-muted">ECMA Script 2015</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Yearly Additions</h5>
                <small class="text-muted">2016</small>
            </div>
            <p class="mb-1">
                <strong>Added:</strong>
                <ul>
                    <li>Block scope for variable</li>
                    <li>async/await</li>
                    <li>Array.includes function</li>
                    <li>Exponentiation Operator</li>
                </ul>
            </p>
            <small class="text-muted">ECMA Script 2016</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Yearly Additions</h5>
                <small class="text-muted">2017</small>
            </div>
            <p class="mb-1">
                <strong>Added:</strong>
                <ul>
                    <li>Object.values</li>
                    <li>Object.entries</li>
                    <li>Object.getOwnPropertiesDescriptors</li>
                    <li>async functions</li>
                    <li>string padding</li>
                </ul>
            </p>
            <small class="text-muted">ECMA Script 2017</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Yearly Additions</h5>
                <small class="text-muted">2018</small>
            </div>
            <p class="mb-1">
                <strong>Added:</strong>
                <ul>
                    <li>spread operator</li>
                    <li>rest parameters</li>
                    <li>asynchronous iteration</li>
                    <li>Promise.finally()</li>
                    <li>Additions to RegExp</li>
                </ul>
            </p>
            <small class="text-muted">ECMA Script 2018</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Yearly Additions</h5>
                <small class="text-muted">2019</small>
            </div>
            <p class="mb-1">
                <strong>Added:</strong>
                <ul>
                    <li>Array.flat()</li>
                    <li>Array.flatMap()</li>
                    <li>Array.sort is now stable</li>
                    <li>String.trimStart()</li>
                    <li>String.trimEnd()</li>
                </ul>
            </p>
            <small class="text-muted">ECMA Script 2019</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Yearly Additions</h5>
                <small class="text-muted">2020</small>
            </div>
            <p class="mb-1">
                <strong>Added:</strong>
                <ul>
                    <li>BigInt primitive type</li>
                    <li>nullish coalescing operator</li>
                </ul>
            </p>
            <small class="text-muted">ECMA Script 2020</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Yearly Additions</h5>
                <small class="text-muted">2021</small>
            </div>
            <p class="mb-1">
                <strong>Added:</strong>
                <ul>
                    <li>String.replaceAll() Method</li>
                    <li>Promise.any() Methodr</li>
                </ul>
            </p>
            <small class="text-muted">ECMA Script 2021</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Yearly Additions</h5>
                <small class="text-muted">2022</small>
            </div>
            <p class="mb-1">
                <strong>Added:</strong>
                <ul>
                    <li>Top-level await</li>
                    <li>New class elements</li>
                    <li>Static block inside classes</li>
                </ul>
            </p>
            <small class="text-muted">ECMA Script 2022</small>
        </a>
    </div>
</p>
<br>
<p>
    <strong>Older </strong> versions of browsers do not support ES6.
</p>
