    <p align="just">
        In the ES6 version of JavaScript, we can insert, or <em>interpolate</em>, variables into strings using <em>template literals</em>. Check out the following example where a template literal is used to log strings together:
    </p>
    <pre>
    <code class="javascript">
    const myPet = 'armadillo';
    console.log(`I own a pet ${myPet}.`);
    // Output: I own a pet armadillo.
    </code>
    </pre>
    <p>
        Notice that:
    </p>
    <br>
    <ul>
        <li>
            a template literal is wrapped by backticks <code>`</code> (this key is usually located on the top of your keyboard, left of the <kbd>1</kbd> key).
        </li>
        <li>
            Inside the template literal, you’ll see a placeholder, <code>${myPet}</code>. The value of <code>myPet</code> is inserted into the template literal.
        </li>
        <li>
            When we interpolate <code>`I own a pet ${myPet}.`</code>, the output we print is the string: <code>'I own a pet armadillo.'</code>
        </li>
    </ul>
    <br>
    <p align="just">
        One of the biggest benefits to using template literals is the readability of the code. Using template literals, you can more easily tell what the new string will be. You also don’t have to worry about escaping double quotes or single quotes. 
    </p>

<br>
<h4 class="d-flex">
  <i class="bi bi-check-circle-fill" style="color: green"></i>
  <span class="px-2">Tasks</span>
</h4>

<div class="question">
    <div>
      <h5>#1</h5>
      <p align="justify">
        Create a variable called <strong>myName</strong> and assign it your name.
      </p>
    </div>
    <br>
    <button class="solution-btn">Solution</button>
    <div class="solution">
      <div class="solution-content">
        <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/up1ht76j/embedded/js,result/dark/" 
        allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
      </div>
    </div>
</div>

<div class="question">
    <div>
      <h5>#2</h5>
      <p align="justify">
        Create a variable called <strong>myBirthPlace</strong> and assign it your birth place.
      </p>
    </div>
    <br>
    <button class="solution-btn">Solution</button>
    <div class="solution">
      <div class="solution-content">
        <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/L12x0q6g/2/embedded/js,result/dark/" 
        allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
      </div>
    </div>
</div>

<div class="question">
    <div>
      <h5>#3</h5>
      <p align="justify">
        Use a single template literal to interpolate your variables into the sentence below. Use console.log() to print your sentence to the console in the following format:
<pre>
    <code class="javascript">
    // My name is NAME. My birth place is BIRTHPLACE.
    </code>
</pre>
        Replace NAME and BIRTHPLACE in the string above by interpolating the values saved to myName and myBirthPlace.
      </p>
    </div>
    <br>
    <button class="solution-btn">Solution</button>
    <div class="solution">
      <div class="solution-content">
        <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/p4L089cz/4/embedded/js,result/dark/" 
        allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
      </div>
    </div>
</div>

