<p align="justify">
    The  <strong>let</strong> statement in JavaScript is used to declare variables that are scoped to the nearest enclosing block. 
    Another term for this is called block scope variable.
</p>
<br>
<p align="justify">
    <strong>let</strong> statement was introduced in JavaScript 1.7, providing JavaScript with more stable functionality.
</p>
<br>
<p align="justify">
    JavaScript will automatically assign an undefined value to the variables if no value is given to them at the time of declaration.
</p>
<br>
<p align="justify">
    Variables cannot be used prior to their declaration; otherwise, an error occurs.   
</p>
    <pre>
    <code class="javascript">
    let variable_name = value;
    </code>
    </pre>
<h5>Parameter</h5>
<ul>
    <li>
        <strong>let:</strong> JavaScript reserved keyword.
    </li>
    <li>
        <strong>constant_name:</strong> Name of the variable.
    </li>
    <li>
        <strong>value:</strong> Optional, Initial value assign at the time of declaration.
    </li>
</ul>
<p>
    You can declare one or more variables in a single statement separated by a comma.
</p>
    <pre>
    <code class="javascript">
    let var1 = val1, var2 = val2, ..., varN = valN;
    </code>
    </pre>
<p align="justify">
    <strong>let in functional scope:</strong> In the following let statement example, variable scope is used within function.
</p>
    <pre>
    <code class="javascript">
    function callme() {
        let printText = "Team DefineX";
        console.log("inside: "+ printText); // inside: Team DefineX
    }

    callme();
    console.log("outside: "+ printText); // Uncaught ReferenceError: printText is not defined"
    </code>
    </pre>
<p align="justify">
    <strong>let in loops:</strong> let variable can be seen in the <code>for()</code> loop block.
</p>
    <pre>
    <code class="javascript">
    function callme() {
        for( let i = 1; i < 5; i++ ) {
            console.log(i);                    // 1, 2, 3, 4
        };
        
        console.log("Outside for block:", i);  // i not defined   
    }

    callme();
    </code>
    </pre>
<p align="justify">
    let variable is visible in the <code>if</code> condition block.
</p>
    <pre>
    <code class="javascript">
    if (true) {
        let i;
        for( i = 1; i < 5; i++ ) {
            console.log(i);  // 1, 2, 3, 4
        };
    }

    console.log(i);          // Uncaught ReferenceError: i is not defined"
    </code>
    </pre>
<p align="justify">
    <strong>let in global scope:</strong> let keyword can be utilized to define the variable globally. Once you define it globally, 
    you can access it both inside and outside of the function.
</p>
    <pre>
    <code class="javascript">
    let i = 1;
    console.log("start----", i);                    // start---- 1
    
    function callme() {
        for( i = 1; i < 5; i++ ) {
            console.log("looping time----",i);      // looping time---- 1, 2, 3, 4, 5 
        };
        console.log("function end----", i);         // function end---- 5
    }  
 
    callme();
    console.log("end----", i);                    // end---- 5
    </code>
    </pre>

<br>
<h4 class="d-flex">
  <i class="bi bi-check-circle-fill" style="color: green"></i>
  <span class="px-2">Tasks</span>
</h4>

<div class="question">
  <div>
    <h5>#1</h5>
    <p align="justify">
        Create the let variable <strong>lifeIsGood</strong> and assign it to the Boolean true.
    </p>
  </div>
  <br>
  <button class="solution-btn">Solution</button>
  <div class="solution">
    <div class="solution-content">
        <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/npbe1fg3/embedded/js,result/dark/" 
        allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
    </div>
  </div>
</div>


<div class="question">
  <div>
    <h5>#2</h5>
    <p align="justify">
        Set the boolean true value of <strong>lifeIsGood</strong> to false on the line following its declaration. Print the value saved 
        to <strong>lifeIsGood</strong> to the console to determine if it was reassigned.
    </p>
  </div>
  <br>
  <button class="solution-btn">Solution</button>
  <div class="solution">
    <div class="solution-content">
        <iframe width="100%" height="300" src="//jsfiddle.net/TeamDFX/6gv1xcpt/1/embedded/js,result/dark/" 
        allowfullscreen="allowfullscreen" allowpaymentrequest frameborder="0"></iframe>
    </div>
  </div>
</div>