<h5 class="my-3">Arrays Information for Javascript</h5>
<p class="my-3">
  An array is a special variable, which can hold more than one value.
  In JavaScript, an array is a data structure that allows you to store and manipulate a collection of values of
  any type. It is a fundamental concept in programming and is extensively used in JavaScript and many other
  programming languages.
</p>

<p>Here are some common use cases and operations involving arrays in JavaScript<p></br>

<h6>#1 Storing a collection of values</h6>
<p class="my-3">
  There are few ways of creating arrays.
</p>

<strong>"numbers" Array</strong></br>

<pre>
<code class="javascript">
let numbers = [1, 2, 3, 4, 5];
</code>
</pre>
<ul>
  <li>This is a simple array that contains a collection of numerical values.</li>
  <li>It's an array of integers, specifically, with elements ranging from 1 to 5.</li>
  <li>Arrays are an ordered collection of elements, and in this case, the elements are integers.</li>
</ul>

<strong>"string" Array</strong></br>

<pre>
<code class="javascript">
let teams = ["Team A", "Team B", "Team C"];
</code>
</pre>
<ul>
  <li>This array stores a collection of strings, representing different teams.</li>
  <li>The elements are strings with the names of the teams, such as "Team A," "Team B," and "Team C."</li>
</ul>

<strong>"mixedArray" Array</strong></br>

<pre>
<code class="javascript">
let mixedArray = [1, "two", { name: "John", age: 32 }];
</code>
</pre>

<ul>
  <li>mixedArray is a more complex array containing a mix of different data types.</li>
  <li>It includes an integer (1), a string ("two"), and an object with properties (name: "John", age: 32).</li>
  <li>This demonstrates that JavaScript arrays can hold a variety of data types.</li>
</ul>

<strong>"heroProfiles" Array of Objects</strong></br>

<pre>
<code class="javascript">
let heroProfiles = [
  {
    name: "Superman",
    secretIdentity: "Clark Kent",
    powers: ["Flight", "Super Strength"],
    age: 35,
    isHero: true
  },
  {
    name: "Batman",
    secretIdentity: "Bruce Wayne",
    powers: ["Intelligence", "Combat Skills"],
    age: 40,
    isHero: true
  },
  {
    name: "Wonder Woman",
    secretIdentity: "Diana Prince",
    powers: ["Superhuman Strength", "Lasso of Truth"],
    age: 500,
    isHero: true
  }
];
</code>
</pre>

<ul>
  <li>heroProfiles is an array of objects, each representing a superhero's profile.</li>
  <li>Each object has properties like "name," "secretIdentity," "powers," "age," and "isHero," along with their
    respective values.</li>
  <li>This structure is a way to organize and store data about superheroes in a structured and readable format.</li>
</ul>

<p>
  In summary, these arrays are used to store collections of values or objects, making it easier to work with and
  manipulate the data in JavaScript. They serve various purposes, from holding simple numbers and strings to
  organizing complex data, such as superhero profiles.
</p></br>

<h6>#2 Accessing array elements</h6>
<p class="my-3">
  There are few ways of accessing to arrays.
</p>
<pre>
<code class="javascript">
let numbers = [1, 2, 3, 4, 5];
console.log(numbers[0]);  // Output: 1
console.log(numbers[2]);  // Output: 
console.log(heroProfiles[0].name);           // Output: "Superman"
console.log(heroProfiles[1].secretIdentity); // Output: "Bruce Wayne"
console.log(heroProfiles[1]["secretIdentity"]); //  Output: "Bruce Wayne"  Square bracket notation
console.log(heroProfiles[2].powers);         // Output: ["Superhuman Strength", "Lasso of Truth"]
</code>
</pre>

<strong>console.log(numbers[0]);</strong>
<ul>
  <li>This line accesses the first element of the numbers array.</li>
  <li>Arrays in JavaScript are zero-indexed, which means the first element is at index 0.</li>
  <li>Output: 1 - It will print the value 1 to the console.</li>
</ul>

<strong>console.log(numbers[2]);</strong>
<ul>
  <li>This line accesses the third element of the numbers array.</li>
  <li>Again, it's using zero-based indexing.</li>
  <li>Output: 3 - It will print the value 3 to the console.</li>
</ul>

<strong>console.log(heroProfiles[0].name);</strong>
<ul>
  <li>Here, it accesses the name property of the first object in the heroProfiles array.</li>
  <li>heroProfiles[0] refers to the first object, and .name accesses the "name" property within that object.</li>
  <li>Output: "Superman" - It prints the name of the first superhero, which is "Superman."</li>
</ul>

<strong>console.log(heroProfiles[1].secretIdentity);</strong>
<ul>
  <li>This line accesses the secretIdentity property of the second object in the heroProfiles array.</li>
  <li>heroProfiles[1] refers to the second object, and .secretIdentity accesses the "secretIdentity" property within
    that object.</li>
  <li>Output: "Bruce Wayne" - It prints the secret identity of the second superhero, which is "Bruce Wayne."</li>
</ul>

<strong>console.log(heroProfiles[1]["secretIdentity"]);</strong>
<ul>
  <li>This is another way to access the secretIdentity property of the second object using square bracket notation.
  </li>
  <li>The square brackets allow you to access object properties with spaces or special characters.</li>
  <li>Output: "Bruce Wayne" - It's the same result as the previous line, printing the secret identity.</li>
</ul>

<strong>console.log(heroProfiles[2].powers);</strong>
<ul>
  <li>Here, it accesses the powers property of the third object in the heroProfiles array.</li>
  <li>heroProfiles[2] refers to the third object, and .powers accesses the "powers" property within that object.</li>
  <li>Output: ["Superhuman Strength", "Lasso of Truth"] - It prints an array of the powers possessed by the third
    superhero, which includes "Superhuman Strength" and "Lasso of Truth."</li>
</ul>

<p>
  In summary, you access array elements using square brackets, specifying the index of the element you want to access.
  When working with arrays of objects, you can also use dot notation or square bracket notation to access specific
  properties within those objects.
</p></br>

<h6>#3 Modifying Array Elements and Adding Properties</h6>
<p class="my-3">
  Below code we demonstrate how to add new properties and access to them.
</p>
<pre>
<code class="javascript">
heroProfiles[0].powers.push("Heat Vision");      // Add a power to Superman
heroProfiles[1].isRich = true;                   // Add a new property to Batm
console.log(heroProfiles[0].powers);         // Output: ["Flight", "Super Strength", "Heat Vision"]
console.log(heroProfiles[1].isRich);         // Output: true
</code>
</pre>

<strong>heroProfiles[0].powers.push("Heat Vision");</strong>
<ul>
  <li>This line modifies the first superhero's (Superman) powers.</li>
  <li>heroProfiles[0] refers to the first object in the heroProfiles array, which is Superman.</li>
  <li>.powers accesses the "powers" property (which is an array), and .push() adds a new element, "Heat Vision," to that
    array.</li>
  <li>After this line, "Heat Vision" is added to Superman's list of powers.</li>
  <li>Output: ["Flight", "Super Strength", "Heat Vision"] - It prints the updated array of powers for Superman.</li>
</ul>

<strong>heroProfiles[1].isRich = true;</strong>
<ul>
  <li>This line adds a new property, "isRich," to the second superhero (Batman) in the heroProfiles array.</li>
  <li>heroProfiles[1] refers to the second object in the array, which is Batman.</li>
  <li>.isRich creates a new property "isRich" and assigns it the value true.</li>
  <li>After this line, the heroProfiles array now has a "isRich" property for Batman.</li>
  <li>Output: true - It prints true to indicate that Batman is considered rich.</li>
</ul>

<p>These lines demonstrate how to modify array elements within an array of objects in JavaScript. 
  You can add new elements to arrays (in this case, adding a new power to Superman), and you can also add new properties to objects
  within the array (in this case, adding the "isRich" property to Batman). This flexibility makes JavaScript a powerful
  language for working with data and objects.</p>
</div>