<div>
    <h5 class="my-3">Arrays Information for Javascript
    </h5>
    <p class="my-3">
        An array is a special variable, which can hold more than one value.
        In JavaScript, an array is a data structure that allows you to store and manipulate a collection of values of
        any type. It is a fundamental concept in programming and is extensively used in JavaScript and many other
        programming languages.
    </p>
    <p>

    <div>
        <h5 class="my-3">Here are some common use cases and operations involving arrays in JavaScript</h5>

<h6>#1 Storing a collection of values:</h6>
<pre>
<code class="javascript">
    let numbers = [1, 2, 3, 4, 5];
    let teams = ["Team A", "Team B", "Team C"];
    let mixedArray = [1, "two", { name: "John", age: 32 }];
    let heroProfiles = [
      {
        name: "Superman",
        secretIdentity: "Clark Kent",
        powers: ["Flight", "Super Strength"],
        age: 35,
        isHero: true
      },
      {
        name: "Batman",
        secretIdentity: "Bruce Wayne",
        powers: ["Intelligence", "Combat Skills"],
        age: 40,
        isHero: true
      },
      {
        name: "Wonder Woman",
        secretIdentity: "Diana Prince",
        powers: ["Superhuman Strength", "Lasso of Truth"],
        age: 500,
        isHero: true
      }
    ];
</code>
</pre>

<h6>#2 Accessing array elements:</h6>
<pre>
<code class="javascript">
    let numbers = [1, 2, 3, 4, 5];
    console.log(numbers[0]);  // Output: 1
    console.log(numbers[2]);  // Output: 
    console.log(heroProfiles[0].name);           // Output: "Superman"
    console.log(heroProfiles[1].secretIdentity); // Output: "Bruce Wayne"
    console.log(heroProfiles[1]["secretIdentity"]); //  Output: "Bruce Wayne"  Square bracket notation
    console.log(heroProfiles[2].powers);         // Output: ["Superhuman Strength", "Lasso of Truth"]
</code>
</pre>
        
<h6>#3 Modifying array elements:</h6>
<pre>
<code class="javascript">
    heroProfiles[0].powers.push("Heat Vision");      // Add a power to Superman
    heroProfiles[1].isRich = true;                   // Add a new property to Batm
    console.log(heroProfiles[0].powers);         // Output: ["Flight", "Super Strength", "Heat Vision"]
    console.log(heroProfiles[1].isRich);         // Output: true
</code>
</pre>            
        </div>
    </div>
    </p>
</div>